In [390]:
!pip install currencyconverter

Requirement already satisfied: currencyconverter in c:\users\lzj1995\appdata\roaming\python\python37\site-packages (0.13.8)

In [11]:
import time
import json
from bs4 import BeautifulSoup # For HTML parsing
import requests # Website connections
from time import sleep # To prevent overwhelming the server between connections
from collections import Counter # Keep track of our term counts
import pandas as pd # For converting results to a dataframe and bar chart plots
import numpy as np
import json # For parsing json
import urllib
from urllib.request import urlopen
import re
import matplotlib.pylab as plt
from datetime import datetime
from tqdm import tqdm_notebook as tqdm
import seaborn as sns
%matplotlib inline

## Join tables

In [145]:
table_1=pd.read_csv('Year_1993.csv')
table_2=pd.read_csv('Year_1994.csv')
table_3=pd.read_csv('Year_1995_to_2000.csv')
table_4=pd.read_csv('Year_2001_to_2003.csv')
table_5=pd.read_csv('Year_2004_to_2009.csv')
table_6=pd.read_csv('Year_2010_to_2019.csv')

In [146]:
table_1.rename(index=str,columns={"opeing USA box_office":"opeing USA box office"},inplace=True)
table_2.rename(index=str,columns={"opeing USA box 53office":"opeing USA box office"},inplace=True)
table_3.rename(columns={"opeing USA box 53office":"opeing USA box office"},inplace=True)
table_4.rename(columns={"opeing USA box 53office":"opeing USA box office"},inplace=True)
table_5.rename(columns={"opeing USA box 53office":"opeing USA box office"},inplace=True)
table_6.rename(columns={"opeing USA box 53office":"opeing USA box office"},inplace=True)

In [147]:
print(len(table_1))
print(len(table_2))
print(len(table_3))
print(len(table_4))
print(len(table_5))
print(len(table_6))

450
450
2700
1350
2700
4050

In [148]:
frames = [table_1, table_2, table_3,table_4,table_5,table_6]
df = pd.concat(frames,sort=False)
df.tail()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
4045,To the Brink and Back,2018-March-5,South Korea,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zheng Zhou,Siyuan Lin,"Min Li, Xinyan Wang",NaN,NaN,NaN,NaN
4046,God svini,2018-December-27,Russia,Russian,NaN,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,Semyon Yakovlev,"Oleg Khaybullin, Vasily Pavlov","Yuliya Aleksandrova, Aleksandr Yatsenko, Alina...",NaN,NaN,NaN,NaN
4047,Respublika Z,2018-April-12,Russia,Yakut,87.0,"Adventure, Horror, Thriller",NaN,6.3,NaN,7.0,NaN,NaN,Stepan Burnashev,NaN,NaN,"RUR4,000,000",NaN,NaN,NaN
4048,Siksa. Stabat mater dolorosa,2018-December-6,Poland,Polish,NaN,"Musical, Mystery",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4049,Puffs: Filmed Live Off Broadway,2018-May-9,USA,English,118.0,"Adventure, Comedy",NaN,NaN,NaN,NaN,NaN,NaN,Kristin McCarthy Parker,NaN,"Langston Belton, Jessie Cannizzaro, Nick Carri...",NaN,NaN,NaN,NaN

In [149]:
df.reset_index().drop(columns='index')

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Jurassic Park,1993-June-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","$63,000,000","$50,159,460","$402,453,882","$1,029,153,882"
1,Mrs. Doubtfire,1993-November-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...","$25,000,000",NaN,"$219,200,000","$441,286,195"
2,The Fugitive,1993-August-6,USA,"English, Polish, Spanish",130.0,"Action, Crime, Drama",PG-13,7.8,87.0,243089.0,295.0,123.0,Andrew Davis,"Jeb Stuart, David Twohy","Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...","$44,000,000","$23,758,855","$183,875,760","$368,875,760"
3,The Firm,1993-June-30,USA,English,154.0,"Drama, Mystery, Thriller",R,6.8,58.0,104963.0,151.0,65.0,Sydney Pollack,"John Grisham, David Rabe","Tom Cruise, Jeanne Tripplehorn, Gene Hackman, ...","$42,000,000","$25,400,000","$158,348,367","$270,248,367"
4,Sleepless in Seattle,1993-June-25,USA,English,105.0,"Comedy, Drama, Romance",PG,6.8,72.0,143571.0,233.0,77.0,Nora Ephron,"Jeff Arch, Nora Ephron","Tom Hanks, Ross Malinger, Rita Wilson, Victor ...","$21,000,000",NaN,"$126,533,006","$101,200,000"
5,Indecent Proposal,1993-April-7,USA,English,117.0,"Drama, Romance",R,5.9,35.0,56359.0,124.0,56.0,Adrian Lyne,"Jack Engelhard, Amy Holden Jones","Robert Redford, Demi Moore, Woody Harrelson, S...","$38,000,000",NaN,"$106,614,100","$266,600,000"
6,In the Line of Fire,1993-July-9,USA,English,128.0,"Action, Crime, Drama",R,7.2,74.0,84376.0,146.0,73.0,Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo, Dy...","$40,000,000",NaN,"$102,314,283","$85,000,000"
7,The Pelican Brief,1993-December-17,USA,English,141.0,"Crime, Drama, Mystery",PG-13,6.6,50.0,69321.0,101.0,49.0,Alan J. Pakula,"John Grisham, Alan J. Pakula","Julia Roberts, Denzel Washington, Sam Shepard,...","$45,000,000","$16,864,404","$100,768,056","$195,268,056"
8,Schindler's List,1993-December-25,USA,"English, Hebrew, German, Polish",195.0,"Biography, Drama, History",R,8.9,93.0,1071427.0,1553.0,217.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","$22,000,000","$656,636","$96,067,179","$221,000,000"
9,Cliffhanger,1993-May-28,"USA, Italy, France",English,113.0,"Action, Adventure, Thriller",R,6.4,60.0,110389.0,181.0,86.0,Renny Harlin,"John Long, Michael France","Sylvester Stallone, John Lithgow, Michael Rook...","$70,000,000","$20,458,022","$84,049,211","$171,000,000"
10,Free Willy,1993-July-16,"USA, France",English,112.0,"Adventure, Drama, Family",PG,5.9,79.0,61816.0,72.0,25.0,Simon Wincer,"Keith Walker, Keith Walker","Jason James Richter, Lori Petty, Jayne Atkinso...","$20,000,000","$7,868,829","$77,698,625","$153,698,625"
11,Philadelphia,1994-January-14,USA,English,125.0,Drama,PG-13,7.7,66.0,204771.0,279.0,79.0,Jonathan Demme,Ron Nyswaner,"Tom Hanks, Denzel Washington, Roberta Maxwell,...","$26,000,000","$143,433","$77,324,422","$206,678,440,"
12,The Nightmare Before Christmas,1993-October-29,USA,English,76.0,"Animation, Family, Fantasy",PG,8.0,82.0,266295.0,474.0,221.0,Henry Selick,"Tim Burton, Michael McDowell","Danny Elfman, Chris Sarandon, Catherine O'Hara...","$18,000,000","$191,232","$75,082,668",NaN
13,Groundhog Day,1993-February-12,USA,"English, French, Italian",101.0,"Comedy, Fantasy, Romance",PG,8.0,72.0,535870.0,690.0,178.0,Harold Ramis,"Danny Rubin, Harold Ramis","Bill Murray, Andie MacDowell, Chris Elliott, S...","$14,600,000","$14,652,108","$70,906,973",NaN
14,Grumpy Old Men,1993-December-25,USA,English,103.0,"Comedy, Drama, Romance",PG-13,7.0,53.0,39720.0,88.0,39.0,Donald Petrie,Mark Steven Johnson,"Jack Lemmon, Walter Matthau, Ann-Margret, Burg...",NaN,NaN,"$70,172,621",NaN
15,Cool Runnings,1994-June-24,USA,"English, German, Russian",98.0,"Adventure, Comedy, Family",PG,6.9,60.0,83416.0,106.0,48.0,Jon Turteltaub,"Lynn Siefert, Michael Ritchie","Leon, Doug E. Doug, Rawle D. Lewis, Malik Yoba...","$15,000,000",NaN,"$68,856,263","$154,856,263"
16,Dave,1993-May-7,USA,"English, Spanish",110.0,"Comedy, Romance",PG-13,6.8,76.0,45451.0,136.0,53.0,Ivan Reitman,Gary Ross,"Kevin Kline, Sigourney Weaver, Frank Langella,...","$28,000,000","$7,306,755","$63,270,710",NaN
17,Rising Sun,1993-July-30,USA,"English, Japanese",125.0,"Action, Crime, Drama",R,6.2,56.0,39267.0,82.0,42.0,Philip Kaufman,"Michael Crichton, Philip Kaufman","Sean Connery, Wesley Snipes, Harvey Keitel, Ca...","$35,000,000",NaN,"$63,095,271","$107,198,790"
18,Demolition Man,1993-October-8,USA,English,115.0,"Action, Crime, Sci-Fi",R,6.6,34.0,144129.0,227.0,102.0,Marco Brambilla,"Peter M. Lenkov, Robert Reneau","Sylvester Stallone, Wesley Snipes, Sandra Bull...","$57,000,000","$15,973,850","$58,055,768","$159,055,768"
19,Sister Act 2: Back in the Habit,1993-December-10,USA,English,107.0,"Comedy, Family, Music",PG,5.5,NaN,43930.0,83.0,19.0,Bill Duke,"Paul Rudnick, James Orr","Whoopi Goldberg, Kathy Najimy, Barnard Hughes,...","$38,000,000","$7,569,219","$57,319,029",NaN
20,Tombstone,1993-December-25,USA,"English, Latin",130.0,"Action, Biography, Drama",R,7.8,50.0,113779.0,470.0,91.0,"George P. Cosmatos, Kevin Jarre",Kevin Jarre,"Kurt Russell, Val Kilmer, Sam Elliott, Bill Pa...","$25,000,000","$6,454,752","$56,505,065",NaN
21,The Three Musketeers,1993-November-12,"Austria, UK, USA",English,105.0,"Action, Adventure, Comedy",PG,6.4,NaN,46476.0,150.0,32.0,Stephen Herek,"Alexandre Dumas, David Loughery","Charlie Sheen, Kiefer Sutherland, Chris O'Donn...","$30,000,000",NaN,"$53,898,845",NaN
22,Rookie of the Year,1993-July-7,USA,English,103.0,"Comedy, Family, Fantasy",PG,6.0,NaN,21855.0,40.0,18.0,Daniel Stern,Sam Harper,"Thomas Ian Nicholas, Gary Busey, Albert Hall, ...","$10,000,000",NaN,"$53,579,269",NaN
23,Beethoven's 2nd,1993-December-17,USA,English,89.0,"Comedy, Family, Romance",PG,4.9,NaN,23163.0,29.0,12.0,Rod Daniel,"John Hughes, Amy Holden Jones","Charles Grodin, Bonnie Hunt, Nicholle Tom, Chr...","$15,000,000","$6,017,225","$53,354,166","$118,154,166"
24,Dennis the Menace,1993-June-25,USA,"English, French",94.0,"Comedy, Family",PG,5.6,NaN,50757.0,64.0,20.0,Nick Castle,"Hank Ketcham, John Hughes","Walter Matthau, Mason Gamble, Joan Plowright, ...",NaN,NaN,"$51,270,765","$117,300,000"
25,Sommersby,1993-February-5,"France, USA",English,114.0,"Drama, Mystery, Romance",PG-13,6.2,NaN,17777.0,52.0,23.0,Jon Amiel,"Daniel Vigne, Jean-Claude Carrière","Richard Gere, Jodie Foster, Lanny Flaherty, We...",NaN,"$8,104,624","$50,081,992","$140,100,000"
26,Last Action Hero,1993-June-18,USA,English,130.0,"Action, Adventure, Comedy",PG-13,6.3,44.0,123865.0,276.0,106.0,John McTiernan,"Zak Penn, Adam Leff","Arnold Schwarzenegger, F. Murray Abraham, Art ...","$85,000,000","$15,338,241","$50,016,394","$137,298,489"
27,Addams Family Values,1993-November-19,USA,English,94.0,"Comedy, Fantasy",PG-13,6.7,62.0,68685.0,132.0,50.0,Barry Sonnenfeld,"Charles Addams, Paul Rudnick","Anjelica Huston, Raul Julia, Christopher Lloyd...","$47,000,000","$14,117,545","$48,919,043",NaN
28,Wayne's World 2,1993-December-10,USA,"English, Cantonese",95.0,"Comedy, Music",PG-13,6.2,60.0,71062.0,83.0,40.0,Stephen Surjik,"Mike Myers, Mike Myers","Mike Myers, Dana Carvey, Christopher Walken, T...","$40,000,000",NaN,"$48,197,805",NaN
29,Malice,1993-October-1,"Canada, USA","English, French",107.0,"Crime, Mystery, Thriller",R,6.4,NaN,20781.0,104.0,45.0,Harold Becker,"Aaron Sorkin, Jonas McCord","Alec Baldwin, Nicole Kidman, Bill Pullman, Beb...","$20,000,000","$9,232,650","$46,044,636",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11670,Nenu Nene Ramune,2018-November-28,India,Telugu,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11671,Shyrakshy,2018-November-30,Kazakhstan,Kazakh,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,Ermek Tursunov,NaN,NaN,NaN,NaN,NaN,NaN
11672,Ratham,2018-October-26,India,Telugu,NaN,"Drama, Romance",NaN,NaN,NaN,NaN,NaN,NaN,Kanuri Chandrasekhar,NaN,NaN,NaN,NaN,NaN,NaN
11673,2 Friends,2018-October-26,India,Telugu,134.0,"Comedy, Drama, Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Polur Ghatikachalam,"Sonia Sarkar Dey, Sadhu Kokila, Srinivasa Rao ...","INR30,000,000",NaN,NaN,NaN
11674,It Takes Time,2018-December-28,Canada,English,80.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,Stephane Ouellet,NaN,Stephane Ouellet,"CAD248,835",NaN,NaN,NaN
11675,Ayyo Rama,2018-July-27,India,Kannada,116.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rockline Sudhakar,"INR6,000,000",NaN,NaN,NaN
11676,Schwarzer Garten,2018-November-17,Germany,German,3060.0,"Horror, Mystery",NaN,NaN,NaN,NaN,NaN,NaN,Florian Helwich,Florian Helwich,Theódor Sölvi Thomasson,NaN,NaN,NaN,NaN
11677,Peacemaker Kurogane: Omo-michi,2018-June-2,Japan,Japanese,NaN,"Animation, Action, Comedy",NaN,NaN,NaN,NaN,NaN,NaN,Shigeru Kimiya,"Nanae Kurono, Eiji Umehara","Masami Iwasaki, Jôji Nakata, Mikako Takahashi,...",NaN,NaN,NaN,NaN
11678,Saudades do futuro,2018-July-15,Portugal,"Portuguese, German",2700.0,Crime,NaN,NaN,NaN,NaN,NaN,NaN,Joao Ribeiro,Joao Ribeiro,NaN,€100,NaN,NaN,NaN
11679,Aamako Man,2018-July-22,Nepal,Nepali,60.0,"Drama, Family",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NPR2,500,000",NaN,NaN,NaN
11680,The Passion of Love,(USA)-2018-November,NaN,English,80.0,"Drama, Romance",NaN,NaN,NaN,NaN,NaN,NaN,Jean M Nelson,Jean M Nelson,"Irina Alexandra, Irina Belska, Danielle Joelle...",NaN,NaN,NaN,NaN
11681,Li Bao Guo,2018-August-8,China,Chinese,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tianlai Hou, Yongjian Lin, Jun Wu, Danchen Yan...",NaN,NaN,NaN,NaN
11682,Tian Yan Feng Yun,(China)-2018,China,Chinese,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,Hu Yang,NaN,"Xiaofan Lin, Pu Zhou",NaN,NaN,NaN,NaN
11683,A Cidade dos Piratas,2018-August-24,Brazil,Portuguese,NaN,Animation,NaN,NaN,NaN,NaN,NaN,NaN,Otto Guerra,NaN,NaN,NaN,NaN,NaN,NaN
11684,She Evil Vol.1,2018-May-8,USA,English,3360.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mimi Allen, Adrien Cannon, Ty Kruz, Barin Nely...","$13,000",NaN,NaN,NaN
11685,Anatoli's Dream,2018-February-12,Turkey,Persian,100.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,Mohammad Ravandi,Mohammad Ravandi,"Benyamin Ahmadi, Azimi Fereydon, Sanaz Zarrinmehr","$150,000",NaN,NaN,NaN
11686,Give Me A Ride,2018-March-27,China,Chinese,104.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,Zhenhao Xu,Zhenhao Xu,NaN,"$600,000",NaN,NaN,NaN
11687,Eight,2018-October-4,Ukraine,Russian,88.0,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11688,Randy Writes a Novel,(Australia)-2018,Australia,English,70.0,Comedy,NaN,9.2,NaN,17.0,NaN,NaN,Anthony Warrington,NaN,NaN,NaN,NaN,NaN,NaN
11689,"The Match, The Annie Tyler Story",2018-August-2,UK,English,81.0,"Comedy, Drama",NaN,NaN,NaN,NaN,NaN,NaN,Aidan Moran,"Aidan Moran, Martin Noble","Owen Goode, Matthew Drury, Shi Drury",£600,NaN,NaN,NaN
11690,100 Miles the movie,2018-January-1,USA,English,62.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$65,NaN,NaN,NaN
11691,Surviving the Outback,2018-August-18,Australia,English,3420.0,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"AUD35,000",NaN,NaN,NaN
11692,Rise: Ini Kalilah,NaN,NaN,NaN,NaN,NaN,NaN,6.2,NaN,5.0,NaN,NaN,Teong Hin Saw,NaN,Tom Ashley,NaN,NaN,NaN,NaN
11693,Paranormal Investigation,NaN,France,French,92.0,Horror,NaN,3.6,NaN,213.0,12.0,1.0,Franck Phelizon,Franck Phelizon,"Jose Atuncar, Claudine Bertin, Gabriella Jordan",NaN,NaN,NaN,NaN
11694,Curse of the Hag,2018-July-17,USA,English,73.0,Horror,Not Rated,NaN,NaN,NaN,NaN,NaN,Carolyn Baker,"Carolyn Baker, Rob Michels","Carolyn Baker, Christina Beller, Kate Boomsma,...","$30,000",NaN,NaN,NaN
11695,To the Brink and Back,2018-March-5,South Korea,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zheng Zhou,Siyuan Lin,"Min Li, Xinyan Wang",NaN,NaN,NaN,NaN
11696,God svini,2018-December-27,Russia,Russian,NaN,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,Semyon Yakovlev,"Oleg Khaybullin, Vasily Pavlov","Yuliya Aleksandrova, Aleksandr Yatsenko, Alina...",NaN,NaN,NaN,NaN
11697,Respublika Z,2018-April-12,Russia,Yakut,87.0,"Adventure, Horror, Thriller",NaN,6.3,NaN,7.0,NaN,NaN,Stepan Burnashev,NaN,NaN,"RUR4,000,000",NaN,NaN,NaN
11698,Siksa. Stabat mater dolorosa,2018-December-6,Poland,Polish,NaN,"Musical, Mystery",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11699,Puffs: Filmed Live Off Broadway,2018-May-9,USA,English,118.0,"Adventure, Comedy",NaN,NaN,NaN,NaN,NaN,NaN,Kristin McCarthy Parker,NaN,"Langston Belton, Jessie Cannizzaro, Nick Carri...",NaN,NaN,NaN,NaN

## Select data with budget & box office

In [150]:
data = df[(df['budget'].notnull()) & (df['international box office'].notnull())]
data

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Jurassic Park,1993-June-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","$63,000,000","$50,159,460","$402,453,882","$1,029,153,882"
1,Mrs. Doubtfire,1993-November-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...","$25,000,000",NaN,"$219,200,000","$441,286,195"
2,The Fugitive,1993-August-6,USA,"English, Polish, Spanish",130.0,"Action, Crime, Drama",PG-13,7.8,87.0,243089.0,295.0,123.0,Andrew Davis,"Jeb Stuart, David Twohy","Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...","$44,000,000","$23,758,855","$183,875,760","$368,875,760"
3,The Firm,1993-June-30,USA,English,154.0,"Drama, Mystery, Thriller",R,6.8,58.0,104963.0,151.0,65.0,Sydney Pollack,"John Grisham, David Rabe","Tom Cruise, Jeanne Tripplehorn, Gene Hackman, ...","$42,000,000","$25,400,000","$158,348,367","$270,248,367"
4,Sleepless in Seattle,1993-June-25,USA,English,105.0,"Comedy, Drama, Romance",PG,6.8,72.0,143571.0,233.0,77.0,Nora Ephron,"Jeff Arch, Nora Ephron","Tom Hanks, Ross Malinger, Rita Wilson, Victor ...","$21,000,000",NaN,"$126,533,006","$101,200,000"
5,Indecent Proposal,1993-April-7,USA,English,117.0,"Drama, Romance",R,5.9,35.0,56359.0,124.0,56.0,Adrian Lyne,"Jack Engelhard, Amy Holden Jones","Robert Redford, Demi Moore, Woody Harrelson, S...","$38,000,000",NaN,"$106,614,100","$266,600,000"
6,In the Line of Fire,1993-July-9,USA,English,128.0,"Action, Crime, Drama",R,7.2,74.0,84376.0,146.0,73.0,Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo, Dy...","$40,000,000",NaN,"$102,314,283","$85,000,000"
7,The Pelican Brief,1993-December-17,USA,English,141.0,"Crime, Drama, Mystery",PG-13,6.6,50.0,69321.0,101.0,49.0,Alan J. Pakula,"John Grisham, Alan J. Pakula","Julia Roberts, Denzel Washington, Sam Shepard,...","$45,000,000","$16,864,404","$100,768,056","$195,268,056"
8,Schindler's List,1993-December-25,USA,"English, Hebrew, German, Polish",195.0,"Biography, Drama, History",R,8.9,93.0,1071427.0,1553.0,217.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","$22,000,000","$656,636","$96,067,179","$221,000,000"
9,Cliffhanger,1993-May-28,"USA, Italy, France",English,113.0,"Action, Adventure, Thriller",R,6.4,60.0,110389.0,181.0,86.0,Renny Harlin,"John Long, Michael France","Sylvester Stallone, John Lithgow, Michael Rook...","$70,000,000","$20,458,022","$84,049,211","$171,000,000"
10,Free Willy,1993-July-16,"USA, France",English,112.0,"Adventure, Drama, Family",PG,5.9,79.0,61816.0,72.0,25.0,Simon Wincer,"Keith Walker, Keith Walker","Jason James Richter, Lori Petty, Jayne Atkinso...","$20,000,000","$7,868,829","$77,698,625","$153,698,625"
11,Philadelphia,1994-January-14,USA,English,125.0,Drama,PG-13,7.7,66.0,204771.0,279.0,79.0,Jonathan Demme,Ron Nyswaner,"Tom Hanks, Denzel Washington, Roberta Maxwell,...","$26,000,000","$143,433","$77,324,422","$206,678,440,"
15,Cool Runnings,1994-June-24,USA,"English, German, Russian",98.0,"Adventure, Comedy, Family",PG,6.9,60.0,83416.0,106.0,48.0,Jon Turteltaub,"Lynn Siefert, Michael Ritchie","Leon, Doug E. Doug, Rawle D. Lewis, Malik Yoba...","$15,000,000",NaN,"$68,856,263","$154,856,263"
17,Rising Sun,1993-July-30,USA,"English, Japanese",125.0,"Action, Crime, Drama",R,6.2,56.0,39267.0,82.0,42.0,Philip Kaufman,"Michael Crichton, Philip Kaufman","Sean Connery, Wesley Snipes, Harvey Keitel, Ca...","$35,000,000",NaN,"$63,095,271","$107,198,790"
18,Demolition Man,1993-October-8,USA,English,115.0,"Action, Crime, Sci-Fi",R,6.6,34.0,144129.0,227.0,102.0,Marco Brambilla,"Peter M. Lenkov, Robert Reneau","Sylvester Stallone, Wesley Snipes, Sandra Bull...","$57,000,000","$15,973,850","$58,055,768","$159,055,768"
23,Beethoven's 2nd,1993-December-17,USA,English,89.0,"Comedy, Family, Romance",PG,4.9,NaN,23163.0,29.0,12.0,Rod Daniel,"John Hughes, Amy Holden Jones","Charles Grodin, Bonnie Hunt, Nicholle Tom, Chr...","$15,000,000","$6,017,225","$53,354,166","$118,154,166"
26,Last Action Hero,1993-June-18,USA,English,130.0,"Action, Adventure, Comedy",PG-13,6.3,44.0,123865.0,276.0,106.0,John McTiernan,"Zak Penn, Adam Leff","Arnold Schwarzenegger, F. Murray Abraham, Art ...","$85,000,000","$15,338,241","$50,016,394","$137,298,489"
30,Made in America,1993-May-28,"USA, France","English, Japanese",111.0,Comedy,PG-13,5.0,NaN,14615.0,23.0,15.0,Richard Benjamin,"Marcia Brandwynne, Nadine Schiff","Whoopi Goldberg, Ted Danson, Will Smith, Nia L...","$22,000,000",NaN,"$44,942,695","$60,000,000"
31,The Good Son,1993-September-24,USA,English,87.0,"Drama, Thriller",R,6.4,NaN,33438.0,156.0,46.0,Joseph Ruben,Ian McEwan,"Macaulay Culkin, Elijah Wood, Wendy Crewson, D...","$17,000,000",NaN,"$44,594,000","$60,417,219"
39,Hot Shots! Part Deux,1993-May-21,USA,English,86.0,"Action, Comedy",PG-13,6.6,NaN,77504.0,107.0,32.0,Jim Abrahams,"Jim Abrahams, Pat Proft","Charlie Sheen, Lloyd Bridges, Valeria Golino, ...","$25,000,000",NaN,"$38,911,970","$133,752,825"
40,Carlito's Way,1993-November-12,USA,"English, Spanish",144.0,"Crime, Drama, Thriller",R,7.9,65.0,184175.0,308.0,108.0,Brian De Palma,"Edwin Torres, David Koepp","Al Pacino, Sean Penn, Penelope Ann Miller, Joh...","$30,000,000","$9,116,675","$36,948,322","$63,848,322"
43,Sliver,1993-May-21,USA,English,107.0,"Drama, Thriller",R,5.0,38.0,26198.0,75.0,45.0,Phillip Noyce,"Ira Levin, Joe Eszterhas","Sharon Stone, William Baldwin, Tom Berenger, P...","$40,000,000","$12,138,283","$36,300,000","$116,300,000"
45,Dragon: The Bruce Lee Story,1993-May-7,USA,"English, Cantonese",120.0,"Action, Biography, Drama",PG-13,7.0,NaN,25080.0,94.0,35.0,Rob Cohen,"Robert Clouse, Linda Lee Cadwell","Jason Scott Lee, Lauren Holly, Robert Wagner, ...","$14,000,000",NaN,"$35,112,679","$63,512,679"
47,Hard Target,1993-August-20,USA,"English, French",97.0,"Action, Adventure, Drama",R,6.1,NaN,40428.0,189.0,90.0,John Woo,Chuck Pfarrer,"Chuck Pfarrer, Robert Apisa, Arnold Vosloo, La...","$18,000,000","$10,106,500","$32,589,677","$74,189,677"
50,Cop & ½,1993-April-2,USA,English,97.0,"Comedy, Crime, Family",PG,3.9,NaN,7802.0,49.0,18.0,Henry Winkler,Arne Olsen,"Burt Reynolds, Norman D. Golden II, Ruby Dee, ...","$14,000,000",NaN,"$31,888,805","$40,689,691"
52,A Perfect World,1993-November-24,USA,English,138.0,"Crime, Drama, Thriller",PG-13,7.5,71.0,67027.0,139.0,66.0,Clint Eastwood,John Lee Hancock,"Kevin Costner, Clint Eastwood, Laura Dern, T.J...","$30,000,000","$8,075,582","$31,160,784","$135,200,000"
59,In the Name of the Father,1994-January-21,"Ireland, UK, USA",English,133.0,"Biography, Drama",R,8.1,84.0,139836.0,171.0,54.0,Jim Sheridan,"Gerry Conlon, Terry George","Alison Crosbie, Daniel Day-Lewis, Philip King,...","$13,000,000",NaN,"$25,010,410","$40,700,000,"
123,Xi yan,1993-November-19,"Taiwan, USA","Mandarin, English",106.0,"Comedy, Drama, Romance",R,7.7,NaN,12631.0,45.0,32.0,Ang Lee,"Ang Lee, Neil Peng","Ah-Lei Gua, Sihung Lung, May Chin, Winston Cha...","$1,000,000",NaN,"$6,933,459","$30,000,000"
194,Les visiteurs,1993-January-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...","FRF50,000,000",NaN,"$700,000","$98,800,000"
0,Forrest Gump,1994-July-6,USA,English,142.0,"Drama, Romance",PG-13,8.8,82.0,1584743.0,1868.0,155.0,Robert Zemeckis,"Winston Groom, Eric Roth","Tom Hanks, Rebecca Williams, Sally Field, Mich...","$55,000,000","$24,450,602","$330,252,182","$677,945,399"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,The Commuter,2018-January-12,"France, USA","English, Spanish",105.0,"Action, Mystery, Thriller",PG-13,6.3,56.0,79723.0,398.0,271.0,Jaume Collet-Serra,"Byron Willinger, Philip de Blasi","Liam Neeson, Vera Farmiga, Patrick Wilson, Jon...","$30,000,000","$13,701,452","$36,343,858,","$59,142,483,"
3675,The 15:17 to Paris,2018-February-9,USA,"English, French, Arabic, German, Dutch",94.0,"Biography, Drama",PG-13,5.2,45.0,20828.0,342.0,159.0,Clint Eastwood,"Dorothy Blyskal, Anthony Sadler","Ray Corasani, Alek Skarlatos, Anthony Sadler, ...","$30,000,000","$12,554,286","$36,250,957","$56,150,957"
3676,Mile 22,2018-August-17,"China, USA","Filipino, English, Russian, Indonesian",94.0,"Action, Adventure, Thriller",R,6.1,38.0,44099.0,656.0,185.0,Peter Berg,"Lea Carpenter, Graham Roland","Mark Wahlberg, Lauren Cohan, Iko Uwais, John M...","$35,000,000","$13,710,825","$36,108,758,","$14,248,825,"
3677,Alpha,2018-August-17,USA,English,96.0,"Adventure, Drama, Family",PG-13,6.7,63.0,37908.0,465.0,136.0,Albert Hughes,"Daniele Sebastian Wiedenhaupt, Albert Hughes","Kodi Smit-McPhee, Jóhannes Haukur Jóhannesson,...","$51,000,000","$10,352,512","$35,851,379,","$10,757,502,"
3679,The Favourite,2018-December-21,"Ireland, UK, USA",English,119.0,"Biography, Comedy, Drama",R,7.7,90.0,99113.0,915.0,398.0,Yorgos Lanthimos,"Deborah Davis, Tony McNamara","Olivia Colman, Rachel Weisz, Emma Delves, Faye...","$15,000,000","$422,410","$34,173,423,","$42,544,448,"
3681,The Spy Who Dumped Me,2018-August-3,"USA, Canada","English, Russian, French, Lithuanian, German",117.0,"Action, Adventure, Comedy",R,6.0,52.0,43432.0,375.0,173.0,Susanna Fogel,"Susanna Fogel, David Iserson","Justin Theroux, Blanka Györfi-Tóth, Vilma Széc...","$40,000,000","$12,103,043","$33,562,069,","$42,898,313,"
3685,Adrift,2018-June-1,"Hong Kong, Iceland, USA","English, French",96.0,"Action, Adventure, Biography",PG-13,6.6,56.0,31494.0,214.0,182.0,Baltasar Kormákur,"Aaron Kandell, Jordan Kandell","Shailene Woodley, Sam Claflin, Jeffrey Thomas,...","$35,000,000","$11,603,039","$31,445,012","$52,045,012,"
3686,Robin Hood,2018-November-21,USA,English,116.0,"Action, Adventure, Thriller",PG-13,5.3,32.0,35053.0,730.0,155.0,Otto Bathurst,"Ben Chandler, David James Kelly","Taron Egerton, Jamie Foxx, Ben Mendelsohn, Eve...","$100,000,000","$9,195,670","$30,824,628","$82,248,814,"
3687,Doragon bôru chô: Burorî,2018-December-14,Japan,"Japanese, English",100.0,"Animation, Action, Adventure",PG,8.1,59.0,14507.0,260.0,48.0,Tatsuya Nagamine,"Akira Toriyama, Akira Toriyama","Masako Nozawa, Aya Hisakawa, Ryô Horikawa, Tos...","$8,500,000","$9,810,206","$30,712,119,","$88,332,139,"
3689,Holmes & Watson,2018-December-25,USA,English,90.0,"Adventure, Comedy, Crime",PG-13,3.6,24.0,11639.0,571.0,81.0,Etan Cohen,"Etan Cohen, Arthur Conan Doyle","Ralph Fiennes, Kelly Macdonald, Rebecca Hall, ...","$42,000,000","$7,411,522","$30,573,626,","$38,560,142,"
3690,Slender Man,2018-August-10,USA,English,93.0,"Horror, Mystery, Thriller",PG-13,3.2,30.0,17510.0,504.0,121.0,Sylvain White,"David Birke, Victor Surge","Joey King, Julia Goldani Telles, Jaz Sinclair,...","$10,000,000","$11,371,866","$30,569,484,","$22,205,932,"
3692,Teen Titans Go! To the Movies,2018-July-27,USA,English,84.0,"Animation, Action, Comedy",PG,6.8,69.0,11448.0,184.0,109.0,"Aaron Horvath, Peter Rida Michail","Michael Jelenic, Aaron Horvath","Greg Cipes, Scott Menville, Khary Payton, Tara...","$10,000,000","$10,411,189","$29,562,341,","$31,851,352,"
3695,On the Basis of Sex,2019-January-11,USA,English,120.0,"Biography, Drama",PG-13,6.7,59.0,7039.0,105.0,150.0,Mimi Leder,Daniel Stiepleman,"Felicity Jones, Armie Hammer, Justin Theroux, ...","$20,000,000","$686,355","$24,622,687,","$18,348,761,"
3699,Proud Mary,2018-January-12,USA,"English, Russian",89.0,"Action, Crime, Drama",R,4.9,35.0,6496.0,89.0,73.0,Babak Najafi,"John Stuart Newman, Christian Swegal","Taraji P. Henson, Billy Brown, Jahi Di'Allo Wi...","$14,000,000","$9,959,053","$20,868,638,","$18,454,068,"
3703,Show Dogs,2018-May-18,"UK, USA",English,92.0,"Adventure, Comedy, Family",PG,3.6,31.0,3312.0,58.0,36.0,Raja Gosnell,"Max Botkin, Marc Hyman","Will Arnett, Ludacris, Natasha Lyonne, Stanley...","$50,000,000","$6,023,972","$17,744,685","$37,747,362,"
3705,"Paul, Apostle of Christ",2018-March-23,USA,English,108.0,"Adventure, Biography, Drama",PG-13,6.7,52.0,5287.0,97.0,32.0,Andrew Hyatt,"Terence Berden, Andrew Hyatt","Jim Caviezel, James Faulkner, Olivier Martinez...","$5,000,000","$5,172,585","$17,560,475,","$21,722,602,"
3708,Mary Queen of Scots,2018-December-21,"UK, USA","English, French, Scottish Gaelic, Latin",124.0,"Biography, Drama, History",R,6.3,60.0,19263.0,371.0,195.0,Josie Rourke,"Beau Willimon, John Guy","Angela Bain, Richard Cant, Guy Rhys, Thom Pett...","$25,000,000","$194,777","$16,468,499,","$22,446,509,"
3710,Mortal Engines,2018-December-14,"New Zealand, USA",English,128.0,"Action, Adventure, Fantasy",PG-13,6.2,44.0,55560.0,731.0,189.0,Christian Rivers,"Fran Walsh, Philippa Boyens","Hera Hilmar, Robert Sheehan, Hugo Weaving, Jih...","$100,000,000","$7,559,850","$15,951,040,","$82,865,379,"
3714,The Possession of Hannah Grace,2018-November-30,USA,English,86.0,"Horror, Mystery, Thriller",R,5.2,37.0,9554.0,186.0,98.0,Diederik Van Rooijen,Brian Sieve,"Shay Mitchell, Grey Damon, Kirby Johnson, Nick...","$5,500,000","$6,401,744","$14,837,422,","$34,742,348,"
3716,The Darkest Minds,2018-August-3,USA,English,104.0,"Action, Adventure, Drama",PG-13,5.7,39.0,19130.0,373.0,128.0,Jennifer Yuh Nelson,"Chad Hodge, Alexandra Bracken","Amandla Stenberg, Mandy Moore, Bradley Whitfor...","$34,000,000","$5,842,609","$12,695,691,","$24,420,461,"
3721,Welcome to Marwen,2018-December-21,USA,"English, German, French",116.0,"Biography, Comedy, Drama",PG-13,5.9,40.0,4348.0,124.0,106.0,Robert Zemeckis,"Robert Zemeckis, Caroline Thompson","Steve Carell, Falk Hentschel, Matt O'Leary, Ni...","$39,000,000","$2,366,560","$10,763,520,","$12,463,520,"
3725,Tully,2018-May-4,"USA, Canada",English,95.0,"Comedy, Drama, Mystery",R,7.0,75.0,38489.0,208.0,248.0,Jason Reitman,Diablo Cody,"Charlize Theron, Mackenzie Davis, Ron Livingst...","$13,000,000","$3,282,610","$9,227,130,","$15,396,952,"
3726,Traffik,2018-April-20,USA,English,96.0,Thriller,R,6.0,37.0,16260.0,173.0,42.0,Deon Taylor,Deon Taylor,"Priscilla Quintana, Luke Goss, Paula Patton, W...","$4,000,000","$3,941,338","$9,186,156","$9,502,897"
3728,Unfriended: Dark Web,2018-July-20,USA,"English, American Sign Language, Indonesian",92.0,"Crime, Horror, Mystery",R,5.8,53.0,11664.0,154.0,110.0,Stephen Susco,Stephen Susco,"Colin Woodell, Stephanie Nogueras, Betty Gabri...","$1,000,000","$3,653,035","$8,783,985","$9,483,985,"
3732,Unsane,2018-March-23,USA,English,98.0,"Drama, Horror, Mystery",R,6.4,63.0,30235.0,284.0,244.0,Steven Soderbergh,"Jonathan Bernstein, James Greer","Joshua Leonard, Claire Foy, Sarah Stiles, Marc...","$1,500,000","$3,762,145","$7,732,899","$14,167,063,"
3737,Hotel Artemis,2018-June-8,"UK, USA","English, French",94.0,"Action, Crime, Drama",R,6.1,58.0,27225.0,222.0,176.0,Drew Pearce,Drew Pearce,"Jodie Foster, Sterling K. Brown, Sofia Boutell...","$15,000,000","$3,232,790","$6,708,147","$11,162,584,"
3795,Hong hai xing dong,2018-February-23,"China, Morocco, Hong Kong","Mandarin, Arabic, English",142.0,"Action, Drama, Thriller",NaN,6.8,NaN,4289.0,61.0,33.0,Dante Lam,Ji Feng,"Yi Zhang, Johnny Huang, Hai-Qing, Jiang Du, Lu...","$70,000,000","$436,059","$1,543,547","$579,220,560"
3843,Soorma,2018-July-13,India,Hindi,131.0,"Biography, Drama, Sport",PG-13,7.4,NaN,3424.0,40.0,9.0,Shaad Ali,"Shaad Ali, Siva Ananth","Diljit Dosanjh, Tapsee Pannu, Angad Bedi, Vija...","INR200,000,000","$168,354","$390,077,","$6,036,135,"
3864,Xi you ji zhi nü er guo,2018-February-16,"China, Hong Kong","Mandarin, English",114.0,"Action, Adventure, Fantasy",Not Rated,5.5,51.0,921.0,13.0,18.0,Soi Cheang,"Ning Wen, Cheng'en Wu","Allie Chan, Shaofeng Feng, Aaron Kwok, Him Law...","$73,000,000",NaN,"$187,074,","$116,000,000,"
3940,The Kingsdown Redemption,2018-December-10,USA,English,NaN,"Crime, Drama",NaN,NaN,NaN,NaN,NaN,NaN,Cosmo Millan,Cosmo Millan,"Chubby The Klown, George Kennedy, Lynda Fisher...",$250,NaN,"$31,000,","$440,320,"

In [151]:
data_2 = df[(df['budget'].notnull()) & (df['US box office'].notnull())]
data_2

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Jurassic Park,1993-June-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","$63,000,000","$50,159,460","$402,453,882","$1,029,153,882"
1,Mrs. Doubtfire,1993-November-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...","$25,000,000",NaN,"$219,200,000","$441,286,195"
2,The Fugitive,1993-August-6,USA,"English, Polish, Spanish",130.0,"Action, Crime, Drama",PG-13,7.8,87.0,243089.0,295.0,123.0,Andrew Davis,"Jeb Stuart, David Twohy","Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...","$44,000,000","$23,758,855","$183,875,760","$368,875,760"
3,The Firm,1993-June-30,USA,English,154.0,"Drama, Mystery, Thriller",R,6.8,58.0,104963.0,151.0,65.0,Sydney Pollack,"John Grisham, David Rabe","Tom Cruise, Jeanne Tripplehorn, Gene Hackman, ...","$42,000,000","$25,400,000","$158,348,367","$270,248,367"
4,Sleepless in Seattle,1993-June-25,USA,English,105.0,"Comedy, Drama, Romance",PG,6.8,72.0,143571.0,233.0,77.0,Nora Ephron,"Jeff Arch, Nora Ephron","Tom Hanks, Ross Malinger, Rita Wilson, Victor ...","$21,000,000",NaN,"$126,533,006","$101,200,000"
5,Indecent Proposal,1993-April-7,USA,English,117.0,"Drama, Romance",R,5.9,35.0,56359.0,124.0,56.0,Adrian Lyne,"Jack Engelhard, Amy Holden Jones","Robert Redford, Demi Moore, Woody Harrelson, S...","$38,000,000",NaN,"$106,614,100","$266,600,000"
6,In the Line of Fire,1993-July-9,USA,English,128.0,"Action, Crime, Drama",R,7.2,74.0,84376.0,146.0,73.0,Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo, Dy...","$40,000,000",NaN,"$102,314,283","$85,000,000"
7,The Pelican Brief,1993-December-17,USA,English,141.0,"Crime, Drama, Mystery",PG-13,6.6,50.0,69321.0,101.0,49.0,Alan J. Pakula,"John Grisham, Alan J. Pakula","Julia Roberts, Denzel Washington, Sam Shepard,...","$45,000,000","$16,864,404","$100,768,056","$195,268,056"
8,Schindler's List,1993-December-25,USA,"English, Hebrew, German, Polish",195.0,"Biography, Drama, History",R,8.9,93.0,1071427.0,1553.0,217.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","$22,000,000","$656,636","$96,067,179","$221,000,000"
9,Cliffhanger,1993-May-28,"USA, Italy, France",English,113.0,"Action, Adventure, Thriller",R,6.4,60.0,110389.0,181.0,86.0,Renny Harlin,"John Long, Michael France","Sylvester Stallone, John Lithgow, Michael Rook...","$70,000,000","$20,458,022","$84,049,211","$171,000,000"
10,Free Willy,1993-July-16,"USA, France",English,112.0,"Adventure, Drama, Family",PG,5.9,79.0,61816.0,72.0,25.0,Simon Wincer,"Keith Walker, Keith Walker","Jason James Richter, Lori Petty, Jayne Atkinso...","$20,000,000","$7,868,829","$77,698,625","$153,698,625"
11,Philadelphia,1994-January-14,USA,English,125.0,Drama,PG-13,7.7,66.0,204771.0,279.0,79.0,Jonathan Demme,Ron Nyswaner,"Tom Hanks, Denzel Washington, Roberta Maxwell,...","$26,000,000","$143,433","$77,324,422","$206,678,440,"
12,The Nightmare Before Christmas,1993-October-29,USA,English,76.0,"Animation, Family, Fantasy",PG,8.0,82.0,266295.0,474.0,221.0,Henry Selick,"Tim Burton, Michael McDowell","Danny Elfman, Chris Sarandon, Catherine O'Hara...","$18,000,000","$191,232","$75,082,668",NaN
13,Groundhog Day,1993-February-12,USA,"English, French, Italian",101.0,"Comedy, Fantasy, Romance",PG,8.0,72.0,535870.0,690.0,178.0,Harold Ramis,"Danny Rubin, Harold Ramis","Bill Murray, Andie MacDowell, Chris Elliott, S...","$14,600,000","$14,652,108","$70,906,973",NaN
15,Cool Runnings,1994-June-24,USA,"English, German, Russian",98.0,"Adventure, Comedy, Family",PG,6.9,60.0,83416.0,106.0,48.0,Jon Turteltaub,"Lynn Siefert, Michael Ritchie","Leon, Doug E. Doug, Rawle D. Lewis, Malik Yoba...","$15,000,000",NaN,"$68,856,263","$154,856,263"
16,Dave,1993-May-7,USA,"English, Spanish",110.0,"Comedy, Romance",PG-13,6.8,76.0,45451.0,136.0,53.0,Ivan Reitman,Gary Ross,"Kevin Kline, Sigourney Weaver, Frank Langella,...","$28,000,000","$7,306,755","$63,270,710",NaN
17,Rising Sun,1993-July-30,USA,"English, Japanese",125.0,"Action, Crime, Drama",R,6.2,56.0,39267.0,82.0,42.0,Philip Kaufman,"Michael Crichton, Philip Kaufman","Sean Connery, Wesley Snipes, Harvey Keitel, Ca...","$35,000,000",NaN,"$63,095,271","$107,198,790"
18,Demolition Man,1993-October-8,USA,English,115.0,"Action, Crime, Sci-Fi",R,6.6,34.0,144129.0,227.0,102.0,Marco Brambilla,"Peter M. Lenkov, Robert Reneau","Sylvester Stallone, Wesley Snipes, Sandra Bull...","$57,000,000","$15,973,850","$58,055,768","$159,055,768"
19,Sister Act 2: Back in the Habit,1993-December-10,USA,English,107.0,"Comedy, Family, Music",PG,5.5,NaN,43930.0,83.0,19.0,Bill Duke,"Paul Rudnick, James Orr","Whoopi Goldberg, Kathy Najimy, Barnard Hughes,...","$38,000,000","$7,569,219","$57,319,029",NaN
20,Tombstone,1993-December-25,USA,"English, Latin",130.0,"Action, Biography, Drama",R,7.8,50.0,113779.0,470.0,91.0,"George P. Cosmatos, Kevin Jarre",Kevin Jarre,"Kurt Russell, Val Kilmer, Sam Elliott, Bill Pa...","$25,000,000","$6,454,752","$56,505,065",NaN
21,The Three Musketeers,1993-November-12,"Austria, UK, USA",English,105.0,"Action, Adventure, Comedy",PG,6.4,NaN,46476.0,150.0,32.0,Stephen Herek,"Alexandre Dumas, David Loughery","Charlie Sheen, Kiefer Sutherland, Chris O'Donn...","$30,000,000",NaN,"$53,898,845",NaN
22,Rookie of the Year,1993-July-7,USA,English,103.0,"Comedy, Family, Fantasy",PG,6.0,NaN,21855.0,40.0,18.0,Daniel Stern,Sam Harper,"Thomas Ian Nicholas, Gary Busey, Albert Hall, ...","$10,000,000",NaN,"$53,579,269",NaN
23,Beethoven's 2nd,1993-December-17,USA,English,89.0,"Comedy, Family, Romance",PG,4.9,NaN,23163.0,29.0,12.0,Rod Daniel,"John Hughes, Amy Holden Jones","Charles Grodin, Bonnie Hunt, Nicholle Tom, Chr...","$15,000,000","$6,017,225","$53,354,166","$118,154,166"
26,Last Action Hero,1993-June-18,USA,English,130.0,"Action, Adventure, Comedy",PG-13,6.3,44.0,123865.0,276.0,106.0,John McTiernan,"Zak Penn, Adam Leff","Arnold Schwarzenegger, F. Murray Abraham, Art ...","$85,000,000","$15,338,241","$50,016,394","$137,298,489"
27,Addams Family Values,1993-November-19,USA,English,94.0,"Comedy, Fantasy",PG-13,6.7,62.0,68685.0,132.0,50.0,Barry Sonnenfeld,"Charles Addams, Paul Rudnick","Anjelica Huston, Raul Julia, Christopher Lloyd...","$47,000,000","$14,117,545","$48,919,043",NaN
28,Wayne's World 2,1993-December-10,USA,"English, Cantonese",95.0,"Comedy, Music",PG-13,6.2,60.0,71062.0,83.0,40.0,Stephen Surjik,"Mike Myers, Mike Myers","Mike Myers, Dana Carvey, Christopher Walken, T...","$40,000,000",NaN,"$48,197,805",NaN
29,Malice,1993-October-1,"Canada, USA","English, French",107.0,"Crime, Mystery, Thriller",R,6.4,NaN,20781.0,104.0,45.0,Harold Becker,"Aaron Sorkin, Jonas McCord","Alec Baldwin, Nicole Kidman, Bill Pullman, Beb...","$20,000,000","$9,232,650","$46,044,636",NaN
30,Made in America,1993-May-28,"USA, France","English, Japanese",111.0,Comedy,PG-13,5.0,NaN,14615.0,23.0,15.0,Richard Benjamin,"Marcia Brandwynne, Nadine Schiff","Whoopi Goldberg, Ted Danson, Will Smith, Nia L...","$22,000,000",NaN,"$44,942,695","$60,000,000"
31,The Good Son,1993-September-24,USA,English,87.0,"Drama, Thriller",R,6.4,NaN,33438.0,156.0,46.0,Joseph Ruben,Ian McEwan,"Macaulay Culkin, Elijah Wood, Wendy Crewson, D...","$17,000,000",NaN,"$44,594,000","$60,417,219"
33,Teenage Mutant Ninja Turtles III,1993-March-19,"USA, Hong Kong",English,96.0,"Action, Adventure, Comedy",PG,4.8,40.0,28409.0,87.0,64.0,Stuart Gillard,"Kevin Eastman, Peter Laird","Elias Koteas, Paige Turco, Stuart Wilson, Sab ...","$17,000,000",NaN,"$42,660,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3819,Sui Dhaaga: Made in India,2018-September-28,India,Hindi,122.0,"Comedy, Drama",Not Rated,6.8,NaN,4907.0,102.0,14.0,Sharat Katariya,Sharat Katariya,"Anushka Sharma, Varun Dhawan, Raghuvir Yadav, ...","$6,250,000","$582,006","$790,628,",NaN
3823,Climax,2018-September-19,"France, Belgium","French, English",97.0,"Drama, Horror, Music",R,7.3,67.0,19486.0,166.0,222.0,Gaspar Noé,Gaspar Noé,"Sofia Boutella, Romain Guillermic, Souheila Ya...","€2,600,000","$119,423","$766,724,",NaN
3836,Gongjak,2018-August-8,South Korea,"Korean, Mandarin, Japanese",137.0,Drama,Not Rated,7.2,69.0,1124.0,5.0,30.0,Jong-bin Yoon,"Sung-hui Kwon, Jong-bin Yoon","Jung-min Hwang, Sung-min Lee, Jin-Woong Cho, J...","KRW19,000,000,000",NaN,"$497,755,",NaN
3837,The Great Battle,2018-September-21,South Korea,"Korean, Mandarin",136.0,"Action, Drama, History",Not Rated,7.0,NaN,1306.0,22.0,15.0,Kwang-shik Kim,NaN,"In-sung Jo, Joo-Hyuk Nam, Sung-woong Park, Seo...","KRW15,000,000,000","$123,983","$472,166,",NaN
3843,Soorma,2018-July-13,India,Hindi,131.0,"Biography, Drama, Sport",PG-13,7.4,NaN,3424.0,40.0,9.0,Shaad Ali,"Shaad Ali, Siva Ananth","Diljit Dosanjh, Tapsee Pannu, Angad Bedi, Vija...","INR200,000,000","$168,354","$390,077,","$6,036,135,"
3846,Hichki,2018-March-23,India,"Hindi, English",116.0,"Comedy, Drama",Not Rated,7.5,NaN,6998.0,74.0,22.0,Siddharth Malhotra,"Anckur Chaudhry, Siddharth Malhotra","Rani Mukerji, Neeraj Kabi, Sachin, Ivan Rodrig...","$2,000,000","$330,279","$330,279,",NaN
3854,London Fields,2018-October-26,"UK, USA",English,118.0,"Crime, Mystery, Thriller",R,4.3,16.0,2174.0,41.0,24.0,Mathew Cullen,"Roberta Hanley, Martin Amis","Gemma Chan, Amber Heard, Jaimie Alexander, Car...","$8,000,000","$168,575","$252,676,",NaN
3859,Kona fer í stríð,2018-May-22,"Iceland, France, Ukraine","Icelandic, Spanish, English, Ukrainian",101.0,"Action, Drama, Thriller",NaN,7.6,81.0,2156.0,12.0,66.0,Benedikt Erlingsson,"Ólafur Egilsson, Benedikt Erlingsson","Halldóra Geirharðsdóttir, Jóhann Sigurðarson, ...","€2,500,000","$18,370","$271,457,",NaN
3864,Xi you ji zhi nü er guo,2018-February-16,"China, Hong Kong","Mandarin, English",114.0,"Action, Adventure, Fantasy",Not Rated,5.5,51.0,921.0,13.0,18.0,Soi Cheang,"Ning Wen, Cheng'en Wu","Allie Chan, Shaofeng Feng, Aaron Kwok, Him Law...","$73,000,000",NaN,"$187,074,","$116,000,000,"
3868,Karwaan,2018-August-3,India,Hindi,114.0,"Comedy, Drama",Not Rated,7.5,NaN,7953.0,137.0,11.0,Akarsh Khurana,"Bejoy Nambiar, Akarsh Khurana","Irrfan Khan, Dulquer Salmaan, Mithila Palkar, ...","INR200,000,000","$98,575","$182,009,",NaN
3881,The Rocket,2018-January-23,USA,English,89.0,"Family, Sport",NaN,4.8,NaN,146.0,18.0,2.0,Richard Blake,Richard Blake,"Brady Tutton, Richard Blake, Terry King, Jorda...","$46,000",NaN,"$132,000,",NaN
3903,Running for Grace,2018-September-7,USA,NaN,110.0,"Adventure, Family, Romance",TV-14,6.1,NaN,505.0,29.0,4.0,David L. Cunningham,"David L. Cunningham, Christian Parkes","Jim Caviezel, Matt Dillon, Ryan Potter, Juliet...","$12,000,000","$30,597","$89,988,",NaN
3904,The House That Jack Built,2018-October-17,"Denmark, France, Sweden, Germany, Belgium","English, German, Italian",152.0,"Crime, Drama, Horror",R,6.9,42.0,30536.0,273.0,223.0,Lars von Trier,"Lars von Trier, Lars von Trier","Matt Dillon, Bruno Ganz, Uma Thurman, Siobhan ...","€8,700,000","$34,091","$87,008,",NaN
3910,Dans la brume,2018-April-4,"France, Canada","French, English",89.0,Sci-Fi,NaN,5.9,NaN,3029.0,15.0,25.0,Daniel Roby,"Guillaume Lemans, Jimmy Bemon","Romain Duris, Olga Kurylenko, Fantine Harduin,...","€11,270,000",NaN,"$77,987,",NaN
3917,Blaze,2018-August-17,USA,English,129.0,"Biography, Drama, Music",R,6.8,75.0,1130.0,12.0,45.0,Ethan Hawke,"Ethan Hawke, Sybil Rosen","Ben Dickey, Alia Shawkat, Charlie Sexton, Josh...","$1,200,000","$44,250","$69,114,",NaN
3920,Las herederas,2018-April-5,"Paraguay, France, Germany, Norway, Brazil, Uru...","Spanish, Guarani",98.0,Drama,NaN,6.9,77.0,1617.0,6.0,71.0,Marcelo Martinessi,Marcelo Martinessi,"Ana Brun, Margarita Irun, Ana Ivanova, Nilda G...","€514,000","$11,304","$65,053,",NaN
3940,The Kingsdown Redemption,2018-December-10,USA,English,NaN,"Crime, Drama",NaN,NaN,NaN,NaN,NaN,NaN,Cosmo Millan,Cosmo Millan,"Chubby The Klown, George Kennedy, Lynda Fisher...",$250,NaN,"$31,000,","$440,320,"
3941,L'apparition,2018-February-14,"France, Belgium, Jordan","French, Italian, German, English",144.0,Drama,NaN,6.4,64.0,781.0,6.0,46.0,Xavier Giannoli,"Xavier Giannoli, Jacques Fieschi","Vincent Lindon, Galatéa Bellugi, Patrick d'Ass...","€8,900,000","$9,830","$28,293,",NaN
3945,The Lucky Man,2018-January-16,USA,English,98.0,"Action, Drama, Sci-Fi",R,5.8,NaN,1677.0,46.0,4.0,Norman Gregory McGuire,Norman Gregory McGuire,"Burton Gilliam, Jesse James, Mariana Paola Vic...","$1,000,000",NaN,"$24,813,",NaN
3951,Mes provinciales,2018-April-18,France,French,137.0,Drama,NaN,6.3,52.0,329.0,3.0,11.0,Jean-Paul Civeyrac,Jean-Paul Civeyrac,"Andranic Manet, Diane Rouxel, Jenna Thiam, Gon...",€600,NaN,"$21,598,",NaN
3954,District,2018-February-20,USA,English,67.0,Drama,R,6.5,NaN,24.0,NaN,NaN,Anthony Bawn,"Tyson Anthony, Anthony Bawn","Brandon Anthony, Tami Roman, Jeffrey Erskine, ...","$15,000","$5,000","$20,000,",NaN
3959,Napszállta,2018-September-27,"Hungary, France","Hungarian, German",142.0,Drama,R,6.6,68.0,1457.0,8.0,67.0,László Nemes,"László Nemes, Clara Royer","Susanne Wuest, Juli Jakab, Levente Molnár, Vla...","€8,900,000","$13,846","$21,650,",NaN
3960,Touch Me Not,2018-October-31,"Romania, Germany, Czech Republic, Bulgaria, Fr...","English, German",123.0,Drama,NaN,6.2,65.0,1251.0,14.0,80.0,Adina Pintilie,Adina Pintilie,"Laura Benson, Tómas Lemarquis, Christian Bayer...","€1,000,000","$5,616","$13,782,",NaN
3968,Hevi reissu,2018-March-9,"Finland, Norway, Belgium","Finnish, English, Norwegian",92.0,"Comedy, Music",NaN,7.2,72.0,2844.0,23.0,91.0,"Juuso Laatio, Jukka Vidgren","Juuso Laatio, Aleksi Puranen","Johannes Holopainen, Samuli Jaskio, Antti Heik...","€3,000,000","$5,419","$10,153,",NaN
3972,In Like Flynn,2018-October-11,"Australia, Canada",English,106.0,"Action, Adventure",R,5.2,66.0,296.0,16.0,12.0,Russell Mulcahy,"Steve M. Albert, Errol Flynn","Thomas Cocquerel, Corey Large, William Moseley...","$20,000,000","$6,646","$6,646,",NaN
3975,Patrick,2018-June-29,UK,English,94.0,Family,TV-14,5.7,28.0,1119.0,16.0,15.0,Mandie Fletcher,"Vanessa Davies, Mandie Fletcher","Ed Skrein, Jennifer Saunders, Tom Bennett, Emi...","£6,000,000","$1,378","$6,290,",NaN
3976,Skjelvet,2018-August-31,Norway,Norwegian,106.0,"Action, Drama, Thriller",PG-13,6.2,70.0,4268.0,51.0,38.0,John Andreas Andersen,"John Kåre Raake, Harald Rosenløw-Eeg","Kristoffer Joner, Ane Dahl Torp, Edith Haagenr...","NOK52,100,000","$3,256","$6,235,",NaN
3977,In Echo Park,2018-February-23,USA,English,82.0,"Crime, Drama",Not Rated,4.6,NaN,65.0,5.0,NaN,Nathaniel Lezra,Nathaniel Lezra,"Andrew Asper, Jared Brown, Bryan Michael Nunez...","$60,000",NaN,"$6,042,",NaN
3985,Kickboxer: Retaliation,2018-January-26,USA,English,110.0,"Action, Drama",R,5.0,54.0,3264.0,37.0,42.0,Dimitri Logothetis,"Jean-Claude Van Damme, Mark DiSalle","Alain Moussi, Christopher Lambert, Jean-Claude...","$13,000,000","$3,061","$4,537,",NaN
3994,American Dresser,2018-September-21,USA,English,97.0,"Adventure, Drama",Not Rated,5.2,24.0,182.0,7.0,7.0,Carmine Cangialosi,Carmine Cangialosi,"Gina Gershon, Penelope Ann Miller, Bruce Dern,...","$2,000,000","$2,211","$2,211,",NaN

In [152]:
frames = [data,data_2]
clean=pd.concat(frames, axis=0,ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
clean

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Jurassic Park,1993-June-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","$63,000,000","$50,159,460","$402,453,882","$1,029,153,882"
1,Mrs. Doubtfire,1993-November-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...","$25,000,000",NaN,"$219,200,000","$441,286,195"
2,The Fugitive,1993-August-6,USA,"English, Polish, Spanish",130.0,"Action, Crime, Drama",PG-13,7.8,87.0,243089.0,295.0,123.0,Andrew Davis,"Jeb Stuart, David Twohy","Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...","$44,000,000","$23,758,855","$183,875,760","$368,875,760"
3,The Firm,1993-June-30,USA,English,154.0,"Drama, Mystery, Thriller",R,6.8,58.0,104963.0,151.0,65.0,Sydney Pollack,"John Grisham, David Rabe","Tom Cruise, Jeanne Tripplehorn, Gene Hackman, ...","$42,000,000","$25,400,000","$158,348,367","$270,248,367"
4,Sleepless in Seattle,1993-June-25,USA,English,105.0,"Comedy, Drama, Romance",PG,6.8,72.0,143571.0,233.0,77.0,Nora Ephron,"Jeff Arch, Nora Ephron","Tom Hanks, Ross Malinger, Rita Wilson, Victor ...","$21,000,000",NaN,"$126,533,006","$101,200,000"
5,Indecent Proposal,1993-April-7,USA,English,117.0,"Drama, Romance",R,5.9,35.0,56359.0,124.0,56.0,Adrian Lyne,"Jack Engelhard, Amy Holden Jones","Robert Redford, Demi Moore, Woody Harrelson, S...","$38,000,000",NaN,"$106,614,100","$266,600,000"
6,In the Line of Fire,1993-July-9,USA,English,128.0,"Action, Crime, Drama",R,7.2,74.0,84376.0,146.0,73.0,Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo, Dy...","$40,000,000",NaN,"$102,314,283","$85,000,000"
7,The Pelican Brief,1993-December-17,USA,English,141.0,"Crime, Drama, Mystery",PG-13,6.6,50.0,69321.0,101.0,49.0,Alan J. Pakula,"John Grisham, Alan J. Pakula","Julia Roberts, Denzel Washington, Sam Shepard,...","$45,000,000","$16,864,404","$100,768,056","$195,268,056"
8,Schindler's List,1993-December-25,USA,"English, Hebrew, German, Polish",195.0,"Biography, Drama, History",R,8.9,93.0,1071427.0,1553.0,217.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","$22,000,000","$656,636","$96,067,179","$221,000,000"
9,Cliffhanger,1993-May-28,"USA, Italy, France",English,113.0,"Action, Adventure, Thriller",R,6.4,60.0,110389.0,181.0,86.0,Renny Harlin,"John Long, Michael France","Sylvester Stallone, John Lithgow, Michael Rook...","$70,000,000","$20,458,022","$84,049,211","$171,000,000"
10,Free Willy,1993-July-16,"USA, France",English,112.0,"Adventure, Drama, Family",PG,5.9,79.0,61816.0,72.0,25.0,Simon Wincer,"Keith Walker, Keith Walker","Jason James Richter, Lori Petty, Jayne Atkinso...","$20,000,000","$7,868,829","$77,698,625","$153,698,625"
11,Philadelphia,1994-January-14,USA,English,125.0,Drama,PG-13,7.7,66.0,204771.0,279.0,79.0,Jonathan Demme,Ron Nyswaner,"Tom Hanks, Denzel Washington, Roberta Maxwell,...","$26,000,000","$143,433","$77,324,422","$206,678,440,"
12,Cool Runnings,1994-June-24,USA,"English, German, Russian",98.0,"Adventure, Comedy, Family",PG,6.9,60.0,83416.0,106.0,48.0,Jon Turteltaub,"Lynn Siefert, Michael Ritchie","Leon, Doug E. Doug, Rawle D. Lewis, Malik Yoba...","$15,000,000",NaN,"$68,856,263","$154,856,263"
13,Rising Sun,1993-July-30,USA,"English, Japanese",125.0,"Action, Crime, Drama",R,6.2,56.0,39267.0,82.0,42.0,Philip Kaufman,"Michael Crichton, Philip Kaufman","Sean Connery, Wesley Snipes, Harvey Keitel, Ca...","$35,000,000",NaN,"$63,095,271","$107,198,790"
14,Demolition Man,1993-October-8,USA,English,115.0,"Action, Crime, Sci-Fi",R,6.6,34.0,144129.0,227.0,102.0,Marco Brambilla,"Peter M. Lenkov, Robert Reneau","Sylvester Stallone, Wesley Snipes, Sandra Bull...","$57,000,000","$15,973,850","$58,055,768","$159,055,768"
15,Beethoven's 2nd,1993-December-17,USA,English,89.0,"Comedy, Family, Romance",PG,4.9,NaN,23163.0,29.0,12.0,Rod Daniel,"John Hughes, Amy Holden Jones","Charles Grodin, Bonnie Hunt, Nicholle Tom, Chr...","$15,000,000","$6,017,225","$53,354,166","$118,154,166"
16,Last Action Hero,1993-June-18,USA,English,130.0,"Action, Adventure, Comedy",PG-13,6.3,44.0,123865.0,276.0,106.0,John McTiernan,"Zak Penn, Adam Leff","Arnold Schwarzenegger, F. Murray Abraham, Art ...","$85,000,000","$15,338,241","$50,016,394","$137,298,489"
17,Made in America,1993-May-28,"USA, France","English, Japanese",111.0,Comedy,PG-13,5.0,NaN,14615.0,23.0,15.0,Richard Benjamin,"Marcia Brandwynne, Nadine Schiff","Whoopi Goldberg, Ted Danson, Will Smith, Nia L...","$22,000,000",NaN,"$44,942,695","$60,000,000"
18,The Good Son,1993-September-24,USA,English,87.0,"Drama, Thriller",R,6.4,NaN,33438.0,156.0,46.0,Joseph Ruben,Ian McEwan,"Macaulay Culkin, Elijah Wood, Wendy Crewson, D...","$17,000,000",NaN,"$44,594,000","$60,417,219"
19,Hot Shots! Part Deux,1993-May-21,USA,English,86.0,"Action, Comedy",PG-13,6.6,NaN,77504.0,107.0,32.0,Jim Abrahams,"Jim Abrahams, Pat Proft","Charlie Sheen, Lloyd Bridges, Valeria Golino, ...","$25,000,000",NaN,"$38,911,970","$133,752,825"
20,Carlito's Way,1993-November-12,USA,"English, Spanish",144.0,"Crime, Drama, Thriller",R,7.9,65.0,184175.0,308.0,108.0,Brian De Palma,"Edwin Torres, David Koepp","Al Pacino, Sean Penn, Penelope Ann Miller, Joh...","$30,000,000","$9,116,675","$36,948,322","$63,848,322"
21,Sliver,1993-May-21,USA,English,107.0,"Drama, Thriller",R,5.0,38.0,26198.0,75.0,45.0,Phillip Noyce,"Ira Levin, Joe Eszterhas","Sharon Stone, William Baldwin, Tom Berenger, P...","$40,000,000","$12,138,283","$36,300,000","$116,300,000"
22,Dragon: The Bruce Lee Story,1993-May-7,USA,"English, Cantonese",120.0,"Action, Biography, Drama",PG-13,7.0,NaN,25080.0,94.0,35.0,Rob Cohen,"Robert Clouse, Linda Lee Cadwell","Jason Scott Lee, Lauren Holly, Robert Wagner, ...","$14,000,000",NaN,"$35,112,679","$63,512,679"
23,Hard Target,1993-August-20,USA,"English, French",97.0,"Action, Adventure, Drama",R,6.1,NaN,40428.0,189.0,90.0,John Woo,Chuck Pfarrer,"Chuck Pfarrer, Robert Apisa, Arnold Vosloo, La...","$18,000,000","$10,106,500","$32,589,677","$74,189,677"
24,Cop & ½,1993-April-2,USA,English,97.0,"Comedy, Crime, Family",PG,3.9,NaN,7802.0,49.0,18.0,Henry Winkler,Arne Olsen,"Burt Reynolds, Norman D. Golden II, Ruby Dee, ...","$14,000,000",NaN,"$31,888,805","$40,689,691"
25,A Perfect World,1993-November-24,USA,English,138.0,"Crime, Drama, Thriller",PG-13,7.5,71.0,67027.0,139.0,66.0,Clint Eastwood,John Lee Hancock,"Kevin Costner, Clint Eastwood, Laura Dern, T.J...","$30,000,000","$8,075,582","$31,160,784","$135,200,000"
26,In the Name of the Father,1994-January-21,"Ireland, UK, USA",English,133.0,"Biography, Drama",R,8.1,84.0,139836.0,171.0,54.0,Jim Sheridan,"Gerry Conlon, Terry George","Alison Crosbie, Daniel Day-Lewis, Philip King,...","$13,000,000",NaN,"$25,010,410","$40,700,000,"
27,Xi yan,1993-November-19,"Taiwan, USA","Mandarin, English",106.0,"Comedy, Drama, Romance",R,7.7,NaN,12631.0,45.0,32.0,Ang Lee,"Ang Lee, Neil Peng","Ah-Lei Gua, Sihung Lung, May Chin, Winston Cha...","$1,000,000",NaN,"$6,933,459","$30,000,000"
28,Les visiteurs,1993-January-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...","FRF50,000,000",NaN,"$700,000","$98,800,000"
29,Forrest Gump,1994-July-6,USA,English,142.0,"Drama, Romance",PG-13,8.8,82.0,1584743.0,1868.0,155.0,Robert Zemeckis,"Winston Groom, Eric Roth","Tom Hanks, Rebecca Williams, Sally Field, Mich...","$55,000,000","$24,450,602","$330,252,182","$677,945,399"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6030,Singwa hamkke: Ingwa yeon,2018-August-1,South Korea,Korean,142.0,"Action, Drama, Fantasy",Not Rated,7.0,NaN,3044.0,20.0,24.0,Yong-hwa Kim,"Ho-min Ju, Yong-hwa Kim","Jung-woo Ha, Ji-Hoon Ju, Hyang-gi Kim, Dong-se...","KRW35,000,000,000","$311,743","$1,200,246,",NaN
6031,Nada a Perder,2018-March-29,Brazil,Portuguese,134.0,"Biography, Drama",PG,6.6,NaN,22510.0,29.0,5.0,Alexandre Avancini,"Stephen P. Lindsey, Emílio Boechat","Petrônio Gontijo, Day Mesquita, Beth Goulart, ...","BRL16,000,000","$679,531","$1,003,497,",NaN
6032,Kedarnath,2018-December-7,India,Hindi,116.0,"Drama, Romance",NaN,5.9,NaN,3692.0,184.0,11.0,Abhishek Kapoor,"Abhishek Kapoor, Kanika Dhillon","Sushant Singh Rajput, Sara Ali Khan, Nitish Bh...","INR350,000,000","$407,118","$901,131,",NaN
6033,Sui Dhaaga: Made in India,2018-September-28,India,Hindi,122.0,"Comedy, Drama",Not Rated,6.8,NaN,4907.0,102.0,14.0,Sharat Katariya,Sharat Katariya,"Anushka Sharma, Varun Dhawan, Raghuvir Yadav, ...","$6,250,000","$582,006","$790,628,",NaN
6034,Climax,2018-September-19,"France, Belgium","French, English",97.0,"Drama, Horror, Music",R,7.3,67.0,19486.0,166.0,222.0,Gaspar Noé,Gaspar Noé,"Sofia Boutella, Romain Guillermic, Souheila Ya...","€2,600,000","$119,423","$766,724,",NaN
6035,Gongjak,2018-August-8,South Korea,"Korean, Mandarin, Japanese",137.0,Drama,Not Rated,7.2,69.0,1124.0,5.0,30.0,Jong-bin Yoon,"Sung-hui Kwon, Jong-bin Yoon","Jung-min Hwang, Sung-min Lee, Jin-Woong Cho, J...","KRW19,000,000,000",NaN,"$497,755,",NaN
6036,The Great Battle,2018-September-21,South Korea,"Korean, Mandarin",136.0,"Action, Drama, History",Not Rated,7.0,NaN,1306.0,22.0,15.0,Kwang-shik Kim,NaN,"In-sung Jo, Joo-Hyuk Nam, Sung-woong Park, Seo...","KRW15,000,000,000","$123,983","$472,166,",NaN
6037,Hichki,2018-March-23,India,"Hindi, English",116.0,"Comedy, Drama",Not Rated,7.5,NaN,6998.0,74.0,22.0,Siddharth Malhotra,"Anckur Chaudhry, Siddharth Malhotra","Rani Mukerji, Neeraj Kabi, Sachin, Ivan Rodrig...","$2,000,000","$330,279","$330,279,",NaN
6038,London Fields,2018-October-26,"UK, USA",English,118.0,"Crime, Mystery, Thriller",R,4.3,16.0,2174.0,41.0,24.0,Mathew Cullen,"Roberta Hanley, Martin Amis","Gemma Chan, Amber Heard, Jaimie Alexander, Car...","$8,000,000","$168,575","$252,676,",NaN
6039,Kona fer í stríð,2018-May-22,"Iceland, France, Ukraine","Icelandic, Spanish, English, Ukrainian",101.0,"Action, Drama, Thriller",NaN,7.6,81.0,2156.0,12.0,66.0,Benedikt Erlingsson,"Ólafur Egilsson, Benedikt Erlingsson","Halldóra Geirharðsdóttir, Jóhann Sigurðarson, ...","€2,500,000","$18,370","$271,457,",NaN
6040,Karwaan,2018-August-3,India,Hindi,114.0,"Comedy, Drama",Not Rated,7.5,NaN,7953.0,137.0,11.0,Akarsh Khurana,"Bejoy Nambiar, Akarsh Khurana","Irrfan Khan, Dulquer Salmaan, Mithila Palkar, ...","INR200,000,000","$98,575","$182,009,",NaN
6041,The Rocket,2018-January-23,USA,English,89.0,"Family, Sport",NaN,4.8,NaN,146.0,18.0,2.0,Richard Blake,Richard Blake,"Brady Tutton, Richard Blake, Terry King, Jorda...","$46,000",NaN,"$132,000,",NaN
6042,Running for Grace,2018-September-7,USA,NaN,110.0,"Adventure, Family, Romance",TV-14,6.1,NaN,505.0,29.0,4.0,David L. Cunningham,"David L. Cunningham, Christian Parkes","Jim Caviezel, Matt Dillon, Ryan Potter, Juliet...","$12,000,000","$30,597","$89,988,",NaN
6043,The House That Jack Built,2018-October-17,"Denmark, France, Sweden, Germany, Belgium","English, German, Italian",152.0,"Crime, Drama, Horror",R,6.9,42.0,30536.0,273.0,223.0,Lars von Trier,"Lars von Trier, Lars von Trier","Matt Dillon, Bruno Ganz, Uma Thurman, Siobhan ...","€8,700,000","$34,091","$87,008,",NaN
6044,Dans la brume,2018-April-4,"France, Canada","French, English",89.0,Sci-Fi,NaN,5.9,NaN,3029.0,15.0,25.0,Daniel Roby,"Guillaume Lemans, Jimmy Bemon","Romain Duris, Olga Kurylenko, Fantine Harduin,...","€11,270,000",NaN,"$77,987,",NaN
6045,Blaze,2018-August-17,USA,English,129.0,"Biography, Drama, Music",R,6.8,75.0,1130.0,12.0,45.0,Ethan Hawke,"Ethan Hawke, Sybil Rosen","Ben Dickey, Alia Shawkat, Charlie Sexton, Josh...","$1,200,000","$44,250","$69,114,",NaN
6046,Las herederas,2018-April-5,"Paraguay, France, Germany, Norway, Brazil, Uru...","Spanish, Guarani",98.0,Drama,NaN,6.9,77.0,1617.0,6.0,71.0,Marcelo Martinessi,Marcelo Martinessi,"Ana Brun, Margarita Irun, Ana Ivanova, Nilda G...","€514,000","$11,304","$65,053,",NaN
6047,L'apparition,2018-February-14,"France, Belgium, Jordan","French, Italian, German, English",144.0,Drama,NaN,6.4,64.0,781.0,6.0,46.0,Xavier Giannoli,"Xavier Giannoli, Jacques Fieschi","Vincent Lindon, Galatéa Bellugi, Patrick d'Ass...","€8,900,000","$9,830","$28,293,",NaN
6048,The Lucky Man,2018-January-16,USA,English,98.0,"Action, Drama, Sci-Fi",R,5.8,NaN,1677.0,46.0,4.0,Norman Gregory McGuire,Norman Gregory McGuire,"Burton Gilliam, Jesse James, Mariana Paola Vic...","$1,000,000",NaN,"$24,813,",NaN
6049,Mes provinciales,2018-April-18,France,French,137.0,Drama,NaN,6.3,52.0,329.0,3.0,11.0,Jean-Paul Civeyrac,Jean-Paul Civeyrac,"Andranic Manet, Diane Rouxel, Jenna Thiam, Gon...",€600,NaN,"$21,598,",NaN
6050,District,2018-February-20,USA,English,67.0,Drama,R,6.5,NaN,24.0,NaN,NaN,Anthony Bawn,"Tyson Anthony, Anthony Bawn","Brandon Anthony, Tami Roman, Jeffrey Erskine, ...","$15,000","$5,000","$20,000,",NaN
6051,Napszállta,2018-September-27,"Hungary, France","Hungarian, German",142.0,Drama,R,6.6,68.0,1457.0,8.0,67.0,László Nemes,"László Nemes, Clara Royer","Susanne Wuest, Juli Jakab, Levente Molnár, Vla...","€8,900,000","$13,846","$21,650,",NaN
6052,Touch Me Not,2018-October-31,"Romania, Germany, Czech Republic, Bulgaria, Fr...","English, German",123.0,Drama,NaN,6.2,65.0,1251.0,14.0,80.0,Adina Pintilie,Adina Pintilie,"Laura Benson, Tómas Lemarquis, Christian Bayer...","€1,000,000","$5,616","$13,782,",NaN
6053,Hevi reissu,2018-March-9,"Finland, Norway, Belgium","Finnish, English, Norwegian",92.0,"Comedy, Music",NaN,7.2,72.0,2844.0,23.0,91.0,"Juuso Laatio, Jukka Vidgren","Juuso Laatio, Aleksi Puranen","Johannes Holopainen, Samuli Jaskio, Antti Heik...","€3,000,000","$5,419","$10,153,",NaN
6054,In Like Flynn,2018-October-11,"Australia, Canada",English,106.0,"Action, Adventure",R,5.2,66.0,296.0,16.0,12.0,Russell Mulcahy,"Steve M. Albert, Errol Flynn","Thomas Cocquerel, Corey Large, William Moseley...","$20,000,000","$6,646","$6,646,",NaN
6055,Patrick,2018-June-29,UK,English,94.0,Family,TV-14,5.7,28.0,1119.0,16.0,15.0,Mandie Fletcher,"Vanessa Davies, Mandie Fletcher","Ed Skrein, Jennifer Saunders, Tom Bennett, Emi...","£6,000,000","$1,378","$6,290,",NaN
6056,Skjelvet,2018-August-31,Norway,Norwegian,106.0,"Action, Drama, Thriller",PG-13,6.2,70.0,4268.0,51.0,38.0,John Andreas Andersen,"John Kåre Raake, Harald Rosenløw-Eeg","Kristoffer Joner, Ane Dahl Torp, Edith Haagenr...","NOK52,100,000","$3,256","$6,235,",NaN
6057,In Echo Park,2018-February-23,USA,English,82.0,"Crime, Drama",Not Rated,4.6,NaN,65.0,5.0,NaN,Nathaniel Lezra,Nathaniel Lezra,"Andrew Asper, Jared Brown, Bryan Michael Nunez...","$60,000",NaN,"$6,042,",NaN
6058,Kickboxer: Retaliation,2018-January-26,USA,English,110.0,"Action, Drama",R,5.0,54.0,3264.0,37.0,42.0,Dimitri Logothetis,"Jean-Claude Van Damme, Mark DiSalle","Alain Moussi, Christopher Lambert, Jean-Claude...","$13,000,000","$3,061","$4,537,",NaN
6059,American Dresser,2018-September-21,USA,English,97.0,"Adventure, Drama",Not Rated,5.2,24.0,182.0,7.0,7.0,Carmine Cangialosi,Carmine Cangialosi,"Gina Gershon, Penelope Ann Miller, Bruce Dern,...","$2,000,000","$2,211","$2,211,",NaN

In [153]:
clean.to_csv('data table.csv',index=False)

In [221]:
table = pd.read_csv('data table.csv')
untouch=table[table['budget'].str.contains('\$') == True]

In [222]:
len(table)

6060

In [223]:
len(untouch)

5388

## Handle datetime format with $

In [224]:
date=['2014-October-01','(Canda)-2015-November','2006','2003-December']

In [225]:
f1=pd.DataFrame({'name':[1,2,3,4],'date':date})

In [226]:
pd.to_datetime(f1['date'], errors='coerce')

0   2014-10-01
1          NaT
2   2006-01-01
3   2003-12-01
Name: date, dtype: datetime64[ns]

In [227]:
untouch1=untouch[untouch['release date'].notnull()]
untouch2=untouch[untouch['release date'].isnull()]

In [228]:
print(len(untouch1),len(untouch2))

5376 12

In [229]:
untouch1_1=untouch1[untouch1['release date'].str.contains('\-\d\d\d\d')]
untouch1_2=untouch1[untouch1['release date'].str.contains('\-\D+\-')]

In [230]:
print(len(untouch1_1))
print(len(untouch1_2))

44
5332

In [231]:
d_list=[]
for m in range(len(untouch1_1)):
    d=untouch1_1.iloc[m]['release date'].split('-')
    d1=d[1]


    try:
        d2=d[2]
        d = d1 + '-' + d2
        d_list.append(d)
    
    except:
        d = d1
        d_list.append(d)

In [232]:
print(len(d_list))
print(len(untouch1_1))

44
44

In [233]:
d_list

['2004',
 '2006-October',
 '2011',
 '1995',
 '1995',
 '1997',
 '1998-January',
 '1999-May',
 '1999-September',
 '2001-February',
 '2001-September',
 '2001',
 '2002',
 '2002-December',
 '2003-February',
 '2006',
 '2005',
 '2005-January',
 '2005-January',
 '2005-April',
 '2006-February',
 '2010',
 '2006-December',
 '2008',
 '2006-January',
 '2008-October',
 '2007',
 '2008-April',
 '2009-August',
 '2012-March',
 '2010-July',
 '2009-December',
 '2009',
 '2009',
 '2010-November',
 '2010-November',
 '2010',
 '2011-September',
 '2012-May',
 '2014',
 '2013',
 '2013-September',
 '2014',
 '2015']

In [234]:
untouch1_1['release date']=d_list
untouch1_1.head()

C:\Users\LZJ1995\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
816,Remake,2004,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...","$20,000,000",NaN,"$41,867,945,","$168,725,384,"
1106,Tideland,2006-October,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...","$19,300,000","$7,276","$66,453,","$197,659,"
1754,Passion Play,2011,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...","$8,000,000","$2,100","$3,669,","$11,500,000,"
3067,Badkonake sefid,1995,Iran,Persian,85.0,"Drama, Family",Unrated,7.8,NaN,5914.0,35.0,27.0,Jafar Panahi,"Abbas Kiarostami, Jafar Panahi","Aida Mohammadkhani, Mohsen Kafili, Fereshteh S...","$150,000",NaN,"$474,047",NaN
3082,The Fantasticks,1995,USA,English,86.0,"Musical, Romance",PG,5.7,48.0,1065.0,70.0,23.0,Michael Ritchie,"Tom Jones, Harvey Schmidt","Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...","$10,000,000","$24,176","$44,757,",NaN

In [235]:
untouch=pd.concat([untouch1_1,untouch1_2,untouch2],ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
untouch

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...","$20,000,000",NaN,"$41,867,945,","$168,725,384,"
1,Tideland,2006-October,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...","$19,300,000","$7,276","$66,453,","$197,659,"
2,Passion Play,2011,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...","$8,000,000","$2,100","$3,669,","$11,500,000,"
3,Badkonake sefid,1995,Iran,Persian,85.0,"Drama, Family",Unrated,7.8,NaN,5914.0,35.0,27.0,Jafar Panahi,"Abbas Kiarostami, Jafar Panahi","Aida Mohammadkhani, Mohsen Kafili, Fereshteh S...","$150,000",NaN,"$474,047",NaN
4,The Fantasticks,1995,USA,English,86.0,"Musical, Romance",PG,5.7,48.0,1065.0,70.0,23.0,Michael Ritchie,"Tom Jones, Harvey Schmidt","Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...","$10,000,000","$24,176","$44,757,",NaN
5,Bacheha-Ye aseman,1997,Iran,Persian,89.0,"Drama, Family",PG,8.3,NaN,50356.0,151.0,55.0,Majid Majidi,Majid Majidi,"Mohammad Amir Naji, Amir Farrokh Hashemian, Ba...","$180,000","$20,100","$925,402,",NaN
6,Naturally Native,1998-January,USA,English,107.0,Drama,PG-13,6.6,NaN,108.0,6.0,3.0,"Jennifer Wynne Farmer, Valerie Red-Horse",Valerie Red-Horse,"Valerie Red-Horse, Yvonne Russo, Irene Bedard,...","$700,000",NaN,"$10,508,",NaN
7,Sign of the Times,1999-May,USA,English,104.0,Comedy,NaN,6.0,NaN,132.0,2.0,NaN,"Tomas Herrera, Brian McCulley","Hank Harris, Tomas Herrera","Hank Harris, Tomas Herrera, Kyle Howard, Matth...","$350,000",NaN,"$2,300,000,",NaN
8,Spring Forward,1999-September,USA,English,110.0,Drama,R,7.5,79.0,1296.0,36.0,24.0,Tom Gilroy,Tom Gilroy,"Ned Beatty, Liev Schreiber, Campbell Scott, Ia...","$2,000,000","$6,269","$102,353,",NaN
9,"The Bread, My Sweet",2001-February,USA,"English, Italian",105.0,"Drama, Romance",PG-13,6.7,54.0,846.0,48.0,13.0,Melissa Martin,Melissa Martin,"Scott Baio, John Seitz, Kim Martin, Zachary Mo...","$600,000",NaN,"$1,021,479,",NaN
10,The Lost Skeleton of Cadavra,2001-September,USA,English,90.0,"Comedy, Horror, Sci-Fi",PG,7.0,45.0,4467.0,121.0,89.0,Larry Blamire,Larry Blamire,"Fay Masterson, Andrew Parks, Susan McConnell, ...","$40,000","$10,425","$143,121,",NaN
11,Divorce: The Musical,2001,USA,English,86.0,"Musical, Comedy",NaN,5.7,NaN,27.0,NaN,NaN,Steven Dworman,Steven Dworman,"Steven Dworman, Anneliese van der Pol, Amy Lyn...","$1,500,000","$8,332","$23,144,",NaN
12,Undercover Brother,2002,USA,English,86.0,"Action, Comedy",PG-13,5.8,69.0,31837.0,187.0,72.0,Malcolm D. Lee,"John Ridley, John Ridley","Eddie Griffin, Chris Kattan, Denise Richards, ...","$25,000,000","$12,037,685","$38,230,435,",NaN
13,Bomb the System,2002-December,USA,"English, Hindi",91.0,"Action, Drama",R,6.6,52.0,964.0,13.0,14.0,Adam Bhala Lough,Adam Bhala Lough,"Mark Webber, Gano Grills, Jade Yorker, Jaclyn ...","$500,000","$9,176","$14,865,",NaN
14,Assisted Living,2003-February,USA,English,78.0,"Comedy, Drama",R,6.8,57.0,266.0,10.0,22.0,Elliot Greenebaum,Elliot Greenebaum,"Michael Bonsignore, Maggie Riley, Nancy Jo Boo...","$500,000","$14,146","$41,929,",NaN
15,Fighting Tommy Riley,2006,USA,NaN,109.0,"Drama, Mystery, Romance",R,6.6,53.0,754.0,23.0,12.0,Eddie O'Flaherty,J.P. Davis,"Eddie Jones, J.P. Davis, Christina Chambers, D...","$200,000",NaN,"$5,199,",NaN
16,Dirty,2005,USA,"English, Spanish",97.0,"Crime, Drama, Thriller",R,5.6,37.0,4980.0,45.0,19.0,Chris Fisher,"Chris Fisher, Gil Reavill","Frank Alvarez, Clifton Collins Jr., Brittany D...","$3,000,000","$41,638","$271,078,",NaN
17,Game 6,2005-January,USA,"English, Mandarin, Hindi",87.0,"Comedy, Drama, Sport",R,5.9,56.0,2366.0,26.0,33.0,Michael Hoffman,Don DeLillo,"Michael Keaton, Robert Downey Jr., Ari Graynor...","$1,000,000","$9,610","$103,626,",NaN
18,The Salon,2005-January,USA,English,90.0,"Comedy, Drama",PG-13,4.3,26.0,478.0,6.0,14.0,Mark Brown,"Mark Brown, Shelley Garrett","Vivica A. Fox, Darrin Dewitt Henson, Kym Whitl...","$1,500,000","$92,362","$92,362,",NaN
19,The Tenants,2005-April,"USA, Germany",English,93.0,"Crime, Drama, Romance",R,5.2,46.0,920.0,15.0,16.0,Danny Green,"David Diamond, Danny Green","Dylan McDermott, Snoop Dogg, Rose Byrne, Seymo...","$2,000,000","$2,010","$2,010,",NaN
20,Disappearances,2006-February,USA,"English, French",118.0,"Action, Adventure, Drama",PG-13,5.1,57.0,507.0,19.0,15.0,Jay Craven,"Jay Craven, Howard Frank Mosher","Kris Kristofferson, Charlie McDermott, Gary Fa...","$1,500,000","$32,764","$312,642,",NaN
21,Love's Abiding Joy,2010,USA,NaN,87.0,"Drama, Family, Western",PG,7.1,NaN,1545.0,18.0,5.0,Michael Landon Jr.,"Michael Landon Jr., Douglas Lloyd McIntosh","Erin Cottrell, Dale Midkiff, Logan Bartholomew...","$3,000,000","$145,895","$252,726,",NaN
22,Holla,2006-December,USA,English,86.0,Horror,R,3.8,NaN,189.0,2.0,12.0,H.M. Coakley,"H.M. Coakley, Camille C. Irons","Shelli Boone, Young Sir, Charles Porter, Micha...","$200,000",NaN,"$165,171,",NaN
23,The Sensation of Sight,2008,USA,English,134.0,Drama,R,6.8,NaN,551.0,21.0,8.0,Aaron J. Wiederspahn,Aaron J. Wiederspahn,"David Strathairn, Ian Somerhalder, Daniel Gill...","$1,000,000","$1,226","$23,054,",NaN
24,Steel City,2006-January,USA,English,95.0,"Crime, Drama, Thriller",R,6.4,67.0,503.0,13.0,23.0,Brian Jun,Brian Jun,"Jamie Anne Allman, Marcus Atkins, Raymond J. B...","$350,000","$1,213","$10,227,",NaN
25,Americanizing Shelley,2008-October,USA,English,90.0,"Comedy, Drama, Romance",PG,5.1,NaN,596.0,10.0,6.0,Lorraine Senna,Namrata Singh Gujral,"Namrata Singh Gujral, Beau Bridges, Brad Raide...","$5,000,000","$36,450","$126,403,",NaN
26,Rolling,2007,USA,English,90.0,"Drama, Music, Romance",Not Rated,5.6,NaN,399.0,4.0,2.0,Billy Samoa Saleebey,"John Paul Cooney, Billy Samoa Saleebey","Sanoe Lake, Garrett Brawith, Rachel Hardisty, ...","$500,000","$5,390","$103,209,",NaN
27,Fix,2008-April,USA,English,93.0,Drama,R,6.4,31.0,839.0,9.0,14.0,Tao Ruspoli,"Charles Castaldi, Paul Duran","Shawn Andrews, Olivia Wilde, Megalyn Echikunwo...","$500,000","$5,951","$5,951,",NaN
28,Irene in Time,2009-August,USA,English,95.0,"Comedy, Drama, Romance",PG-13,4.6,39.0,166.0,3.0,18.0,Henry Jaglom,Henry Jaglom,"Tanna Frederick, Andrea Marcovicci, Victoria T...","$2,000,000","$9,332","$194,316,",NaN
29,The Velveteen Rabbit,2012-March,USA,English,97.0,"Animation, Family, Fantasy",G,6.4,NaN,576.0,3.0,7.0,Michael Landon Jr.,"Margery Williams, Michael Landon Jr.","Jane Seymour, Tom Skerritt, Ellen Burstyn, Mat...","$5,500,000","$92,536","$143,715,",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,Suspiria,2018-November-2,"Italy, USA","English, German, French",152.0,"Fantasy, Horror, Mystery",R,6.9,64.0,29750.0,341.0,292.0,Luca Guadagnino,"Dario Argento, Daria Nicolodi","Chloë Grace Moretz, Tilda Swinton, Doris Hick,...","$20,000,000","$184,037","$2,474,044,",NaN
5359,Arctic,2019-January-31,Iceland,English,98.0,"Adventure, Drama",PG-13,7.3,71.0,3006.0,51.0,80.0,Joe Penna,"Joe Penna, Ryan Morrison","Mads Mikkelsen, Maria Thelma Smáradóttir","$2,000,000","$50,878","$2,282,351,",NaN
5360,Capharnaüm,2018-September-20,"Lebanon, France, USA","Arabic, Amharic",126.0,Drama,R,8.4,75.0,12691.0,133.0,138.0,Nadine Labaki,"Nadine Labaki, Jihad Hojeily","Zain Al Rafeea, Yordanos Shiferaw, Boluwatife ...","$4,000,000","$24,988","$1,575,587,",NaN
5361,Destroyer,2018-December-27,USA,English,121.0,"Action, Crime, Drama",R,6.5,62.0,6339.0,126.0,176.0,Karyn Kusama,"Phil Hay, Matt Manfredi","Nicole Kidman, Toby Kebbell, Tatiana Maslany, ...","$9,000,000","$55,347","$1,533,324,",NaN
5362,Thugs of Hindostan,2018-November-8,India,"Hindi, English",164.0,"Action, Adventure",Not Rated,4.0,NaN,14732.0,886.0,28.0,Vijay Krishna Acharya,Vijay Krishna Acharya,"Aamir Khan, Katrina Kaif, Amitabh Bachchan, Ll...","$20,000,000","$1,185,386","$1,449,848,",NaN
5363,Mandy,2018-September-14,"USA, Belgium, UK",English,121.0,"Action, Fantasy, Horror",Not Rated,6.6,81.0,40735.0,696.0,293.0,Panos Cosmatos,"Panos Cosmatos, Aaron Stewart-Ahn","Nicolas Cage, Andrea Riseborough, Linus Roache...","$6,000,000",NaN,"$1,214,525,",NaN
5364,Sui Dhaaga: Made in India,2018-September-28,India,Hindi,122.0,"Comedy, Drama",Not Rated,6.8,NaN,4907.0,102.0,14.0,Sharat Katariya,Sharat Katariya,"Anushka Sharma, Varun Dhawan, Raghuvir Yadav, ...","$6,250,000","$582,006","$790,628,",NaN
5365,Hichki,2018-March-23,India,"Hindi, English",116.0,"Comedy, Drama",Not Rated,7.5,NaN,6998.0,74.0,22.0,Siddharth Malhotra,"Anckur Chaudhry, Siddharth Malhotra","Rani Mukerji, Neeraj Kabi, Sachin, Ivan Rodrig...","$2,000,000","$330,279","$330,279,",NaN
5366,London Fields,2018-October-26,"UK, USA",English,118.0,"Crime, Mystery, Thriller",R,4.3,16.0,2174.0,41.0,24.0,Mathew Cullen,"Roberta Hanley, Martin Amis","Gemma Chan, Amber Heard, Jaimie Alexander, Car...","$8,000,000","$168,575","$252,676,",NaN
5367,The Rocket,2018-January-23,USA,English,89.0,"Family, Sport",NaN,4.8,NaN,146.0,18.0,2.0,Richard Blake,Richard Blake,"Brady Tutton, Richard Blake, Terry King, Jorda...","$46,000",NaN,"$132,000,",NaN
5368,Running for Grace,2018-September-7,USA,NaN,110.0,"Adventure, Family, Romance",TV-14,6.1,NaN,505.0,29.0,4.0,David L. Cunningham,"David L. Cunningham, Christian Parkes","Jim Caviezel, Matt Dillon, Ryan Potter, Juliet...","$12,000,000","$30,597","$89,988,",NaN
5369,Blaze,2018-August-17,USA,English,129.0,"Biography, Drama, Music",R,6.8,75.0,1130.0,12.0,45.0,Ethan Hawke,"Ethan Hawke, Sybil Rosen","Ben Dickey, Alia Shawkat, Charlie Sexton, Josh...","$1,200,000","$44,250","$69,114,",NaN
5370,The Lucky Man,2018-January-16,USA,English,98.0,"Action, Drama, Sci-Fi",R,5.8,NaN,1677.0,46.0,4.0,Norman Gregory McGuire,Norman Gregory McGuire,"Burton Gilliam, Jesse James, Mariana Paola Vic...","$1,000,000",NaN,"$24,813,",NaN
5371,District,2018-February-20,USA,English,67.0,Drama,R,6.5,NaN,24.0,NaN,NaN,Anthony Bawn,"Tyson Anthony, Anthony Bawn","Brandon Anthony, Tami Roman, Jeffrey Erskine, ...","$15,000","$5,000","$20,000,",NaN
5372,In Like Flynn,2018-October-11,"Australia, Canada",English,106.0,"Action, Adventure",R,5.2,66.0,296.0,16.0,12.0,Russell Mulcahy,"Steve M. Albert, Errol Flynn","Thomas Cocquerel, Corey Large, William Moseley...","$20,000,000","$6,646","$6,646,",NaN
5373,In Echo Park,2018-February-23,USA,English,82.0,"Crime, Drama",Not Rated,4.6,NaN,65.0,5.0,NaN,Nathaniel Lezra,Nathaniel Lezra,"Andrew Asper, Jared Brown, Bryan Michael Nunez...","$60,000",NaN,"$6,042,",NaN
5374,Kickboxer: Retaliation,2018-January-26,USA,English,110.0,"Action, Drama",R,5.0,54.0,3264.0,37.0,42.0,Dimitri Logothetis,"Jean-Claude Van Damme, Mark DiSalle","Alain Moussi, Christopher Lambert, Jean-Claude...","$13,000,000","$3,061","$4,537,",NaN
5375,American Dresser,2018-September-21,USA,English,97.0,"Adventure, Drama",Not Rated,5.2,24.0,182.0,7.0,7.0,Carmine Cangialosi,Carmine Cangialosi,"Gina Gershon, Penelope Ann Miller, Bruce Dern,...","$2,000,000","$2,211","$2,211,",NaN
5376,The Worst Movie Ever!,NaN,USA,English,76.0,"Action, Comedy",NaN,4.1,NaN,153.0,6.0,3.0,Glenn Berggoetz,Glenn Berggoetz,"Glenn Berggoetz, Eileen Barker, Stuart Goldste...","$1,100",$11,"$25,206,","$6,503,"
5377,The Greed of Men,NaN,USA,English,80.0,NaN,Not Rated,7.5,NaN,40.0,NaN,NaN,Jeremy Fultz,Jeremy Fultz,"Matt Cinquanta, Jeremy Fultz, Paul Louis Harre...","$30,000",NaN,"$73,000","$98,000"
5378,The Volunteers,NaN,USA,English,NaN,NaN,NaN,8.0,NaN,31.0,NaN,NaN,Larry Herbst,Larry Herbst,"Madeline Kahn, Jack Warden, Gary Roberts, Geor...","$1,000,000",NaN,"$138,000",NaN
5379,Avenged,NaN,USA,English,107.0,Comedy,NaN,8.3,NaN,36.0,NaN,NaN,Riffat A. Khan,"Riffat A. Khan, Michael J. Tate","Joe Estevez, Max Perlich, Susan Dey, Terry Nem...","$475,000",NaN,"$693,000",NaN
5380,Naomi's Web,NaN,USA,English,88.0,NaN,NaN,6.4,NaN,16.0,3.0,1.0,Don Abernathy,"Don Abernathy, Keana Jackson","Keana Jackson, Latamra Smith, Don Wood, George...",$500,NaN,"$2,000,000",NaN
5381,Palo Pinto Gold,NaN,USA,English,105.0,NaN,PG-13,4.7,NaN,113.0,3.0,NaN,Anthony Henslee,"Anthony Henslee, Ryan Kidder","Trent Willmon, Roy Clark, Mel Tillis, Glynn Pr...","$200,000",NaN,"$50,000,",NaN
5382,The Pendant,NaN,USA,English,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jason Mayer,"Deven Lobascio, Jason Mayer","Justin Clarke, Bernadette DeSimone, Mike Marin...",$600,"$1,756","$7,200",NaN
5383,The 12 Day Smile,NaN,USA,English,83.0,NaN,R,NaN,NaN,NaN,NaN,NaN,Markus Victoria,Erwin Thurman,"Steve Boni, Tahja Desiree, Stacy Egerton, Kris...","$25,000","$25,000","$120,000,",NaN
5384,Equal Strength,NaN,USA,English,103.0,Action,NaN,8.2,NaN,26.0,7.0,NaN,Ika Santamaria,Ika Santamaria,"Ryan Tesauro, Noa Lindberg, Brent Battles, Kir...","$15,000",NaN,"$3,085,",NaN
5385,The Romans,NaN,USA,English,97.0,NaN,Not Rated,7.2,NaN,6.0,NaN,NaN,Korey Green,"Korey Green, Larry Quinn","Daniel Keith Barone, Byron Brown II, Constance...","$250,000",$900,"$18,994,",NaN
5386,Auto Shop of Horrors,NaN,USA,English,87.0,Comedy,NaN,4.8,NaN,20.0,3.0,NaN,"Glenn Berggoetz, Tim Gallagher","Glenn Berggoetz, Tim Gallagher","Glenn Berggoetz, Paul Rohrer, Maya Grace, Tim ...","$2,000","$1,955","$4,095,",NaN
5387,The Man from Outer Space,NaN,USA,English,74.0,NaN,Not Rated,7.4,NaN,11.0,2.0,1.0,Ben Hall,Ben Hall,"Christopher Mychael Watson, Aliyah Conley, Tod...","$100,000",NaN,"$18,709,",NaN

In [236]:
untouch['release date']=pd.to_datetime(untouch['release date'],errors='coerce')

In [237]:
untouch['budget']=untouch['budget'].str.replace(',','').str.strip('$')

In [238]:
untouch.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004-01-01,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...",20000000,NaN,"$41,867,945,","$168,725,384,"
1,Tideland,2006-10-01,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...",19300000,"$7,276","$66,453,","$197,659,"
2,Passion Play,2011-01-01,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...",8000000,"$2,100","$3,669,","$11,500,000,"
3,Badkonake sefid,1995-01-01,Iran,Persian,85.0,"Drama, Family",Unrated,7.8,NaN,5914.0,35.0,27.0,Jafar Panahi,"Abbas Kiarostami, Jafar Panahi","Aida Mohammadkhani, Mohsen Kafili, Fereshteh S...",150000,NaN,"$474,047",NaN
4,The Fantasticks,1995-01-01,USA,English,86.0,"Musical, Romance",PG,5.7,48.0,1065.0,70.0,23.0,Michael Ritchie,"Tom Jones, Harvey Schmidt","Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",10000000,"$24,176","$44,757,",NaN

In [239]:
len(untouch)

5388

## Handle datetime & Currency conversion

In [240]:
touch=table[table['budget'].str.contains('\$') == False]
touch.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
28,Les visiteurs,1993-January-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...","FRF50,000,000",NaN,"$700,000","$98,800,000"
66,Léon,1994-September-14,France,"English, Italian, French",110.0,"Action, Crime, Drama",R,8.6,64.0,910843.0,983.0,111.0,Luc Besson,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...","FRF115,000,000","$5,306,558","$19,501,238","$45,501,238"
76,The Sum of Us,1994-July-28,Australia,English,100.0,"Comedy, Drama",R,7.3,NaN,4786.0,71.0,18.0,"Geoff Burton, Kevin Dowling","David Stevens, David Stevens","Jack Thompson, Russell Crowe, John Polson, Deb...","AUD3,465,000","$766,000","$2,510,448,","$17,530,888,"
132,Kôkaku Kidôtai,1995-November-18,"Japan, UK",Japanese,83.0,"Animation, Action, Crime",Not Rated,8.0,76.0,113809.0,285.0,166.0,Mamoru Oshii,"Shirow Masamune, Kazunori Itô","Atsuko Tanaka, Akio Ôtsuka, Kôichi Yamadera, Y...","JPY600,000,000","$2,736","$515,905","$583,393,"
198,Un air de famille,1999-October-29,France,French,110.0,"Comedy, Drama",Not Rated,7.6,NaN,4055.0,24.0,21.0,Cédric Klapisch,"Agnès Jaoui, Jean-Pierre Bacri","Jean-Pierre Bacri, Jean-Pierre Darroussin, Cat...","€3,800,000","$257,637","$316,872,","$17,104,807"

In [241]:
len(touch)

672

In [242]:
touch1=touch[touch['release date'].str.contains('\-\d\d\d\d')]
touch2=touch[touch['release date'].str.contains('\-\D+\-')]

In [243]:
print(len(touch1))
print(len(touch2))

6
666

In [244]:
d_list=[]
for m in range(len(touch1)):
    d=touch1.iloc[m]['release date'].split('-')
    d1=d[1]


    try:
        d2=d[2]
        d = d1 + '-' + d2
        d_list.append(d)
    
    except:
        d = d1
        d_list.append(d)

In [245]:
touch1['release date']=d_list
touch1.head()

C:\Users\LZJ1995\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
4164,Marebito,2005,Japan,Japanese,92.0,"Drama, Fantasy, Horror",R,6.1,50.0,4521.0,45.0,71.0,Takashi Shimizu,"Chiaki Konaka, Chiaki Konaka","Shin'ya Tsukamoto, Tomomi Miyashita, Kazuhiro ...","JPY5,000,000","$3,852","$13,893,",NaN
5063,Der Räuber,2010-February,"Germany, Austria",German,90.0,"Biography, Crime, Drama",Not Rated,6.8,65.0,4119.0,21.0,85.0,Benjamin Heisenberg,"Martin Prinz, Benjamin Heisenberg","Andreas Lust, Markus Schleinzer, Roman Kettner...","€1,000,000",$804,"$82,172,",NaN
5064,The Human Resources Manager,2010,"Israel, Germany, France, Romania","Hebrew, English, Romanian, French",103.0,"Comedy, Drama",Not Rated,6.6,62.0,1256.0,13.0,61.0,Eran Riklis,"Noah Stollman, Avraham B. Yehoshua","Mark Ivanir, Guri Alfi, Noah Silver, Rozina Ca...","€2,300,000","$61,003","$63,709,",NaN
5193,The Eye of the Storm,2011-September,Australia,"English, French, German",114.0,Drama,Not Rated,6.3,55.0,1435.0,11.0,71.0,Fred Schepisi,"Judy Morris, Patrick White","Charlotte Rampling, Maria Theodorakis, Geoffre...","AUD15,000,000","$25,785","$83,297,",NaN
5499,Cupcakes,2013,"Israel, France","Hebrew, French, English",92.0,"Comedy, Music",Not Rated,6.0,64.0,521.0,5.0,71.0,Eytan Fox,"Eli Bijaoui, Eytan Fox","Dana Ivgy, Keren Berger, Yael Bar-Zohar, Efrat...","€2,200,000","$2,570","$8,817,",NaN

In [246]:
touch=pd.concat([touch1,touch2],ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
touch

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Marebito,2005,Japan,Japanese,92.0,"Drama, Fantasy, Horror",R,6.1,50.0,4521.0,45.0,71.0,Takashi Shimizu,"Chiaki Konaka, Chiaki Konaka","Shin'ya Tsukamoto, Tomomi Miyashita, Kazuhiro ...","JPY5,000,000","$3,852","$13,893,",NaN
1,Der Räuber,2010-February,"Germany, Austria",German,90.0,"Biography, Crime, Drama",Not Rated,6.8,65.0,4119.0,21.0,85.0,Benjamin Heisenberg,"Martin Prinz, Benjamin Heisenberg","Andreas Lust, Markus Schleinzer, Roman Kettner...","€1,000,000",$804,"$82,172,",NaN
2,The Human Resources Manager,2010,"Israel, Germany, France, Romania","Hebrew, English, Romanian, French",103.0,"Comedy, Drama",Not Rated,6.6,62.0,1256.0,13.0,61.0,Eran Riklis,"Noah Stollman, Avraham B. Yehoshua","Mark Ivanir, Guri Alfi, Noah Silver, Rozina Ca...","€2,300,000","$61,003","$63,709,",NaN
3,The Eye of the Storm,2011-September,Australia,"English, French, German",114.0,Drama,Not Rated,6.3,55.0,1435.0,11.0,71.0,Fred Schepisi,"Judy Morris, Patrick White","Charlotte Rampling, Maria Theodorakis, Geoffre...","AUD15,000,000","$25,785","$83,297,",NaN
4,Cupcakes,2013,"Israel, France","Hebrew, French, English",92.0,"Comedy, Music",Not Rated,6.0,64.0,521.0,5.0,71.0,Eytan Fox,"Eli Bijaoui, Eytan Fox","Dana Ivgy, Keren Berger, Yael Bar-Zohar, Efrat...","€2,200,000","$2,570","$8,817,",NaN
5,New World Order,2015-February,Italy,Italian,118.0,"Action, Crime, Drama",Not Rated,3.0,NaN,41.0,NaN,NaN,"Fabio Ferrara, Marco Ferrara",NaN,"Mario Ferrara, Benni Branco, Ruggiero Coppola,...","€5,000,000",$804,"$20,100,",NaN
6,Les visiteurs,1993-January-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...","FRF50,000,000",NaN,"$700,000","$98,800,000"
7,Léon,1994-September-14,France,"English, Italian, French",110.0,"Action, Crime, Drama",R,8.6,64.0,910843.0,983.0,111.0,Luc Besson,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...","FRF115,000,000","$5,306,558","$19,501,238","$45,501,238"
8,The Sum of Us,1994-July-28,Australia,English,100.0,"Comedy, Drama",R,7.3,NaN,4786.0,71.0,18.0,"Geoff Burton, Kevin Dowling","David Stevens, David Stevens","Jack Thompson, Russell Crowe, John Polson, Deb...","AUD3,465,000","$766,000","$2,510,448,","$17,530,888,"
9,Kôkaku Kidôtai,1995-November-18,"Japan, UK",Japanese,83.0,"Animation, Action, Crime",Not Rated,8.0,76.0,113809.0,285.0,166.0,Mamoru Oshii,"Shirow Masamune, Kazunori Itô","Atsuko Tanaka, Akio Ôtsuka, Kôichi Yamadera, Y...","JPY600,000,000","$2,736","$515,905","$583,393,"
10,Un air de famille,1999-October-29,France,French,110.0,"Comedy, Drama",Not Rated,7.6,NaN,4055.0,24.0,21.0,Cédric Klapisch,"Agnès Jaoui, Jean-Pierre Bacri","Jean-Pierre Bacri, Jean-Pierre Darroussin, Cat...","€3,800,000","$257,637","$316,872,","$17,104,807"
11,Mononoke-hime,1999-November-26,Japan,Japanese,134.0,"Animation, Adventure, Fantasy",PG-13,8.4,76.0,289371.0,626.0,190.0,Hayao Miyazaki,"Hayao Miyazaki, Neil Gaiman","Billy Crudup, Billy Bob Thornton, Minnie Drive...","JPY2,400,000,000","$144,446","$2,375,308","$159,375,308"
12,"Lock, Stock and Two Smoking Barrels",1998-August-28,UK,English,107.0,"Comedy, Crime",R,8.2,66.0,488935.0,550.0,115.0,Guy Ritchie,Guy Ritchie,"Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...","£960,000","$143,321","$3,897,569","$28,356,188"
13,Taxi,1998-April-8,France,"French, German, Korean, Portuguese",86.0,"Action, Comedy, Crime",Not Rated,7.0,NaN,70954.0,112.0,37.0,Gérard Pirès,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...","FRF53,000,000","$76,688","$268,254","$44,486,269"
14,Les couloirs du temps: Les visiteurs II,1998-February-11,France,French,118.0,"Comedy, Fantasy",G,6.1,NaN,9462.0,18.0,8.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Muriel Robin, Ma...","FRF140,000,000","$68,316","$146,072,","$26,000,000,"
15,Astérix & Obélix contre César,1999-February-3,"France, Italy, Germany","French, German",109.0,"Adventure, Comedy, Family",Not Rated,5.9,NaN,35870.0,56.0,23.0,Claude Zidi,"René Goscinny, Albert Uderzo","Christian Clavier, Gérard Depardieu, Roberto B...","FRF274,620,000","$304,245","$1,644,060","$101,644,060"
16,Snatch,2000-September-1,"UK, USA","English, Russian",104.0,"Comedy, Crime",R,8.3,55.0,710399.0,760.0,162.0,Guy Ritchie,Guy Ritchie,"Benicio Del Toro, Dennis Farina, Vinnie Jones,...","£6,000,000","$27,932","$30,328,156","$83,557,872"
17,Taxi 2,2000-March-29,France,"French, Japanese, German",88.0,"Action, Comedy, Crime",Not Rated,6.5,NaN,47203.0,54.0,38.0,Gérard Krawczyk,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...","FRF70,000,000","$273,170","$729,844","$60,829,844"
18,Les rivières pourpres,2001-January-21,France,French,106.0,"Crime, Mystery, Thriller",R,6.9,49.0,53991.0,165.0,90.0,Mathieu Kassovitz,"Jean-Christophe Grangé, Jean-Christophe Grangé","Jean Reno, Vincent Cassel, Nadia Farès, Domini...","FRF95,000,000","$286,495","$632,548","$60,132,548"
19,Amélie,2001-November-9,"France, Germany","French, Russian, English",122.0,"Comedy, Romance",R,8.3,69.0,644775.0,1385.0,250.0,Jean-Pierre Jeunet,"Guillaume Laurant, Jean-Pierre Jeunet","Audrey Tautou, Mathieu Kassovitz, Rufus, Lorel...","FRF77,000,000","$136,470","$33,225,499","$173,921,954"
20,Le pacte des loups,2001-June-1,France,"French, German, Italian",142.0,"Action, Adventure, Drama",R,7.1,57.0,58329.0,508.0,194.0,Christophe Gans,"Stéphane Cabel, Stéphane Cabel","Samuel Le Bihan, Mark Dacascos, Jérémie Renier...","€30,000,000","$475,181","$11,260,096","$70,752,904"
21,Nirgendwo in Afrika,2001-December-27,Germany,"English, Swahili, German",141.0,"Biography, Drama",R,7.6,72.0,11675.0,86.0,76.0,Caroline Link,"Caroline Link, Stefanie Zweig","Juliane Köhler, Merab Ninidze, Sidede Onyulo, ...","€7,000,000","$22,070","$6,173,485,","$17,873,182,"
22,Juana la Loca,2001-September-28,"Spain, Italy, Portugal, France",Spanish,115.0,"Biography, Drama, History",R,6.7,55.0,3435.0,33.0,29.0,Vicente Aranda,"Vicente Aranda, Antonio Larreta","Pilar López de Ayala, Daniele Liotti, Rosana P...","€4,800,000","$31,417","$279,605,","$9,200,000,"
23,Mean Machine,2001-December-26,"UK, USA",English,99.0,"Comedy, Crime, Drama",R,6.5,45.0,33118.0,84.0,55.0,Barry Skolnick,"Tracy Keenan Wynn, Charlie Fletcher","Vinnie Jones, David Kelly, David Hemmings, Ral...","£2,500,000","$16,870","$92,770","$7,310,206"
24,Bend It Like Beckham,2002-April-12,"UK, Germany, USA","English, Punjabi, Hindi, German",112.0,"Comedy, Drama, Romance",PG-13,6.7,66.0,98690.0,440.0,162.0,Gurinder Chadha,"Gurinder Chadha, Guljit Bindra","Parminder Nagra, Keira Knightley, Jonathan Rhy...","£3,500,159","$161,528","$32,543,449,","$76,583,333"
25,Whale Rider,2003-January-30,"New Zealand, Germany","English, Maori",101.0,"Drama, Family",PG-13,7.6,80.0,37392.0,362.0,159.0,Niki Caro,"Niki Caro, Witi Ihimaera","Keisha Castle-Hughes, Rawiri Paratene, Vicky H...","NZD6,000,000","$137,418","$20,779,666","$20,662,447"
26,Pinocchio,2002-October-11,Italy,Italian,108.0,"Comedy, Family, Fantasy",G,4.3,11.0,7183.0,96.0,67.0,Roberto Benigni,"Roberto Benigni, Roberto Benigni","Roberto Benigni, Nicoletta Braschi, Mino Belle...","€40,000,000","$1,151,463","$3,684,305","$41,323,171"
27,Astérix & Obélix: Mission Cléopâtre,2002-June-7,"France, Germany","French, Arabic, Cantonese, Latin, German",107.0,"Adventure, Comedy, Family",PG,6.6,NaN,44181.0,63.0,35.0,Alain Chabat,"René Goscinny, Albert Uderzo","Gérard Depardieu, Christian Clavier, Jamel Deb...","FRF327,000,000",NaN,"$3,115,188","$111,127,553"
28,Dracula: Pages from a Virgin's Diary,2003-December-12,Canada,English,73.0,"Horror, Musical",Not Rated,7.0,84.0,1761.0,33.0,58.0,Guy Maddin,"Bram Stoker, Mark Godden","Wei-Qiang Zhang, Tara Birtwhistle, David Moron...","CAD1,600,000","$4,784","$55,365","$97,077"
29,Luther,2004-October-22,"Germany, USA","English, Latin",123.0,"Biography, Drama, History",PG-13,6.6,47.0,14048.0,108.0,72.0,Eric Till,"Camille Thomasson, Bart Gavigan","Joseph Fiennes, Alfred Molina, Jonathan Firth,...","€21,000,000","$908,446","$5,791,328,","$23,684,104,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,Le Fidèle,2017-October-4,"Belgium, France, Netherlands","French, Dutch",130.0,"Crime, Drama, Romance",R,6.4,50.0,2951.0,11.0,72.0,Michaël R. Roskam,"Thomas Bidegain, Noé Debré","Matthias Schoenaerts, Adèle Exarchopoulos, Eri...","€8,000,000","$2,513","$46,337,",NaN
643,Western,2017-August-24,"Germany, Bulgaria, Austria","German, Bulgarian, English",121.0,Drama,Unrated,7.0,81.0,2471.0,11.0,88.0,Valeska Grisebach,Valeska Grisebach,"Meinhard Neumann, Reinhardt Wetrek, Syuleyman ...","€1,800,000","$6,688","$41,072,",NaN
644,Arábia,2018-April-5,Brazil,Portuguese,97.0,Drama,NaN,7.4,82.0,489.0,6.0,24.0,"João Dumans, Affonso Uchoa","João Dumans, Affonso Uchoa","Aristides de Sousa, Murilo Caliari, Gláucia Va...","BRL500,000",NaN,"$38,399,",NaN
645,Loving Pablo,2018-March-9,"Spain, Bulgaria","English, Spanish",123.0,"Action, Biography, Crime",R,6.3,42.0,13024.0,62.0,73.0,Fernando León de Aranoa,"Fernando León de Aranoa, Virginia Vallejo","Javier Bardem, Penélope Cruz, Peter Sarsgaard,...","€14,582,000","$16,564","$22,017,",NaN
646,November,2017-February-3,"Estonia, Netherlands, Poland","Estonian, German, Italian",115.0,"Drama, Fantasy, Horror",NaN,7.2,79.0,2264.0,15.0,54.0,Rainer Sarnet,"Andrus Kivirähk, Rainer Sarnet","Rea Lest, Jörgen Liik, Arvo Kukumägi, Katariin...","€1,450,000",NaN,"$19,084,",NaN
647,Song of Granite,2017-November-15,"Ireland, Canada","Irish, English",104.0,"Biography, Drama",NaN,6.5,68.0,193.0,2.0,20.0,Pat Collins,"Pat Collins, Eoghan Mac Giolla Bhríde","Michael O'Chonfhlaola, Macdara Ó Fátharta, Jar...","€1,300,000",NaN,"$16,182,",NaN
648,Legenda o Kolovrate,2018-April-20,Russia,"Russian, Tatar",107.0,"Action, History",NaN,6.3,NaN,2003.0,16.0,4.0,"Dzhanik Fayziev, Ivan Shurkhovetskiy","Dmitriy Paltsev, Dmitriy Raevskiy","Ilya Malakov, Aleksey Serebryakov, Aleksandr I...","RUR360,000,000","$6,964","$8,177,",NaN
649,Another WolfCop,2017-July-29,Canada,English,82.0,"Comedy, Horror",NaN,4.8,NaN,858.0,17.0,38.0,Lowell Dean,Lowell Dean,"Leo Fafard, Yannick Bisson, Amy Matysio, Jonat...","CAD3,000,000","$5,890","$7,285,",NaN
650,Simmba,2018-December-28,India,"Hindi, Marathi, English",158.0,"Action, Comedy, Crime",Not Rated,6.3,NaN,13986.0,1103.0,18.0,Rohit Shetty,"Puri Jagannadh, Vakkantham Vamsi","Ranveer Singh, Sara Ali Khan, Sonu Sood, Ashut...","INR800,000,000","$1,758,563","$5,075,611,",NaN
651,Zimna wojna,2018-June-8,"Poland, UK, France","Polish, French, German, Russian, Italian, Croa...",89.0,"Drama, Music, Romance",R,7.7,90.0,29574.0,144.0,250.0,Pawel Pawlikowski,"Pawel Pawlikowski, Pawel Pawlikowski","Joanna Kulig, Tomasz Kot, Borys Szyc, Agata Ku...","€4,300,000","$54,353","$4,557,943,",NaN
652,La Boda de Valentina,2018-February-9,Mexico,"Spanish, English",107.0,"Comedy, Romance",R,4.7,NaN,504.0,5.0,NaN,Marco Polo Constandse,"Beto Gómez, Santiago Limón","Kate Vernon, Ryan Carnes, Omar Chaparro, Tony ...","MXN47,900,000","$1,147,073","$2,783,739,",NaN
653,Todos lo saben,2018-May-9,"Spain, France, Italy","Spanish, English, Catalan",133.0,"Crime, Drama, Mystery",R,7.0,68.0,14924.0,86.0,176.0,Asghar Farhadi,Asghar Farhadi,"Penélope Cruz, Javier Bardem, Ricardo Darín, E...","€10,000,000","$71,207","$2,608,080,",NaN
654,Singwa hamkke: Ingwa yeon,2018-August-1,South Korea,Korean,142.0,"Action, Drama, Fantasy",Not Rated,7.0,NaN,3044.0,20.0,24.0,Yong-hwa Kim,"Ho-min Ju, Yong-hwa Kim","Jung-woo Ha, Ji-Hoon Ju, Hyang-gi Kim, Dong-se...","KRW35,000,000,000","$311,743","$1,200,246,",NaN
655,Nada a Perder,2018-March-29,Brazil,Portuguese,134.0,"Biography, Drama",PG,6.6,NaN,22510.0,29.0,5.0,Alexandre Avancini,"Stephen P. Lindsey, Emílio Boechat","Petrônio Gontijo, Day Mesquita, Beth Goulart, ...","BRL16,000,000","$679,531","$1,003,497,",NaN
656,Kedarnath,2018-December-7,India,Hindi,116.0,"Drama, Romance",NaN,5.9,NaN,3692.0,184.0,11.0,Abhishek Kapoor,"Abhishek Kapoor, Kanika Dhillon","Sushant Singh Rajput, Sara Ali Khan, Nitish Bh...","INR350,000,000","$407,118","$901,131,",NaN
657,Climax,2018-September-19,"France, Belgium","French, English",97.0,"Drama, Horror, Music",R,7.3,67.0,19486.0,166.0,222.0,Gaspar Noé,Gaspar Noé,"Sofia Boutella, Romain Guillermic, Souheila Ya...","€2,600,000","$119,423","$766,724,",NaN
658,Gongjak,2018-August-8,South Korea,"Korean, Mandarin, Japanese",137.0,Drama,Not Rated,7.2,69.0,1124.0,5.0,30.0,Jong-bin Yoon,"Sung-hui Kwon, Jong-bin Yoon","Jung-min Hwang, Sung-min Lee, Jin-Woong Cho, J...","KRW19,000,000,000",NaN,"$497,755,",NaN
659,The Great Battle,2018-September-21,South Korea,"Korean, Mandarin",136.0,"Action, Drama, History",Not Rated,7.0,NaN,1306.0,22.0,15.0,Kwang-shik Kim,NaN,"In-sung Jo, Joo-Hyuk Nam, Sung-woong Park, Seo...","KRW15,000,000,000","$123,983","$472,166,",NaN
660,Kona fer í stríð,2018-May-22,"Iceland, France, Ukraine","Icelandic, Spanish, English, Ukrainian",101.0,"Action, Drama, Thriller",NaN,7.6,81.0,2156.0,12.0,66.0,Benedikt Erlingsson,"Ólafur Egilsson, Benedikt Erlingsson","Halldóra Geirharðsdóttir, Jóhann Sigurðarson, ...","€2,500,000","$18,370","$271,457,",NaN
661,Karwaan,2018-August-3,India,Hindi,114.0,"Comedy, Drama",Not Rated,7.5,NaN,7953.0,137.0,11.0,Akarsh Khurana,"Bejoy Nambiar, Akarsh Khurana","Irrfan Khan, Dulquer Salmaan, Mithila Palkar, ...","INR200,000,000","$98,575","$182,009,",NaN
662,The House That Jack Built,2018-October-17,"Denmark, France, Sweden, Germany, Belgium","English, German, Italian",152.0,"Crime, Drama, Horror",R,6.9,42.0,30536.0,273.0,223.0,Lars von Trier,"Lars von Trier, Lars von Trier","Matt Dillon, Bruno Ganz, Uma Thurman, Siobhan ...","€8,700,000","$34,091","$87,008,",NaN
663,Dans la brume,2018-April-4,"France, Canada","French, English",89.0,Sci-Fi,NaN,5.9,NaN,3029.0,15.0,25.0,Daniel Roby,"Guillaume Lemans, Jimmy Bemon","Romain Duris, Olga Kurylenko, Fantine Harduin,...","€11,270,000",NaN,"$77,987,",NaN
664,Las herederas,2018-April-5,"Paraguay, France, Germany, Norway, Brazil, Uru...","Spanish, Guarani",98.0,Drama,NaN,6.9,77.0,1617.0,6.0,71.0,Marcelo Martinessi,Marcelo Martinessi,"Ana Brun, Margarita Irun, Ana Ivanova, Nilda G...","€514,000","$11,304","$65,053,",NaN
665,L'apparition,2018-February-14,"France, Belgium, Jordan","French, Italian, German, English",144.0,Drama,NaN,6.4,64.0,781.0,6.0,46.0,Xavier Giannoli,"Xavier Giannoli, Jacques Fieschi","Vincent Lindon, Galatéa Bellugi, Patrick d'Ass...","€8,900,000","$9,830","$28,293,",NaN
666,Mes provinciales,2018-April-18,France,French,137.0,Drama,NaN,6.3,52.0,329.0,3.0,11.0,Jean-Paul Civeyrac,Jean-Paul Civeyrac,"Andranic Manet, Diane Rouxel, Jenna Thiam, Gon...",€600,NaN,"$21,598,",NaN
667,Napszállta,2018-September-27,"Hungary, France","Hungarian, German",142.0,Drama,R,6.6,68.0,1457.0,8.0,67.0,László Nemes,"László Nemes, Clara Royer","Susanne Wuest, Juli Jakab, Levente Molnár, Vla...","€8,900,000","$13,846","$21,650,",NaN
668,Touch Me Not,2018-October-31,"Romania, Germany, Czech Republic, Bulgaria, Fr...","English, German",123.0,Drama,NaN,6.2,65.0,1251.0,14.0,80.0,Adina Pintilie,Adina Pintilie,"Laura Benson, Tómas Lemarquis, Christian Bayer...","€1,000,000","$5,616","$13,782,",NaN
669,Hevi reissu,2018-March-9,"Finland, Norway, Belgium","Finnish, English, Norwegian",92.0,"Comedy, Music",NaN,7.2,72.0,2844.0,23.0,91.0,"Juuso Laatio, Jukka Vidgren","Juuso Laatio, Aleksi Puranen","Johannes Holopainen, Samuli Jaskio, Antti Heik...","€3,000,000","$5,419","$10,153,",NaN
670,Patrick,2018-June-29,UK,English,94.0,Family,TV-14,5.7,28.0,1119.0,16.0,15.0,Mandie Fletcher,"Vanessa Davies, Mandie Fletcher","Ed Skrein, Jennifer Saunders, Tom Bennett, Emi...","£6,000,000","$1,378","$6,290,",NaN
671,Skjelvet,2018-August-31,Norway,Norwegian,106.0,"Action, Drama, Thriller",PG-13,6.2,70.0,4268.0,51.0,38.0,John Andreas Andersen,"John Kåre Raake, Harald Rosenløw-Eeg","Kristoffer Joner, Ane Dahl Torp, Edith Haagenr...","NOK52,100,000","$3,256","$6,235,",NaN

In [247]:
touch['release date']=pd.to_datetime(touch['release date'],errors='coerce')
touch

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Marebito,2005-01-01,Japan,Japanese,92.0,"Drama, Fantasy, Horror",R,6.1,50.0,4521.0,45.0,71.0,Takashi Shimizu,"Chiaki Konaka, Chiaki Konaka","Shin'ya Tsukamoto, Tomomi Miyashita, Kazuhiro ...","JPY5,000,000","$3,852","$13,893,",NaN
1,Der Räuber,2010-02-01,"Germany, Austria",German,90.0,"Biography, Crime, Drama",Not Rated,6.8,65.0,4119.0,21.0,85.0,Benjamin Heisenberg,"Martin Prinz, Benjamin Heisenberg","Andreas Lust, Markus Schleinzer, Roman Kettner...","€1,000,000",$804,"$82,172,",NaN
2,The Human Resources Manager,2010-01-01,"Israel, Germany, France, Romania","Hebrew, English, Romanian, French",103.0,"Comedy, Drama",Not Rated,6.6,62.0,1256.0,13.0,61.0,Eran Riklis,"Noah Stollman, Avraham B. Yehoshua","Mark Ivanir, Guri Alfi, Noah Silver, Rozina Ca...","€2,300,000","$61,003","$63,709,",NaN
3,The Eye of the Storm,2011-09-01,Australia,"English, French, German",114.0,Drama,Not Rated,6.3,55.0,1435.0,11.0,71.0,Fred Schepisi,"Judy Morris, Patrick White","Charlotte Rampling, Maria Theodorakis, Geoffre...","AUD15,000,000","$25,785","$83,297,",NaN
4,Cupcakes,2013-01-01,"Israel, France","Hebrew, French, English",92.0,"Comedy, Music",Not Rated,6.0,64.0,521.0,5.0,71.0,Eytan Fox,"Eli Bijaoui, Eytan Fox","Dana Ivgy, Keren Berger, Yael Bar-Zohar, Efrat...","€2,200,000","$2,570","$8,817,",NaN
5,New World Order,2015-02-01,Italy,Italian,118.0,"Action, Crime, Drama",Not Rated,3.0,NaN,41.0,NaN,NaN,"Fabio Ferrara, Marco Ferrara",NaN,"Mario Ferrara, Benni Branco, Ruggiero Coppola,...","€5,000,000",$804,"$20,100,",NaN
6,Les visiteurs,1993-01-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...","FRF50,000,000",NaN,"$700,000","$98,800,000"
7,Léon,1994-09-14,France,"English, Italian, French",110.0,"Action, Crime, Drama",R,8.6,64.0,910843.0,983.0,111.0,Luc Besson,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...","FRF115,000,000","$5,306,558","$19,501,238","$45,501,238"
8,The Sum of Us,1994-07-28,Australia,English,100.0,"Comedy, Drama",R,7.3,NaN,4786.0,71.0,18.0,"Geoff Burton, Kevin Dowling","David Stevens, David Stevens","Jack Thompson, Russell Crowe, John Polson, Deb...","AUD3,465,000","$766,000","$2,510,448,","$17,530,888,"
9,Kôkaku Kidôtai,1995-11-18,"Japan, UK",Japanese,83.0,"Animation, Action, Crime",Not Rated,8.0,76.0,113809.0,285.0,166.0,Mamoru Oshii,"Shirow Masamune, Kazunori Itô","Atsuko Tanaka, Akio Ôtsuka, Kôichi Yamadera, Y...","JPY600,000,000","$2,736","$515,905","$583,393,"
10,Un air de famille,1999-10-29,France,French,110.0,"Comedy, Drama",Not Rated,7.6,NaN,4055.0,24.0,21.0,Cédric Klapisch,"Agnès Jaoui, Jean-Pierre Bacri","Jean-Pierre Bacri, Jean-Pierre Darroussin, Cat...","€3,800,000","$257,637","$316,872,","$17,104,807"
11,Mononoke-hime,1999-11-26,Japan,Japanese,134.0,"Animation, Adventure, Fantasy",PG-13,8.4,76.0,289371.0,626.0,190.0,Hayao Miyazaki,"Hayao Miyazaki, Neil Gaiman","Billy Crudup, Billy Bob Thornton, Minnie Drive...","JPY2,400,000,000","$144,446","$2,375,308","$159,375,308"
12,"Lock, Stock and Two Smoking Barrels",1998-08-28,UK,English,107.0,"Comedy, Crime",R,8.2,66.0,488935.0,550.0,115.0,Guy Ritchie,Guy Ritchie,"Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...","£960,000","$143,321","$3,897,569","$28,356,188"
13,Taxi,1998-04-08,France,"French, German, Korean, Portuguese",86.0,"Action, Comedy, Crime",Not Rated,7.0,NaN,70954.0,112.0,37.0,Gérard Pirès,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...","FRF53,000,000","$76,688","$268,254","$44,486,269"
14,Les couloirs du temps: Les visiteurs II,1998-02-11,France,French,118.0,"Comedy, Fantasy",G,6.1,NaN,9462.0,18.0,8.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Muriel Robin, Ma...","FRF140,000,000","$68,316","$146,072,","$26,000,000,"
15,Astérix & Obélix contre César,1999-02-03,"France, Italy, Germany","French, German",109.0,"Adventure, Comedy, Family",Not Rated,5.9,NaN,35870.0,56.0,23.0,Claude Zidi,"René Goscinny, Albert Uderzo","Christian Clavier, Gérard Depardieu, Roberto B...","FRF274,620,000","$304,245","$1,644,060","$101,644,060"
16,Snatch,2000-09-01,"UK, USA","English, Russian",104.0,"Comedy, Crime",R,8.3,55.0,710399.0,760.0,162.0,Guy Ritchie,Guy Ritchie,"Benicio Del Toro, Dennis Farina, Vinnie Jones,...","£6,000,000","$27,932","$30,328,156","$83,557,872"
17,Taxi 2,2000-03-29,France,"French, Japanese, German",88.0,"Action, Comedy, Crime",Not Rated,6.5,NaN,47203.0,54.0,38.0,Gérard Krawczyk,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...","FRF70,000,000","$273,170","$729,844","$60,829,844"
18,Les rivières pourpres,2001-01-21,France,French,106.0,"Crime, Mystery, Thriller",R,6.9,49.0,53991.0,165.0,90.0,Mathieu Kassovitz,"Jean-Christophe Grangé, Jean-Christophe Grangé","Jean Reno, Vincent Cassel, Nadia Farès, Domini...","FRF95,000,000","$286,495","$632,548","$60,132,548"
19,Amélie,2001-11-09,"France, Germany","French, Russian, English",122.0,"Comedy, Romance",R,8.3,69.0,644775.0,1385.0,250.0,Jean-Pierre Jeunet,"Guillaume Laurant, Jean-Pierre Jeunet","Audrey Tautou, Mathieu Kassovitz, Rufus, Lorel...","FRF77,000,000","$136,470","$33,225,499","$173,921,954"
20,Le pacte des loups,2001-06-01,France,"French, German, Italian",142.0,"Action, Adventure, Drama",R,7.1,57.0,58329.0,508.0,194.0,Christophe Gans,"Stéphane Cabel, Stéphane Cabel","Samuel Le Bihan, Mark Dacascos, Jérémie Renier...","€30,000,000","$475,181","$11,260,096","$70,752,904"
21,Nirgendwo in Afrika,2001-12-27,Germany,"English, Swahili, German",141.0,"Biography, Drama",R,7.6,72.0,11675.0,86.0,76.0,Caroline Link,"Caroline Link, Stefanie Zweig","Juliane Köhler, Merab Ninidze, Sidede Onyulo, ...","€7,000,000","$22,070","$6,173,485,","$17,873,182,"
22,Juana la Loca,2001-09-28,"Spain, Italy, Portugal, France",Spanish,115.0,"Biography, Drama, History",R,6.7,55.0,3435.0,33.0,29.0,Vicente Aranda,"Vicente Aranda, Antonio Larreta","Pilar López de Ayala, Daniele Liotti, Rosana P...","€4,800,000","$31,417","$279,605,","$9,200,000,"
23,Mean Machine,2001-12-26,"UK, USA",English,99.0,"Comedy, Crime, Drama",R,6.5,45.0,33118.0,84.0,55.0,Barry Skolnick,"Tracy Keenan Wynn, Charlie Fletcher","Vinnie Jones, David Kelly, David Hemmings, Ral...","£2,500,000","$16,870","$92,770","$7,310,206"
24,Bend It Like Beckham,2002-04-12,"UK, Germany, USA","English, Punjabi, Hindi, German",112.0,"Comedy, Drama, Romance",PG-13,6.7,66.0,98690.0,440.0,162.0,Gurinder Chadha,"Gurinder Chadha, Guljit Bindra","Parminder Nagra, Keira Knightley, Jonathan Rhy...","£3,500,159","$161,528","$32,543,449,","$76,583,333"
25,Whale Rider,2003-01-30,"New Zealand, Germany","English, Maori",101.0,"Drama, Family",PG-13,7.6,80.0,37392.0,362.0,159.0,Niki Caro,"Niki Caro, Witi Ihimaera","Keisha Castle-Hughes, Rawiri Paratene, Vicky H...","NZD6,000,000","$137,418","$20,779,666","$20,662,447"
26,Pinocchio,2002-10-11,Italy,Italian,108.0,"Comedy, Family, Fantasy",G,4.3,11.0,7183.0,96.0,67.0,Roberto Benigni,"Roberto Benigni, Roberto Benigni","Roberto Benigni, Nicoletta Braschi, Mino Belle...","€40,000,000","$1,151,463","$3,684,305","$41,323,171"
27,Astérix & Obélix: Mission Cléopâtre,2002-06-07,"France, Germany","French, Arabic, Cantonese, Latin, German",107.0,"Adventure, Comedy, Family",PG,6.6,NaN,44181.0,63.0,35.0,Alain Chabat,"René Goscinny, Albert Uderzo","Gérard Depardieu, Christian Clavier, Jamel Deb...","FRF327,000,000",NaN,"$3,115,188","$111,127,553"
28,Dracula: Pages from a Virgin's Diary,2003-12-12,Canada,English,73.0,"Horror, Musical",Not Rated,7.0,84.0,1761.0,33.0,58.0,Guy Maddin,"Bram Stoker, Mark Godden","Wei-Qiang Zhang, Tara Birtwhistle, David Moron...","CAD1,600,000","$4,784","$55,365","$97,077"
29,Luther,2004-10-22,"Germany, USA","English, Latin",123.0,"Biography, Drama, History",PG-13,6.6,47.0,14048.0,108.0,72.0,Eric Till,"Camille Thomasson, Bart Gavigan","Joseph Fiennes, Alfred Molina, Jonathan Firth,...","€21,000,000","$908,446","$5,791,328,","$23,684,104,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,Le Fidèle,2017-10-04,"Belgium, France, Netherlands","French, Dutch",130.0,"Crime, Drama, Romance",R,6.4,50.0,2951.0,11.0,72.0,Michaël R. Roskam,"Thomas Bidegain, Noé Debré","Matthias Schoenaerts, Adèle Exarchopoulos, Eri...","€8,000,000","$2,513","$46,337,",NaN
643,Western,2017-08-24,"Germany, Bulgaria, Austria","German, Bulgarian, English",121.0,Drama,Unrated,7.0,81.0,2471.0,11.0,88.0,Valeska Grisebach,Valeska Grisebach,"Meinhard Neumann, Reinhardt Wetrek, Syuleyman ...","€1,800,000","$6,688","$41,072,",NaN
644,Arábia,2018-04-05,Brazil,Portuguese,97.0,Drama,NaN,7.4,82.0,489.0,6.0,24.0,"João Dumans, Affonso Uchoa","João Dumans, Affonso Uchoa","Aristides de Sousa, Murilo Caliari, Gláucia Va...","BRL500,000",NaN,"$38,399,",NaN
645,Loving Pablo,2018-03-09,"Spain, Bulgaria","English, Spanish",123.0,"Action, Biography, Crime",R,6.3,42.0,13024.0,62.0,73.0,Fernando León de Aranoa,"Fernando León de Aranoa, Virginia Vallejo","Javier Bardem, Penélope Cruz, Peter Sarsgaard,...","€14,582,000","$16,564","$22,017,",NaN
646,November,2017-02-03,"Estonia, Netherlands, Poland","Estonian, German, Italian",115.0,"Drama, Fantasy, Horror",NaN,7.2,79.0,2264.0,15.0,54.0,Rainer Sarnet,"Andrus Kivirähk, Rainer Sarnet","Rea Lest, Jörgen Liik, Arvo Kukumägi, Katariin...","€1,450,000",NaN,"$19,084,",NaN
647,Song of Granite,2017-11-15,"Ireland, Canada","Irish, English",104.0,"Biography, Drama",NaN,6.5,68.0,193.0,2.0,20.0,Pat Collins,"Pat Collins, Eoghan Mac Giolla Bhríde","Michael O'Chonfhlaola, Macdara Ó Fátharta, Jar...","€1,300,000",NaN,"$16,182,",NaN
648,Legenda o Kolovrate,2018-04-20,Russia,"Russian, Tatar",107.0,"Action, History",NaN,6.3,NaN,2003.0,16.0,4.0,"Dzhanik Fayziev, Ivan Shurkhovetskiy","Dmitriy Paltsev, Dmitriy Raevskiy","Ilya Malakov, Aleksey Serebryakov, Aleksandr I...","RUR360,000,000","$6,964","$8,177,",NaN
649,Another WolfCop,2017-07-29,Canada,English,82.0,"Comedy, Horror",NaN,4.8,NaN,858.0,17.0,38.0,Lowell Dean,Lowell Dean,"Leo Fafard, Yannick Bisson, Amy Matysio, Jonat...","CAD3,000,000","$5,890","$7,285,",NaN
650,Simmba,2018-12-28,India,"Hindi, Marathi, English",158.0,"Action, Comedy, Crime",Not Rated,6.3,NaN,13986.0,1103.0,18.0,Rohit Shetty,"Puri Jagannadh, Vakkantham Vamsi","Ranveer Singh, Sara Ali Khan, Sonu Sood, Ashut...","INR800,000,000","$1,758,563","$5,075,611,",NaN
651,Zimna wojna,2018-06-08,"Poland, UK, France","Polish, French, German, Russian, Italian, Croa...",89.0,"Drama, Music, Romance",R,7.7,90.0,29574.0,144.0,250.0,Pawel Pawlikowski,"Pawel Pawlikowski, Pawel Pawlikowski","Joanna Kulig, Tomasz Kot, Borys Szyc, Agata Ku...","€4,300,000","$54,353","$4,557,943,",NaN
652,La Boda de Valentina,2018-02-09,Mexico,"Spanish, English",107.0,"Comedy, Romance",R,4.7,NaN,504.0,5.0,NaN,Marco Polo Constandse,"Beto Gómez, Santiago Limón","Kate Vernon, Ryan Carnes, Omar Chaparro, Tony ...","MXN47,900,000","$1,147,073","$2,783,739,",NaN
653,Todos lo saben,2018-05-09,"Spain, France, Italy","Spanish, English, Catalan",133.0,"Crime, Drama, Mystery",R,7.0,68.0,14924.0,86.0,176.0,Asghar Farhadi,Asghar Farhadi,"Penélope Cruz, Javier Bardem, Ricardo Darín, E...","€10,000,000","$71,207","$2,608,080,",NaN
654,Singwa hamkke: Ingwa yeon,2018-08-01,South Korea,Korean,142.0,"Action, Drama, Fantasy",Not Rated,7.0,NaN,3044.0,20.0,24.0,Yong-hwa Kim,"Ho-min Ju, Yong-hwa Kim","Jung-woo Ha, Ji-Hoon Ju, Hyang-gi Kim, Dong-se...","KRW35,000,000,000","$311,743","$1,200,246,",NaN
655,Nada a Perder,2018-03-29,Brazil,Portuguese,134.0,"Biography, Drama",PG,6.6,NaN,22510.0,29.0,5.0,Alexandre Avancini,"Stephen P. Lindsey, Emílio Boechat","Petrônio Gontijo, Day Mesquita, Beth Goulart, ...","BRL16,000,000","$679,531","$1,003,497,",NaN
656,Kedarnath,2018-12-07,India,Hindi,116.0,"Drama, Romance",NaN,5.9,NaN,3692.0,184.0,11.0,Abhishek Kapoor,"Abhishek Kapoor, Kanika Dhillon","Sushant Singh Rajput, Sara Ali Khan, Nitish Bh...","INR350,000,000","$407,118","$901,131,",NaN
657,Climax,2018-09-19,"France, Belgium","French, English",97.0,"Drama, Horror, Music",R,7.3,67.0,19486.0,166.0,222.0,Gaspar Noé,Gaspar Noé,"Sofia Boutella, Romain Guillermic, Souheila Ya...","€2,600,000","$119,423","$766,724,",NaN
658,Gongjak,2018-08-08,South Korea,"Korean, Mandarin, Japanese",137.0,Drama,Not Rated,7.2,69.0,1124.0,5.0,30.0,Jong-bin Yoon,"Sung-hui Kwon, Jong-bin Yoon","Jung-min Hwang, Sung-min Lee, Jin-Woong Cho, J...","KRW19,000,000,000",NaN,"$497,755,",NaN
659,The Great Battle,2018-09-21,South Korea,"Korean, Mandarin",136.0,"Action, Drama, History",Not Rated,7.0,NaN,1306.0,22.0,15.0,Kwang-shik Kim,NaN,"In-sung Jo, Joo-Hyuk Nam, Sung-woong Park, Seo...","KRW15,000,000,000","$123,983","$472,166,",NaN
660,Kona fer í stríð,2018-05-22,"Iceland, France, Ukraine","Icelandic, Spanish, English, Ukrainian",101.0,"Action, Drama, Thriller",NaN,7.6,81.0,2156.0,12.0,66.0,Benedikt Erlingsson,"Ólafur Egilsson, Benedikt Erlingsson","Halldóra Geirharðsdóttir, Jóhann Sigurðarson, ...","€2,500,000","$18,370","$271,457,",NaN
661,Karwaan,2018-08-03,India,Hindi,114.0,"Comedy, Drama",Not Rated,7.5,NaN,7953.0,137.0,11.0,Akarsh Khurana,"Bejoy Nambiar, Akarsh Khurana","Irrfan Khan, Dulquer Salmaan, Mithila Palkar, ...","INR200,000,000","$98,575","$182,009,",NaN
662,The House That Jack Built,2018-10-17,"Denmark, France, Sweden, Germany, Belgium","English, German, Italian",152.0,"Crime, Drama, Horror",R,6.9,42.0,30536.0,273.0,223.0,Lars von Trier,"Lars von Trier, Lars von Trier","Matt Dillon, Bruno Ganz, Uma Thurman, Siobhan ...","€8,700,000","$34,091","$87,008,",NaN
663,Dans la brume,2018-04-04,"France, Canada","French, English",89.0,Sci-Fi,NaN,5.9,NaN,3029.0,15.0,25.0,Daniel Roby,"Guillaume Lemans, Jimmy Bemon","Romain Duris, Olga Kurylenko, Fantine Harduin,...","€11,270,000",NaN,"$77,987,",NaN
664,Las herederas,2018-04-05,"Paraguay, France, Germany, Norway, Brazil, Uru...","Spanish, Guarani",98.0,Drama,NaN,6.9,77.0,1617.0,6.0,71.0,Marcelo Martinessi,Marcelo Martinessi,"Ana Brun, Margarita Irun, Ana Ivanova, Nilda G...","€514,000","$11,304","$65,053,",NaN
665,L'apparition,2018-02-14,"France, Belgium, Jordan","French, Italian, German, English",144.0,Drama,NaN,6.4,64.0,781.0,6.0,46.0,Xavier Giannoli,"Xavier Giannoli, Jacques Fieschi","Vincent Lindon, Galatéa Bellugi, Patrick d'Ass...","€8,900,000","$9,830","$28,293,",NaN
666,Mes provinciales,2018-04-18,France,French,137.0,Drama,NaN,6.3,52.0,329.0,3.0,11.0,Jean-Paul Civeyrac,Jean-Paul Civeyrac,"Andranic Manet, Diane Rouxel, Jenna Thiam, Gon...",€600,NaN,"$21,598,",NaN
667,Napszállta,2018-09-27,"Hungary, France","Hungarian, German",142.0,Drama,R,6.6,68.0,1457.0,8.0,67.0,László Nemes,"László Nemes, Clara Royer","Susanne Wuest, Juli Jakab, Levente Molnár, Vla...","€8,900,000","$13,846","$21,650,",NaN
668,Touch Me Not,2018-10-31,"Romania, Germany, Czech Republic, Bulgaria, Fr...","English, German",123.0,Drama,NaN,6.2,65.0,1251.0,14.0,80.0,Adina Pintilie,Adina Pintilie,"Laura Benson, Tómas Lemarquis, Christian Bayer...","€1,000,000","$5,616","$13,782,",NaN
669,Hevi reissu,2018-03-09,"Finland, Norway, Belgium","Finnish, English, Norwegian",92.0,"Comedy, Music",NaN,7.2,72.0,2844.0,23.0,91.0,"Juuso Laatio, Jukka Vidgren","Juuso Laatio, Aleksi Puranen","Johannes Holopainen, Samuli Jaskio, Antti Heik...","€3,000,000","$5,419","$10,153,",NaN
670,Patrick,2018-06-29,UK,English,94.0,Family,TV-14,5.7,28.0,1119.0,16.0,15.0,Mandie Fletcher,"Vanessa Davies, Mandie Fletcher","Ed Skrein, Jennifer Saunders, Tom Bennett, Emi...","£6,000,000","$1,378","$6,290,",NaN
671,Skjelvet,2018-08-31,Norway,Norwegian,106.0,"Action, Drama, Thriller",PG-13,6.2,70.0,4268.0,51.0,38.0,John Andreas Andersen,"John Kåre Raake, Harald Rosenløw-Eeg","Kristoffer Joner, Ane Dahl Torp, Edith Haagenr...","NOK52,100,000","$3,256","$6,235,",NaN

In [248]:
len(touch)

672

In [260]:
from currency_converter import CurrencyConverter
from datetime import date

curconversion = CurrencyConverter(fallback_on_missing_rate=True,fallback_on_wrong_date=True)

### Process symbols

In [261]:
currencylist=touch['budget'].str.extract('(\D+)')[0].tolist()
currencylist = [c.replace('€','EUR') for c in currencylist]
currencylist = [c.replace('£','GBP') for c in currencylist]
currencylist

['JPY',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'FRF',
 'FRF',
 'AUD',
 'JPY',
 'EUR',
 'JPY',
 'GBP',
 'FRF',
 'FRF',
 'FRF',
 'GBP',
 'FRF',
 'FRF',
 'FRF',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'GBP',
 'NZD',
 'EUR',
 'FRF',
 'CAD',
 'EUR',
 'EUR',
 'CAD',
 'DKK',
 'INR',
 'EUR',
 'HUF',
 'DKK',
 'GBP',
 'CNY',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'INR',
 'GBP',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'CAD',
 'INR',
 'EUR',
 'INR',
 'KRW',
 'EUR',
 'CAD',
 'AUD',
 'GBP',
 'EUR',
 'GBP',
 'INR',
 'EUR',
 'INR',
 'PLN',
 'GBP',
 'INR',
 'EUR',
 'EUR',
 'CNY',
 'INR',
 'EUR',
 'DKK',
 'AUD',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'INR',
 'GBP',
 'GBP',
 'AUD',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'GBP',
 'GBP',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'AUD',
 'GBP',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'CNY',
 'EUR',
 'EUR',
 'JPY',
 'EUR',
 'SEK',
 'INR',
 'INR',
 'INR',
 'EUR',
 'EUR',
 'CNY',
 'CNY',
 'CNY',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'NZD',
 'HKD',
 'EUR',
 'INR',
 'AUD',
 'HUF',
 'EUR',
 'DKK',
 'EUR',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'INR',
 'JPY',
 'EUR',
 'INR',
 'KRW',
 'KRW',
 'EUR',
 'EUR',
 'INR',
 'EUR',
 'HKD',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'INR',
 'GBP',
 'FRF',
 'DEM',
 'CAD',
 'DEM',
 'CAD',
 'DEM',
 'DEM',
 'HKD',
 'GBP',
 'GBP',
 'GBP',
 'ISK',
 'EUR',
 'GBP',
 'AUD',
 'EUR',
 'FRF',
 'FRF',
 'FRF',
 'AUD',
 'CAD',
 'FRF',
 'CAD',
 'FRF',
 'ISK',
 'DKK',
 'CAD',
 'CAD',
 'AUD',
 'CAD',
 'SEK',
 'CAD',
 'JPY',
 'FRF',
 'FRF',
 'JMD',
 'JPY',
 'DEM',
 'DEM',
 'DEM',
 'DEM',
 'CAD',
 'FRF',
 'ESP',
 'SEK',
 'INR',
 'GBP',
 'ESP',
 'GBP',
 'GBP',
 'CAD',
 'GBP',
 'GBP',
 'CAD',
 'CAD',
 'DEM',
 'FRF',
 'ESP',
 'CAD',
 'FRF',
 'CAD',
 'GBP',
 'GBP',
 'JPY',
 'FRF',
 'GBP',
 'SEK',
 'GBP',
 'CAD',
 'CAD',
 'INR',
 'AUD',
 'FRF',
 'CAD',
 'DEM',
 'INR',
 'FRF',
 'CAD',
 'INR',
 'ATS',
 'FRF',
 'EUR',
 'FRF',
 'CAD',
 'INR',
 'INR',
 'THB',
 'FRF',
 'NOK',
 'INR',
 'CAD',
 'FRF',
 'FRF',
 'FRF',
 'EUR',
 'ESP',
 'FRF',
 'GBP',
 'FRF',
 'EUR',
 'EUR',
 'INR',
 'EUR',
 'INR',
 'FIM',
 'INR',
 'GBP',
 'CAD',
 'FRF',
 'SGD',
 'FRF',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'CAD',
 'CAD',
 'EUR',
 'INR',
 'CAD',
 'GBP',
 'GBP',
 'INR',
 'GBP',
 'INR',
 'CAD',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'BRL',
 'CAD',
 'NOK',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'SEK',
 'CAD',
 'EUR',
 'CAD',
 'EUR',
 'JPY',
 'GBP',
 'CAD',
 'INR',
 'JPY',
 'CAD',
 'GBP',
 'INR',
 'CZK',
 'CHF',
 'CNY',
 'GBP',
 'MXN',
 'EUR',
 'GBP',
 'SEK',
 'GBP',
 'EUR',
 'CAD',
 'THB',
 'HKD',
 'EUR',
 'GBP',
 'EUR',
 'INR',
 'INR',
 'INR',
 'BRL',
 'INR',
 'KRW',
 'EUR',
 'HUF',
 'EUR',
 'INR',
 'CAD',
 'EUR',
 'GBP',
 'EUR',
 'DKK',
 'GBP',
 'CAD',
 'DKK',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'INR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'BRL',
 'CZK',
 'NOK',
 'AUD',
 'GBP',
 'EUR',
 'EUR',
 'AUD',
 'CHF',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'CNY',
 'EUR',
 'EUR',
 'EUR',
 'HKD',
 'INR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'HUF',
 'EUR',
 'CAD',
 'GBP',
 'EUR',
 'EUR',
 'INR',
 'GBP',
 'EUR',
 'EUR',
 'GBP',
 'CAD',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'CAD',
 'EUR',
 'CAD',
 'AUD',
 'AUD',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'CAD',
 'INR',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'INR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'THB',
 'GBP',
 'EUR',
 'EUR',
 'GBP',
 'GBP',
 'EUR',
 'INR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'INR',
 'AUD',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'INR',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'INR',
 'EUR',
 'INR',
 'EUR',
 'INR',
 'KRW',
 'EUR',
 'NOK',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'CAD',
 'CAD',
 'EUR',
 'EUR',
 'VEB',
 'EUR',
 'GBP',
 'NOK',
 'EUR',
 'EUR',
 'EUR',
 'INR',
 'EUR',
 'NOK',
 'GBP',
 'EUR',
 'INR',
 'GBP',
 'INR',
 'EUR',
 'CNY',
 'EUR',
 'TWD',
 'EUR',
 'NOK',
 'GBP',
 'KRW',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'HKD',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'INR',
 'INR',
 'INR',
 'INR',
 'EUR',
 'INR',
 'INR',
 'DKK',
 'EUR',
 'GBP',
 'EUR',
 'CNY',
 'GBP',
 'INR',
 'AUD',
 'GBP',
 'BRL',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'CAD',
 'EUR',
 'CAD',
 'EUR',
 'INR',
 'GBP',
 'INR',
 'EUR',
 'EUR',
 'PLN',
 'EUR',
 'HUF',
 'EUR',
 'NGN',
 'EUR',
 'EUR',
 'GBP',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'ARS',
 'INR',
 'GBP',
 'INR',
 'MXN',
 'EUR',
 'INR',
 'INR',
 'HUF',
 'EUR',
 'EUR',
 'EUR',
 'NOK',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'INR',
 'INR',
 'EUR',
 'CAD',
 'CAD',
 'BRL',
 'INR',
 'EUR',
 'INR',
 'EUR',
 'NOK',
 'EUR',
 'JPY',
 'EUR',
 'EUR',
 'EUR',
 'AUD',
 'EUR',
 'EUR',
 'EUR',
 'AUD',
 'CNY',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'CNY',
 'INR',
 'EUR',
 'BRL',
 'AUD',
 'EUR',
 'INR',
 'ZAR',
 'EUR',
 'ILS',
 'EUR',
 'EUR',
 'NOK',
 'PHP',
 'SEK',
 'EUR',
 'EUR',
 'INR',
 'INR',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'NOK',
 'EUR',
 'EUR',
 'ISK',
 'EUR',
 'EUR',
 'BRL',
 'EUR',
 'EUR',
 'EUR',
 'RUR',
 'CAD',
 'INR',
 'EUR',
 'MXN',
 'EUR',
 'KRW',
 'BRL',
 'INR',
 'EUR',
 'KRW',
 'KRW',
 'EUR',
 'INR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'EUR',
 'GBP',
 'NOK']

In [262]:
sortcurrencylist=list(set(currencylist))
supportlist=list(cur.currencies)

results = {}
for i in sortcurrencylist:
    results[i] = supportlist.count(i) 
results

{'HUF': 1,
 'INR': 1,
 'CNY': 1,
 'DEM': 0,
 'SEK': 1,
 'MXN': 1,
 'AUD': 1,
 'PHP': 1,
 'CAD': 1,
 'FRF': 0,
 'THB': 1,
 'SGD': 1,
 'CHF': 1,
 'PLN': 1,
 'ISK': 1,
 'RUR': 0,
 'NZD': 1,
 'ZAR': 1,
 'JMD': 0,
 'NGN': 0,
 'KRW': 1,
 'VEB': 0,
 'FIM': 0,
 'NOK': 1,
 'ESP': 0,
 'ARS': 0,
 'JPY': 1,
 'DKK': 1,
 'HKD': 1,
 'ATS': 0,
 'GBP': 1,
 'ILS': 1,
 'TWD': 0,
 'BRL': 1,
 'EUR': 1,
 'CZK': 1}

In [263]:
currencylist.count('ATS')+currencylist.count('JMD')+currencylist.count('TWD')+currencylist.count('ARS')+currencylist.count('DEM')+\
currencylist.count('NGN')+currencylist.count('FIM')+currencylist.count('FRF')+currencylist.count('VEB')+currencylist.count('RUR')+\
+currencylist.count('ESP')

55

In [264]:
amount=touch['budget'].str.replace(',','').str.extract('(\d+)')[0].tolist()
year=list(touch['release date'].dt.year)
month=list(touch['release date'].dt.month)
day=list(touch['release date'].dt.day)

In [265]:
print(len(currencylist))
print(len(amount))
print(len(year))
print(len(month))
print(len(day))

672
672
672
672
672

In [266]:
curconversion.convert(500000, 'JPY', 'USD')

4625.100240577385

In [267]:
lst=[]

for i,j,k,l,m in zip(amount,currencylist,year,month,day):
    try:
        budget=cur.convert(int(i), j, 'USD', date=date(int(k), int(l), int(m)))
        lst.append(str(budget))
    except:
        budget = j+i
        lst.append(budget)

In [269]:
lst

['48726.50308509112',
 '1391300.0',
 '3312402.5000000005',
 '16051764.177091919',
 '2910160.0',
 '5654166.666666667',
 'FRF50000000',
 'FRF115000000',
 '2138685.0785340318',
 '5289314.289987288',
 '3972139.9999999995',
 '23118825.100133512',
 '1591539.8678104347',
 'FRF53000000',
 'FRF140000000',
 'FRF274620000',
 '8706112.469437651',
 'FRF70000000',
 'FRF95000000',
 'FRF77000000',
 '25434000.0',
 '6176100.0',
 '4382880.0',
 '3611186.9776588194',
 '5030514.232979591',
 '3280997.2017298397',
 '39428000.0',
 'FRF327000000',
 '1220897.9388504887',
 '26472600.0',
 '5163840.0',
 '4424180.064308682',
 '13067723.556429563',
 '5100782.122905028',
 '15758600.0',
 '461392.42958428577',
 '12158540.853412302',
 '7325121.3592233',
 '12366789.427066337',
 '16413300.0',
 '6738050.0',
 '7186048.194514799',
 '12175000.0',
 '3600744.8789571696',
 '6624056.813138038',
 '60445000.00000001',
 '18475481.84670551',
 '17493300.0',
 '9077825.0',
 '3582015.096816541',
 '6819068.901303539',
 '63615000.0',
 '2291307.2625698326',
 '12827413.021254143',
 '12817000.0',
 '1774618.4948480502',
 '8288541.541421186',
 '16023553.658177536',
 '4827660.0',
 '51154627.04134177',
 '411262.5698324022',
 '6357150.0',
 '3642875.232774674',
 '5596467.932545479',
 '23834981.813540936',
 '4188603.351955307',
 '16548400.0',
 '123513000.0',
 '80907006.94967763',
 '4692141.527001862',
 '8923920.0',
 '9532507.241712263',
 '4684422.971072106',
 '5882000.0',
 '11791870.614728928',
 '4877280.0',
 '98085000.0',
 '1999950.0',
 '239838634.23760524',
 '13958000.0',
 '42696419.50852147',
 '16227675.999539118',
 '16254077.149906723',
 '4239408.390351786',
 '11967720.0',
 '12580080.0',
 '10074384.0',
 '11964943.587381992',
 '31570494.436159227',
 '9892574.633405386',
 '13118550.0',
 '5057389.889739109',
 '13005000.0',
 '2760600.0',
 '36082500.0',
 '9169203.692839721',
 '3152617.568766637',
 '5773644.029170465',
 '22426400.0',
 '5524228.703208932',
 '20341860.0',
 '6950900.0',
 '12518400.0',
 '18503800.0',
 '23590724.299953144',
 '7108640.000000001',
 '11836720.0',
 '49324899.647244856',
 '6545000.0',
 '9615721.883512778',
 '5905017.921146953',
 '4771676.3345844755',
 '641274.3844502575',
 '888030.0',
 '17857800.0',
 '4085935.859914299',
 '7318424.599410973',
 '3244113.3530490776',
 '13094905.96110934',
 '37425000.0',
 '9573200.0',
 '6567760.0',
 '0.7107692307692307',
 '2749091.7063392634',
 '25791859.415285233',
 '4544000.0',
 '18824265.16572858',
 '12029651.689757865',
 '1007321.9948111848',
 '1466269.9999999998',
 '5079112.142014372',
 '1696805.9999999998',
 '9612959.799999999',
 '1979067.996632658',
 '5299680.0',
 '2510200.0',
 '10323956.09050157',
 '3685961.351804465',
 '10640399.999999998',
 '5200472.79440084',
 '8760918.333253782',
 '8730545.719059',
 '1410210.0',
 '3347099.9999999995',
 '12764281.19905513',
 '7136350.000000001',
 '38.671847813478706',
 '4806800.0',
 '7552262.906527178',
 '7564900.0',
 '8816761.0',
 '2920533.7881904375',
 '149206.86260722825',
 'FRF164000000',
 'DEM20000000',
 '1309597.8671406354',
 'DEM42000000',
 '2029876.694067985',
 'DEM19000000',
 'DEM20000000',
 '5163141.067752814',
 '13262832.231753621',
 '2486781.0434538047',
 '9947124.173815219',
 '1880915.5621011292',
 '3053351.0',
 '4144635.072423007',
 '2654068.0628272253',
 '2475690.0',
 'FRF50000000',
 'FRF95000000',
 'FRF17000000',
 '2345455.497382199',
 '2160836.4807820483',
 'FRF25000000',
 '1440557.653854699',
 'FRF29000000',
 '2893716.2493863525',
 '949436.9203097945',
 '2160836.4807820483',
 '3273994.6678515887',
 '9875602.094240839',
 '982198.4003554765',
 '9959449.184759652',
 '239001.610753166',
 '27371.997765779186',
 'FRF11000000',
 'FRF60000000',
 'JMD35390673',
 '8815.52381664548',
 'DEM16000000',
 'DEM7000000',
 'DEM4300000',
 'DEM3500000',
 '3077554.9877804937',
 'FRF82000000',
 'ESP700000000',
 '1120438.033285461',
 '13673.748603351954',
 '4024746.3879495854',
 'ESP400000000',
 '5430135.320054736',
 '4808744.794765021',
 '982198.4003554765',
 '15972946.544980442',
 '3091324.0581522584',
 '2048021.2836714333',
 '20963688.39427663',
 'DEM15000000',
 'FRF65000000',
 'ESP125000000',
 '2524230.698360051',
 'FRF71500000',
 '1518904.3394869333',
 '3539145.35246413',
 '3206157.752737661',
 '4844.019965444423',
 'FRF100000000',
 '2014396.510324956',
 '1830035.7995226728',
 '2287070.9015078605',
 '13394560.729033176',
 '679438.2537017249',
 '2132588.454376164',
 '2914138.1536475145',
 'FRF10000000',
 '677341.0585656123',
 'DEM8400000',
 '90507.2625698324',
 'FRF95130000',
 '1233389.0914289798',
 '4701080.074487896',
 'ATS70000000',
 'FRF49000000',
 '1944180.0',
 'FRF30000000',
 '3164971.188731593',
 '2055150.8379888264',
 '1725780.260707635',
 '7203074.194501922',
 'FRF39000000',
 '1697515.1478058635',
 '1863746.7411545622',
 '2061305.6636402938',
 'FRF48000000',
 'FRF50000000',
 'FRF25000000',
 '13254390.0',
 'ESP1200000',
 'FRF53000000',
 '3667231.912144703',
 'FRF29000000',
 '4736714.319300001',
 '5067330.0',
 '7354189.944134078',
 '7823200.0',
 '4277690.875232775',
 'FIM8000000',
 '2463955.3072625697',
 '2892578.125',
 '3463307.2281422517',
 'FRF85000000',
 '2484129.40173023',
 'FRF103000000',
 '7000356.0',
 '3057481.622006166',
 '2656776.575',
 '18564900.0',
 '1526270.0',
 '3686852.2260608827',
 '13079060.946900342',
 '2573780.0',
 '8531322.160148976',
 '2663157.8947368423',
 '12662576.687116563',
 '2531922.5251076045',
 '2100737.4301675977',
 '6643244.415528085',
 '5905549.348230913',
 '2801535.568787214',
 '2207800.0',
 '2917250.0',
 '3515159.9999999995',
 '5396500.0',
 '4952710.495963091',
 '1872695.994101745',
 '6644490.900147566',
 '2671440.0',
 '1186020.0',
 '638493.773239686',
 '24998826.0',
 '17083752.0',
 '2828676.964405642',
 '1232267.423525702',
 '72194566.0',
 '4173833.036864381',
 '15572400.0',
 '17939453.125',
 '3132239.340738087',
 '4883738.650073021',
 '5381899.441340782',
 '19498588.536781237',
 '2012686.7070808073',
 '1780621.0465784932',
 '1789199.255121043',
 '1550366.882922845',
 '424331.86299948103',
 '1157335.3223625938',
 '8079.085208410182',
 '1928432.713262522',
 '3286440.0',
 '1920274.8157160236',
 '3331235.635328883',
 '1249281.9030320575',
 '1240900.0',
 '4171.168093601213',
 '5340474.690191137',
 '7739293.085655314',
 '9557600.0',
 '4931105.435972273',
 '7087690.0',
 '1869795.1582867787',
 '6309690.875232775',
 '3474770.9497206705',
 '3886197.616301423',
 '2353519.553072626',
 '4089782.508917859',
 '17808000.0',
 '13066554.855600098',
 '726000.0',
 '1263702.0484171323',
 '1293633.3699231616',
 '1931600.9727999999',
 '2745697.2933608443',
 '7449000.0',
 '8704238.597434003',
 '25790.46593051441',
 '633080.8253924727',
 '1613689.9656946827',
 '2390600.0',
 '1881150.0',
 '14925690.0',
 '5879680.972274972',
 '13322160.148975793',
 '3721826.8090154207',
 '30414384.0',
 '10253600.0',
 '15520050.0',
 '4092900.0',
 '1472549.0196078431',
 '3947932.5988334413',
 '3403127.091318367',
 '11268940.519341612',
 '2999560.2784902896',
 '18391800.0',
 '17284400.0',
 '1604412.1071012805',
 '2512818.8976377957',
 '9890320.206109678',
 '16494080.0',
 '2508600.0',
 '253200.0',
 '1270401.9367577168',
 '16836400.0',
 '1902600.0',
 '3982799.9999999995',
 '4494050.661378365',
 '849720.6703910615',
 '3931800.0',
 '5642.842922556242',
 '10094400.0',
 '1774640.0',
 '1664418.0',
 '555329.428989751',
 '1141560.0',
 '2323961.5454380554',
 '1851215.0',
 '20500358.42293907',
 '50279329.60893854',
 '239886.0',
 '5607420.0',
 '2881117.318435754',
 '8006110.757479314',
 '817739.9999999999',
 '1784770.0',
 '26934031.263444714',
 '9773388.400071826',
 '20726400.0',
 '4443000.0',
 '6803000.0',
 '431519.99999999994',
 '7681834.943579909',
 '4903978.67196855',
 '1388954.0',
 '740502.5125628142',
 '3548490.543161979',
 '24996223.785085216',
 '833100.0',
 '2119050.0',
 '1572890.0',
 '1298400.0',
 '8744283.054003725',
 '178195.15588439893',
 '4372141.527001862',
 '6686240.0',
 '3949675.977653631',
 '712350.0',
 '7012867.914000001',
 '2334599.6275605215',
 '375299.8137802607',
 '5160000.0',
 '3356250.0',
 '29400000.0',
 '15466000.0',
 '26741124.400000002',
 '2853695.0',
 '2431757.529546321',
 '8404555.242302485',
 '929450.1631935725',
 '3101600.0',
 '28575000.0',
 '6260957.052128529',
 '1794666.8347727414',
 '10620960.0',
 '1764826.815642458',
 '1155280.0',
 '5415696.143266811',
 '34497600.0',
 '8837400.0',
 '7451748.251748251',
 '18198700.0',
 '25156021.0',
 '5967200.0',
 '906205.6751246036',
 '17721600.0',
 '17124000.0',
 '4130000.0000000005',
 '39919500.0',
 '21436.217983259692',
 '8409700.0',
 '12961800.0',
 '5803590.0',
 '7205000.0',
 '15967346.938775511',
 '16801200.0',
 '5759900.0',
 '3240091.0012285453',
 '6039317.55499968',
 '1120720.0',
 '15115200.0',
 '15115200.0',
 '6059339.177343223',
 '1236467.8788269209',
 '2918800.0',
 '6231961.2276',
 '2805791.7261055633',
 '41076000.0',
 '356736.0',
 '3121951.219512195',
 '1450536.0155',
 '1062000.0',
 '5078800.0',
 '12780950.10823802',
 '64781.007959180555',
 '8589000.0',
 '2136920.9809264303',
 '9457000.0',
 '2235890.5353263514',
 '1152468.957551256',
 '2580320.8',
 '3366141.357421875',
 '781014.1509433963',
 '16251800.0',
 '4230300.0',
 '3465250.0000000005',
 '2952280.0',
 '584246.6733438261',
 '1098093.3001733364',
 '2790200.0',
 '9282000.0',
 'VEB4273248',
 '5244533.333333334',
 '14830.075521990226',
 '9072410.516312957',
 '270200.0',
 '2648400.0',
 '20424000.0',
 '12355369.93219101',
 '21066000.0',
 '5613695.246671382',
 '3091429.572939183',
 '5406940.0',
 '7778628.698247973',
 '191902.4673439768',
 '197978.61507128307',
 '16712400.0',
 '4754598.647138686',
 '5270000.0',
 'TWD700000000',
 '1451500.0',
 '3203786.1915367483',
 '7965686.274509803',
 '25930293.414244734',
 '5154480.0',
 '10630400.0',
 '810956.8779155763',
 '5454400.0',
 '25658111.453068677',
 '18010000.0',
 '13809000.0',
 '9912000.0',
 '15480300.0',
 '14058210.0',
 '1578524.7218079611',
 '1350300.0',
 '3371000.0',
 '3944912.9732639515',
 '4766720.0',
 '8170627.774952233',
 '11941496.207246356',
 '8793420.560747664',
 '12609372.725949645',
 '5570220.0',
 '8092499.890541309',
 '5457515.403352915',
 '2693356.0477001704',
 '16758299.999999998',
 '40283.82920453131',
 '389250.00000000006',
 '16126516.02838307',
 '12188601.886018861',
 '3601805.0438408596',
 '2594024.811557789',
 '2082116.428219043',
 '910032.7129159615',
 '4825745.291256081',
 '4716720.0',
 '130171.40000000001',
 '16556800.0',
 '3672639.8901476143',
 '4619450.0',
 '1529091.7691579943',
 '5406000.0',
 '18629932.405280422',
 '7896583.333333334',
 '4821528.062559215',
 '24711400.0',
 '8167200.0',
 '10204684.308313156',
 '1112650.0',
 '4365069.998647369',
 '4112460.0',
 'NGN1270000000',
 '6663500.0',
 '7230899.28',
 '473072.80227761314',
 '11260688.836104514',
 '4153920.0',
 '3591810.0',
 '3172850.0',
 '1204478.412443014',
 '7352782.336499999',
 'ARS2000000',
 '11979658.999404825',
 '12548661.33739373',
 '5985458.578593347',
 '2876324.1670470107',
 '16312800.0',
 '8448439.868808277',
 '1974273.8272453146',
 '3096259.482082135',
 '10825600.0',
 '12021210.0',
 '3417000.0',
 '5783623.680817497',
 '7367400.0',
 '20398400.0',
 '9075450.0',
 '8857550.0',
 '6258599.0',
 '3610443.1999999997',
 '14351400.0',
 '1107365.330610161',
 '2034.45',
 '24418800.0',
 '6358170.0',
 '3757200.0',
 '18422470.339070175',
 '18824265.16572858',
 '27143664.53811568',
 '13675139.999999998',
 '3607102.677058624',
 '9949043.706414416',
 '1116260.6652652407',
 '4017083.8062242395',
 '7497700.0',
 '5461957.542216468',
 '4271580.0',
 '6032119.914346895',
 '1906799.9999999998',
 '1887428.192989772',
 '1370375.0',
 '13702799.999999998',
 '3620801.52',
 '1158009.8414434115',
 '1119300.0',
 '2819068.8000000003',
 '1013129.9999999999',
 '2955055.3568155034',
 '29932.082576827383',
 '5610500.000000001',
 '10382522.447918551',
 '5925716.136',
 '7334700.0',
 '6676800.0',
 '59989307.671745524',
 '524420.5683283912',
 '3717700.0',
 '773469.1611613835',
 '2418625.034237195',
 '7943600.0',
 '889249.9752303576',
 '1275850.8763794862',
 '16977000.0',
 '1020248.1868701138',
 '11308370.000000002',
 '4944618.0',
 '5242939.662922509',
 '82858.1446419015',
 '8218014.844634545',
 '5980500.0',
 '1576291.5',
 '24018792.69096078',
 '9371738.483415458',
 '5304500.0',
 '4494548.887175259',
 '1718560.0',
 '1095552.0',
 '6087355.915498993',
 '9988299.999999998',
 '13308669.0',
 '2254215.7424953165',
 '9429600.0',
 '2125080.0',
 '151537.62483931571',
 '17922736.200000003',
 '1557445.0',
 '1539200.0',
 'RUR360000000',
 '2396308.656269155',
 '11421804.787754517',
 '5054220.0',
 '2545670.153984723',
 '11879000.0',
 '31310998.9291724',
 '4815477.062875568',
 '4943360.369648114',
 '3033420.0',
 '16956290.71755302',
 '13439676.323128264',
 '2948500.0',
 '2914780.1589697152',
 '10031100.0',
 '13835052.0',
 '630164.0',
 '10989720.0',
 '743.28',
 '10419230.0',
 '1131800.0',
 '3687300.0000000005',
 '7894362.620619603',
 '6248374.644871742']

In [270]:
touch['budget']=lst
touch.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Marebito,2005-01-01,Japan,Japanese,92.0,"Drama, Fantasy, Horror",R,6.1,50.0,4521.0,45.0,71.0,Takashi Shimizu,"Chiaki Konaka, Chiaki Konaka","Shin'ya Tsukamoto, Tomomi Miyashita, Kazuhiro ...",48726.50308509112,"$3,852","$13,893,",NaN
1,Der Räuber,2010-02-01,"Germany, Austria",German,90.0,"Biography, Crime, Drama",Not Rated,6.8,65.0,4119.0,21.0,85.0,Benjamin Heisenberg,"Martin Prinz, Benjamin Heisenberg","Andreas Lust, Markus Schleinzer, Roman Kettner...",1391300.0,$804,"$82,172,",NaN
2,The Human Resources Manager,2010-01-01,"Israel, Germany, France, Romania","Hebrew, English, Romanian, French",103.0,"Comedy, Drama",Not Rated,6.6,62.0,1256.0,13.0,61.0,Eran Riklis,"Noah Stollman, Avraham B. Yehoshua","Mark Ivanir, Guri Alfi, Noah Silver, Rozina Ca...",3312402.5000000005,"$61,003","$63,709,",NaN
3,The Eye of the Storm,2011-09-01,Australia,"English, French, German",114.0,Drama,Not Rated,6.3,55.0,1435.0,11.0,71.0,Fred Schepisi,"Judy Morris, Patrick White","Charlotte Rampling, Maria Theodorakis, Geoffre...",16051764.177091919,"$25,785","$83,297,",NaN
4,Cupcakes,2013-01-01,"Israel, France","Hebrew, French, English",92.0,"Comedy, Music",Not Rated,6.0,64.0,521.0,5.0,71.0,Eytan Fox,"Eli Bijaoui, Eytan Fox","Dana Ivgy, Keren Berger, Yael Bar-Zohar, Efrat...",2910160.0,"$2,570","$8,817,",NaN

In [271]:
164000000/5.6

29285714.285714287

In [272]:
touch3=touch[touch['budget'].str.contains('[A-Z]')].reset_index().drop(columns='index')
touch4=touch[touch['budget'].str.contains('^[0-9]+')].reset_index().drop(columns='index')
touch4

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Marebito,2005-01-01,Japan,Japanese,92.0,"Drama, Fantasy, Horror",R,6.1,50.0,4521.0,45.0,71.0,Takashi Shimizu,"Chiaki Konaka, Chiaki Konaka","Shin'ya Tsukamoto, Tomomi Miyashita, Kazuhiro ...",48726.50308509112,"$3,852","$13,893,",NaN
1,Der Räuber,2010-02-01,"Germany, Austria",German,90.0,"Biography, Crime, Drama",Not Rated,6.8,65.0,4119.0,21.0,85.0,Benjamin Heisenberg,"Martin Prinz, Benjamin Heisenberg","Andreas Lust, Markus Schleinzer, Roman Kettner...",1391300.0,$804,"$82,172,",NaN
2,The Human Resources Manager,2010-01-01,"Israel, Germany, France, Romania","Hebrew, English, Romanian, French",103.0,"Comedy, Drama",Not Rated,6.6,62.0,1256.0,13.0,61.0,Eran Riklis,"Noah Stollman, Avraham B. Yehoshua","Mark Ivanir, Guri Alfi, Noah Silver, Rozina Ca...",3312402.5000000005,"$61,003","$63,709,",NaN
3,The Eye of the Storm,2011-09-01,Australia,"English, French, German",114.0,Drama,Not Rated,6.3,55.0,1435.0,11.0,71.0,Fred Schepisi,"Judy Morris, Patrick White","Charlotte Rampling, Maria Theodorakis, Geoffre...",16051764.177091919,"$25,785","$83,297,",NaN
4,Cupcakes,2013-01-01,"Israel, France","Hebrew, French, English",92.0,"Comedy, Music",Not Rated,6.0,64.0,521.0,5.0,71.0,Eytan Fox,"Eli Bijaoui, Eytan Fox","Dana Ivgy, Keren Berger, Yael Bar-Zohar, Efrat...",2910160.0,"$2,570","$8,817,",NaN
5,New World Order,2015-02-01,Italy,Italian,118.0,"Action, Crime, Drama",Not Rated,3.0,NaN,41.0,NaN,NaN,"Fabio Ferrara, Marco Ferrara",NaN,"Mario Ferrara, Benni Branco, Ruggiero Coppola,...",5654166.666666667,$804,"$20,100,",NaN
6,The Sum of Us,1994-07-28,Australia,English,100.0,"Comedy, Drama",R,7.3,NaN,4786.0,71.0,18.0,"Geoff Burton, Kevin Dowling","David Stevens, David Stevens","Jack Thompson, Russell Crowe, John Polson, Deb...",2138685.0785340318,"$766,000","$2,510,448,","$17,530,888,"
7,Kôkaku Kidôtai,1995-11-18,"Japan, UK",Japanese,83.0,"Animation, Action, Crime",Not Rated,8.0,76.0,113809.0,285.0,166.0,Mamoru Oshii,"Shirow Masamune, Kazunori Itô","Atsuko Tanaka, Akio Ôtsuka, Kôichi Yamadera, Y...",5289314.289987288,"$2,736","$515,905","$583,393,"
8,Un air de famille,1999-10-29,France,French,110.0,"Comedy, Drama",Not Rated,7.6,NaN,4055.0,24.0,21.0,Cédric Klapisch,"Agnès Jaoui, Jean-Pierre Bacri","Jean-Pierre Bacri, Jean-Pierre Darroussin, Cat...",3972139.9999999995,"$257,637","$316,872,","$17,104,807"
9,Mononoke-hime,1999-11-26,Japan,Japanese,134.0,"Animation, Adventure, Fantasy",PG-13,8.4,76.0,289371.0,626.0,190.0,Hayao Miyazaki,"Hayao Miyazaki, Neil Gaiman","Billy Crudup, Billy Bob Thornton, Minnie Drive...",23118825.100133512,"$144,446","$2,375,308","$159,375,308"
10,"Lock, Stock and Two Smoking Barrels",1998-08-28,UK,English,107.0,"Comedy, Crime",R,8.2,66.0,488935.0,550.0,115.0,Guy Ritchie,Guy Ritchie,"Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...",1591539.8678104347,"$143,321","$3,897,569","$28,356,188"
11,Snatch,2000-09-01,"UK, USA","English, Russian",104.0,"Comedy, Crime",R,8.3,55.0,710399.0,760.0,162.0,Guy Ritchie,Guy Ritchie,"Benicio Del Toro, Dennis Farina, Vinnie Jones,...",8706112.469437651,"$27,932","$30,328,156","$83,557,872"
12,Le pacte des loups,2001-06-01,France,"French, German, Italian",142.0,"Action, Adventure, Drama",R,7.1,57.0,58329.0,508.0,194.0,Christophe Gans,"Stéphane Cabel, Stéphane Cabel","Samuel Le Bihan, Mark Dacascos, Jérémie Renier...",25434000.0,"$475,181","$11,260,096","$70,752,904"
13,Nirgendwo in Afrika,2001-12-27,Germany,"English, Swahili, German",141.0,"Biography, Drama",R,7.6,72.0,11675.0,86.0,76.0,Caroline Link,"Caroline Link, Stefanie Zweig","Juliane Köhler, Merab Ninidze, Sidede Onyulo, ...",6176100.0,"$22,070","$6,173,485,","$17,873,182,"
14,Juana la Loca,2001-09-28,"Spain, Italy, Portugal, France",Spanish,115.0,"Biography, Drama, History",R,6.7,55.0,3435.0,33.0,29.0,Vicente Aranda,"Vicente Aranda, Antonio Larreta","Pilar López de Ayala, Daniele Liotti, Rosana P...",4382880.0,"$31,417","$279,605,","$9,200,000,"
15,Mean Machine,2001-12-26,"UK, USA",English,99.0,"Comedy, Crime, Drama",R,6.5,45.0,33118.0,84.0,55.0,Barry Skolnick,"Tracy Keenan Wynn, Charlie Fletcher","Vinnie Jones, David Kelly, David Hemmings, Ral...",3611186.9776588194,"$16,870","$92,770","$7,310,206"
16,Bend It Like Beckham,2002-04-12,"UK, Germany, USA","English, Punjabi, Hindi, German",112.0,"Comedy, Drama, Romance",PG-13,6.7,66.0,98690.0,440.0,162.0,Gurinder Chadha,"Gurinder Chadha, Guljit Bindra","Parminder Nagra, Keira Knightley, Jonathan Rhy...",5030514.232979591,"$161,528","$32,543,449,","$76,583,333"
17,Whale Rider,2003-01-30,"New Zealand, Germany","English, Maori",101.0,"Drama, Family",PG-13,7.6,80.0,37392.0,362.0,159.0,Niki Caro,"Niki Caro, Witi Ihimaera","Keisha Castle-Hughes, Rawiri Paratene, Vicky H...",3280997.2017298397,"$137,418","$20,779,666","$20,662,447"
18,Pinocchio,2002-10-11,Italy,Italian,108.0,"Comedy, Family, Fantasy",G,4.3,11.0,7183.0,96.0,67.0,Roberto Benigni,"Roberto Benigni, Roberto Benigni","Roberto Benigni, Nicoletta Braschi, Mino Belle...",39428000.0,"$1,151,463","$3,684,305","$41,323,171"
19,Dracula: Pages from a Virgin's Diary,2003-12-12,Canada,English,73.0,"Horror, Musical",Not Rated,7.0,84.0,1761.0,33.0,58.0,Guy Maddin,"Bram Stoker, Mark Godden","Wei-Qiang Zhang, Tara Birtwhistle, David Moron...",1220897.9388504887,"$4,784","$55,365","$97,077"
20,Luther,2004-10-22,"Germany, USA","English, Latin",123.0,"Biography, Drama, History",PG-13,6.6,47.0,14048.0,108.0,72.0,Eric Till,"Camille Thomasson, Bart Gavigan","Joseph Fiennes, Alfred Molina, Jonathan Firth,...",26472600.0,"$908,446","$5,791,328,","$23,684,104,"
21,Good Bye Lenin!,2003-02-13,Germany,"German, English, Russian",121.0,"Comedy, Drama, Romance",R,7.7,68.0,128399.0,233.0,158.0,Wolfgang Becker,"Bernd Lichtenberg, Achim von Borries","Daniel Brühl, Katrin Saß, Chulpan Khamatova, M...",5163840.0,"$57,968","$4,064,200","$79,384,880"
22,Les invasions barbares,2003-09-24,"Canada, France","French, English",99.0,"Comedy, Crime, Drama",R,7.7,70.0,26851.0,167.0,131.0,Denys Arcand,Denys Arcand,"Rémy Girard, Stéphane Rousseau, Marie-Josée Cr...",4424180.064308682,"$79,650","$3,432,342,","$6,289,563,"
23,Dogville,2003-05-21,"Denmark, Netherlands, Sweden, Germany, UK, Fra...",English,178.0,"Crime, Drama",R,8.0,60.0,125173.0,623.0,220.0,Lars von Trier,Lars von Trier,"Nicole Kidman, Harriet Andersson, Lauren Bacal...",13067723.556429563,"$88,855","$1,530,386,","$8,604,712,"
24,Main Prem Ki Diwani Hoon,2003-06-27,India,"Hindi, English",197.0,"Comedy, Drama, Musical",Not Rated,4.0,NaN,3780.0,32.0,9.0,Sooraj R. Barjatya,Sooraj R. Barjatya,"Hrithik Roshan, Kareena Kapoor, Abhishek Bachc...",5100782.122905028,"$672,891","$1,225,908,","$5,058,114,"
25,Taxi 3,2003-01-29,France,French,84.0,"Action, Comedy, Crime",Not Rated,5.8,NaN,37069.0,37.0,23.0,Gérard Krawczyk,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Bernard Farc...",15758600.0,NaN,"$497,208","$65,497,208"
26,Kontroll,2003-11-20,Hungary,Hungarian,105.0,"Comedy, Crime, Drama",R,7.7,72.0,22758.0,140.0,126.0,Nimród Antal,"Jim Adler, Nimród Antal","Sándor Csányi, Zoltán Mucsi, Csaba Pindroch, S...",461392.42958428577,"$10,098","$237,183,","$1,277,800,"
27,It's All About Love,2003-01-10,"Italy, France, Canada, Spain, USA, Japan, Swed...",English,104.0,"Drama, Thriller, Romance",R,5.5,32.0,7605.0,116.0,53.0,Thomas Vinterberg,"Mogens Rukov, Thomas Vinterberg","Joaquin Phoenix, Claire Danes, Sean Penn, Doug...",12158540.853412302,NaN,"$6,140,","$443,400,"
28,Shaun of the Dead,2004-04-09,"UK, France",English,99.0,"Comedy, Horror",R,7.9,76.0,464996.0,901.0,260.0,Edgar Wright,"Simon Pegg, Edgar Wright","Simon Pegg, Kate Ashfield, Nick Frost, Lucy Da...",7325121.3592233,"$3,330,781","$13,542,874","$30,039,392"
29,Shi mian mai fu,2004-12-17,"China, Hong Kong",Mandarin,119.0,"Action, Adventure, Drama",PG-13,7.6,89.0,101610.0,423.0,251.0,Yimou Zhang,"Feng Li, Bin Wang","Takeshi Kaneshiro, Andy Lau, Ziyi Zhang, Danda...",12366789.427066337,"$397,472","$11,050,094","$92,863,945"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,Undir trénu,2017-09-06,"Iceland, Poland, Denmark, Germany, France",Icelandic,89.0,"Comedy, Drama, Mystery",Not Rated,6.9,75.0,2217.0,14.0,73.0,Hafsteinn Gunnar Sigurðsson,"Huldar Breiðfjörð, Hafsteinn Gunnar Sigurðsson","Steinþór Hróar Steinþórsson, Edda Björgvinsdót...",2254215.7424953165,"$13,617","$67,596,",NaN
588,Le Fidèle,2017-10-04,"Belgium, France, Netherlands","French, Dutch",130.0,"Crime, Drama, Romance",R,6.4,50.0,2951.0,11.0,72.0,Michaël R. Roskam,"Thomas Bidegain, Noé Debré","Matthias Schoenaerts, Adèle Exarchopoulos, Eri...",9429600.0,"$2,513","$46,337,",NaN
589,Western,2017-08-24,"Germany, Bulgaria, Austria","German, Bulgarian, English",121.0,Drama,Unrated,7.0,81.0,2471.0,11.0,88.0,Valeska Grisebach,Valeska Grisebach,"Meinhard Neumann, Reinhardt Wetrek, Syuleyman ...",2125080.0,"$6,688","$41,072,",NaN
590,Arábia,2018-04-05,Brazil,Portuguese,97.0,Drama,NaN,7.4,82.0,489.0,6.0,24.0,"João Dumans, Affonso Uchoa","João Dumans, Affonso Uchoa","Aristides de Sousa, Murilo Caliari, Gláucia Va...",151537.62483931571,NaN,"$38,399,",NaN
591,Loving Pablo,2018-03-09,"Spain, Bulgaria","English, Spanish",123.0,"Action, Biography, Crime",R,6.3,42.0,13024.0,62.0,73.0,Fernando León de Aranoa,"Fernando León de Aranoa, Virginia Vallejo","Javier Bardem, Penélope Cruz, Peter Sarsgaard,...",17922736.200000003,"$16,564","$22,017,",NaN
592,November,2017-02-03,"Estonia, Netherlands, Poland","Estonian, German, Italian",115.0,"Drama, Fantasy, Horror",NaN,7.2,79.0,2264.0,15.0,54.0,Rainer Sarnet,"Andrus Kivirähk, Rainer Sarnet","Rea Lest, Jörgen Liik, Arvo Kukumägi, Katariin...",1557445.0,NaN,"$19,084,",NaN
593,Song of Granite,2017-11-15,"Ireland, Canada","Irish, English",104.0,"Biography, Drama",NaN,6.5,68.0,193.0,2.0,20.0,Pat Collins,"Pat Collins, Eoghan Mac Giolla Bhríde","Michael O'Chonfhlaola, Macdara Ó Fátharta, Jar...",1539200.0,NaN,"$16,182,",NaN
594,Another WolfCop,2017-07-29,Canada,English,82.0,"Comedy, Horror",NaN,4.8,NaN,858.0,17.0,38.0,Lowell Dean,Lowell Dean,"Leo Fafard, Yannick Bisson, Amy Matysio, Jonat...",2396308.656269155,"$5,890","$7,285,",NaN
595,Simmba,2018-12-28,India,"Hindi, Marathi, English",158.0,"Action, Comedy, Crime",Not Rated,6.3,NaN,13986.0,1103.0,18.0,Rohit Shetty,"Puri Jagannadh, Vakkantham Vamsi","Ranveer Singh, Sara Ali Khan, Sonu Sood, Ashut...",11421804.787754517,"$1,758,563","$5,075,611,",NaN
596,Zimna wojna,2018-06-08,"Poland, UK, France","Polish, French, German, Russian, Italian, Croa...",89.0,"Drama, Music, Romance",R,7.7,90.0,29574.0,144.0,250.0,Pawel Pawlikowski,"Pawel Pawlikowski, Pawel Pawlikowski","Joanna Kulig, Tomasz Kot, Borys Szyc, Agata Ku...",5054220.0,"$54,353","$4,557,943,",NaN
597,La Boda de Valentina,2018-02-09,Mexico,"Spanish, English",107.0,"Comedy, Romance",R,4.7,NaN,504.0,5.0,NaN,Marco Polo Constandse,"Beto Gómez, Santiago Limón","Kate Vernon, Ryan Carnes, Omar Chaparro, Tony ...",2545670.153984723,"$1,147,073","$2,783,739,",NaN
598,Todos lo saben,2018-05-09,"Spain, France, Italy","Spanish, English, Catalan",133.0,"Crime, Drama, Mystery",R,7.0,68.0,14924.0,86.0,176.0,Asghar Farhadi,Asghar Farhadi,"Penélope Cruz, Javier Bardem, Ricardo Darín, E...",11879000.0,"$71,207","$2,608,080,",NaN
599,Singwa hamkke: Ingwa yeon,2018-08-01,South Korea,Korean,142.0,"Action, Drama, Fantasy",Not Rated,7.0,NaN,3044.0,20.0,24.0,Yong-hwa Kim,"Ho-min Ju, Yong-hwa Kim","Jung-woo Ha, Ji-Hoon Ju, Hyang-gi Kim, Dong-se...",31310998.9291724,"$311,743","$1,200,246,",NaN
600,Nada a Perder,2018-03-29,Brazil,Portuguese,134.0,"Biography, Drama",PG,6.6,NaN,22510.0,29.0,5.0,Alexandre Avancini,"Stephen P. Lindsey, Emílio Boechat","Petrônio Gontijo, Day Mesquita, Beth Goulart, ...",4815477.062875568,"$679,531","$1,003,497,",NaN
601,Kedarnath,2018-12-07,India,Hindi,116.0,"Drama, Romance",NaN,5.9,NaN,3692.0,184.0,11.0,Abhishek Kapoor,"Abhishek Kapoor, Kanika Dhillon","Sushant Singh Rajput, Sara Ali Khan, Nitish Bh...",4943360.369648114,"$407,118","$901,131,",NaN
602,Climax,2018-09-19,"France, Belgium","French, English",97.0,"Drama, Horror, Music",R,7.3,67.0,19486.0,166.0,222.0,Gaspar Noé,Gaspar Noé,"Sofia Boutella, Romain Guillermic, Souheila Ya...",3033420.0,"$119,423","$766,724,",NaN
603,Gongjak,2018-08-08,South Korea,"Korean, Mandarin, Japanese",137.0,Drama,Not Rated,7.2,69.0,1124.0,5.0,30.0,Jong-bin Yoon,"Sung-hui Kwon, Jong-bin Yoon","Jung-min Hwang, Sung-min Lee, Jin-Woong Cho, J...",16956290.71755302,NaN,"$497,755,",NaN
604,The Great Battle,2018-09-21,South Korea,"Korean, Mandarin",136.0,"Action, Drama, History",Not Rated,7.0,NaN,1306.0,22.0,15.0,Kwang-shik Kim,NaN,"In-sung Jo, Joo-Hyuk Nam, Sung-woong Park, Seo...",13439676.323128264,"$123,983","$472,166,",NaN
605,Kona fer í stríð,2018-05-22,"Iceland, France, Ukraine","Icelandic, Spanish, English, Ukrainian",101.0,"Action, Drama, Thriller",NaN,7.6,81.0,2156.0,12.0,66.0,Benedikt Erlingsson,"Ólafur Egilsson, Benedikt Erlingsson","Halldóra Geirharðsdóttir, Jóhann Sigurðarson, ...",2948500.0,"$18,370","$271,457,",NaN
606,Karwaan,2018-08-03,India,Hindi,114.0,"Comedy, Drama",Not Rated,7.5,NaN,7953.0,137.0,11.0,Akarsh Khurana,"Bejoy Nambiar, Akarsh Khurana","Irrfan Khan, Dulquer Salmaan, Mithila Palkar, ...",2914780.1589697152,"$98,575","$182,009,",NaN
607,The House That Jack Built,2018-10-17,"Denmark, France, Sweden, Germany, Belgium","English, German, Italian",152.0,"Crime, Drama, Horror",R,6.9,42.0,30536.0,273.0,223.0,Lars von Trier,"Lars von Trier, Lars von Trier","Matt Dillon, Bruno Ganz, Uma Thurman, Siobhan ...",10031100.0,"$34,091","$87,008,",NaN
608,Dans la brume,2018-04-04,"France, Canada","French, English",89.0,Sci-Fi,NaN,5.9,NaN,3029.0,15.0,25.0,Daniel Roby,"Guillaume Lemans, Jimmy Bemon","Romain Duris, Olga Kurylenko, Fantine Harduin,...",13835052.0,NaN,"$77,987,",NaN
609,Las herederas,2018-04-05,"Paraguay, France, Germany, Norway, Brazil, Uru...","Spanish, Guarani",98.0,Drama,NaN,6.9,77.0,1617.0,6.0,71.0,Marcelo Martinessi,Marcelo Martinessi,"Ana Brun, Margarita Irun, Ana Ivanova, Nilda G...",630164.0,"$11,304","$65,053,",NaN
610,L'apparition,2018-02-14,"France, Belgium, Jordan","French, Italian, German, English",144.0,Drama,NaN,6.4,64.0,781.0,6.0,46.0,Xavier Giannoli,"Xavier Giannoli, Jacques Fieschi","Vincent Lindon, Galatéa Bellugi, Patrick d'Ass...",10989720.0,"$9,830","$28,293,",NaN
611,Mes provinciales,2018-04-18,France,French,137.0,Drama,NaN,6.3,52.0,329.0,3.0,11.0,Jean-Paul Civeyrac,Jean-Paul Civeyrac,"Andranic Manet, Diane Rouxel, Jenna Thiam, Gon...",743.28,NaN,"$21,598,",NaN
612,Napszállta,2018-09-27,"Hungary, France","Hungarian, German",142.0,Drama,R,6.6,68.0,1457.0,8.0,67.0,László Nemes,"László Nemes, Clara Royer","Susanne Wuest, Juli Jakab, Levente Molnár, Vla...",10419230.0,"$13,846","$21,650,",NaN
613,Touch Me Not,2018-10-31,"Romania, Germany, Czech Republic, Bulgaria, Fr...","English, German",123.0,Drama,NaN,6.2,65.0,1251.0,14.0,80.0,Adina Pintilie,Adina Pintilie,"Laura Benson, Tómas Lemarquis, Christian Bayer...",1131800.0,"$5,616","$13,782,",NaN
614,Hevi reissu,2018-03-09,"Finland, Norway, Belgium","Finnish, English, Norwegian",92.0,"Comedy, Music",NaN,7.2,72.0,2844.0,23.0,91.0,"Juuso Laatio, Jukka Vidgren","Juuso Laatio, Aleksi Puranen","Johannes Holopainen, Samuli Jaskio, Antti Heik...",3687300.0000000005,"$5,419","$10,153,",NaN
615,Patrick,2018-06-29,UK,English,94.0,Family,TV-14,5.7,28.0,1119.0,16.0,15.0,Mandie Fletcher,"Vanessa Davies, Mandie Fletcher","Ed Skrein, Jennifer Saunders, Tom Bennett, Emi...",7894362.620619603,"$1,378","$6,290,",NaN
616,Skjelvet,2018-08-31,Norway,Norwegian,106.0,"Action, Drama, Thriller",PG-13,6.2,70.0,4268.0,51.0,38.0,John Andreas Andersen,"John Kåre Raake, Harald Rosenløw-Eeg","Kristoffer Joner, Ane Dahl Torp, Edith Haagenr...",6248374.644871742,"$3,256","$6,235,",NaN

In [273]:
print(len(touch3))
print(len(touch4))

55
617

In [274]:
modify=[]

n1=touch3.iloc[0]['budget'].replace('FRF50000000','8928571')
modify.append(n1)
n2=touch3.iloc[1]['budget'].replace('FRF115000000','19491525')
modify.append(n2)
n3=touch3.iloc[2]['budget'].replace('FRF53000000','8688524')
modify.append(n3)
n4=touch3.iloc[3]['budget'].replace('FRF140000000','22950819')
modify.append(n4)
n5=touch3.iloc[4]['budget'].replace('FRF274620000','46545762')
modify.append(n5)
n6=touch3.iloc[5]['budget'].replace('FRF70000000','10294117')
modify.append(n6)
n7=touch3.iloc[6]['budget'].replace('FRF95000000','13571428')
modify.append(n7)
n8=touch3.iloc[7]['budget'].replace('FRF77000000','10294117')
modify.append(n8)
n9=touch3.iloc[8]['budget'].replace('FRF327000000','49545454')
modify.append(n9)
n10=touch3.iloc[9]['budget'].replace('FRF164000000','29285714')
modify.append(n10)

In [275]:
n11=touch3.iloc[10]['budget'].replace('DEM20000000','12600000')
modify.append(n11)
n12=touch3.iloc[11]['budget'].replace('DEM42000000','25500000')
modify.append(n12)
n13=touch3.iloc[12]['budget'].replace('DEM19000000','12350000')
modify.append(n13)
n14=touch3.iloc[13]['budget'].replace('DEM20000000','12930000')
modify.append(n14)
n15=touch3.iloc[14]['budget'].replace('FRF50000000','9800000')
modify.append(n15)
n16=touch3.iloc[15]['budget'].replace('FRF95000000','18500000') 
modify.append(n16)
n17=touch3.iloc[16]['budget'].replace('FRF17000000','3100000')
modify.append(n17)
n18=touch3.iloc[17]['budget'].replace('FRF25000000','4900000')
modify.append(n18)
n19=touch3.iloc[18]['budget'].replace('FRF29000000','5680000')
modify.append(n19)
n20=touch3.iloc[19]['budget'].replace('FRF11000000','1850000')
modify.append(n20)

In [276]:
n21=touch3.iloc[20]['budget'].replace('FRF60000000','10400000')
modify.append(n21)
n22=touch3.iloc[21]['budget'].replace('JMD35390673','950000')
modify.append(n22)
n23=touch3.iloc[22]['budget'].replace('DEM16000000','950000')
modify.append(n23)
n24=touch3.iloc[23]['budget'].replace('DEM7000000','3900000')
modify.append(n24)
n25=touch3.iloc[24]['budget'].replace('DEM4300000','2550000')
modify.append(n25)
n26=touch3.iloc[25]['budget'].replace('DEM3500000','1870000')
modify.append(n26)
n27=touch3.iloc[26]['budget'].replace('FRF82000000','13600000')
modify.append(n27)
n28=touch3.iloc[27]['budget'].replace('ESP700000000','4540000')
modify.append(n28)
n29=touch3.iloc[28]['budget'].replace('ESP400000000','2816129')
modify.append(n29)
n30=touch3.iloc[29]['budget'].replace('DEM15000000','100944')
modify.append(n30)

In [277]:
n31=touch3.iloc[30]['budget'].replace('FRF65000000','10607198')
modify.append(n31)
n32=touch3.iloc[31]['budget'].replace('ESP125000000','817251')
modify.append(n32)
n33=touch3.iloc[32]['budget'].replace('FRF71500000','11663360')
modify.append(n33)
n34=touch3.iloc[33]['budget'].replace('FRF100000000','14436160')
modify.append(n34)
n35=touch3.iloc[34]['budget'].replace('FRF10000000','1405507')
modify.append(n35)
n36=touch3.iloc[35]['budget'].replace('DEM8400000','4220395')
modify.append(n36)
n37=touch3.iloc[36]['budget'].replace('FRF95130000','13608870')
modify.append(n37)
n38=touch3.iloc[37]['budget'].replace('ATS70000000','4425437')
modify.append(n38)
n39=touch3.iloc[38]['budget'].replace('FRF49000000','6768008')
modify.append(n39)
n40=touch3.iloc[39]['budget'].replace('FRF30000000','4063529')
modify.append(n40)

In [278]:
n41=touch3.iloc[40]['budget'].replace('FRF39000000','5417323')
modify.append(n41)
n42=touch3.iloc[41]['budget'].replace('FRF48000000','5386782')
modify.append(n42)
n43=touch3.iloc[42]['budget'].replace('FRF50000000','6772548')
modify.append(n43)
n44=touch3.iloc[43]['budget'].replace('FRF25000000','3472643')
modify.append(n44)
n45=touch3.iloc[44]['budget'].replace('ESP1200000','6419')
modify.append(n45)
n46=touch3.iloc[45]['budget'].replace('FRF53000000','7191217')
modify.append(n46)
n47=touch3.iloc[46]['budget'].replace('FRF29000000','4015744')
modify.append(n47)
n48=touch3.iloc[47]['budget'].replace('FIM8000000','1185313')
modify.append(n48)
n49=touch3.iloc[48]['budget'].replace('FRF85000000','12838627')
modify.append(n49)
n50=touch3.iloc[49]['budget'].replace('FRF103000000','13706767')
modify.append(n50)

In [279]:
n51=touch3.iloc[50]['budget'].replace('VEB4273248','994')
modify.append(n51)
n52=touch3.iloc[51]['budget'].replace('TWD700000000','23339985')
modify.append(n52)
n53=touch3.iloc[52]['budget'].replace('NGN1270000000','7766999')
modify.append(n53)
n54=touch3.iloc[53]['budget'].replace('ARS2000000','249364')
modify.append(n54)
n55=touch3.iloc[54]['budget'].replace('RUR360000000','5828920')
modify.append(n55)

In [280]:
modify

['8928571',
 '19491525',
 '8688524',
 '22950819',
 '46545762',
 '10294117',
 '13571428',
 '10294117',
 '49545454',
 '29285714',
 '12600000',
 '25500000',
 '12350000',
 '12930000',
 '9800000',
 '18500000',
 '3100000',
 '4900000',
 '5680000',
 '1850000',
 '10400000',
 '950000',
 '950000',
 '3900000',
 '2550000',
 '1870000',
 '13600000',
 '4540000',
 '2816129',
 '100944',
 '10607198',
 '817251',
 '11663360',
 '14436160',
 '1405507',
 '4220395',
 '13608870',
 '4425437',
 '6768008',
 '4063529',
 '5417323',
 '5386782',
 '6772548',
 '3472643',
 '6419',
 '7191217',
 '4015744',
 '1185313',
 '12838627',
 '13706767',
 '994',
 '23339985',
 '7766999',
 '249364',
 '5828920']

In [281]:
touch3['budget']=modify
touch3.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Les visiteurs,1993-01-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...",8928571,NaN,"$700,000","$98,800,000"
1,Léon,1994-09-14,France,"English, Italian, French",110.0,"Action, Crime, Drama",R,8.6,64.0,910843.0,983.0,111.0,Luc Besson,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...",19491525,"$5,306,558","$19,501,238","$45,501,238"
2,Taxi,1998-04-08,France,"French, German, Korean, Portuguese",86.0,"Action, Comedy, Crime",Not Rated,7.0,NaN,70954.0,112.0,37.0,Gérard Pirès,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...",8688524,"$76,688","$268,254","$44,486,269"
3,Les couloirs du temps: Les visiteurs II,1998-02-11,France,French,118.0,"Comedy, Fantasy",G,6.1,NaN,9462.0,18.0,8.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Muriel Robin, Ma...",22950819,"$68,316","$146,072,","$26,000,000,"
4,Astérix & Obélix contre César,1999-02-03,"France, Italy, Germany","French, German",109.0,"Adventure, Comedy, Family",Not Rated,5.9,NaN,35870.0,56.0,23.0,Claude Zidi,"René Goscinny, Albert Uderzo","Christian Clavier, Gérard Depardieu, Roberto B...",46545762,"$304,245","$1,644,060","$101,644,060"

In [282]:
touch=pd.concat([touch3,touch4],ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
touch.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Les visiteurs,1993-01-27,France,"French, German, English",107.0,"Comedy, Fantasy",R,7.0,NaN,29057.0,82.0,17.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Valérie Lemercie...",8928571,NaN,"$700,000","$98,800,000"
1,Léon,1994-09-14,France,"English, Italian, French",110.0,"Action, Crime, Drama",R,8.6,64.0,910843.0,983.0,111.0,Luc Besson,Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...",19491525,"$5,306,558","$19,501,238","$45,501,238"
2,Taxi,1998-04-08,France,"French, German, Korean, Portuguese",86.0,"Action, Comedy, Crime",Not Rated,7.0,NaN,70954.0,112.0,37.0,Gérard Pirès,Luc Besson,"Samy Naceri, Frédéric Diefenthal, Marion Cotil...",8688524,"$76,688","$268,254","$44,486,269"
3,Les couloirs du temps: Les visiteurs II,1998-02-11,France,French,118.0,"Comedy, Fantasy",G,6.1,NaN,9462.0,18.0,8.0,Jean-Marie Poiré,"Christian Clavier, Jean-Marie Poiré","Christian Clavier, Jean Reno, Muriel Robin, Ma...",22950819,"$68,316","$146,072,","$26,000,000,"
4,Astérix & Obélix contre César,1999-02-03,"France, Italy, Germany","French, German",109.0,"Adventure, Comedy, Family",Not Rated,5.9,NaN,35870.0,56.0,23.0,Claude Zidi,"René Goscinny, Albert Uderzo","Christian Clavier, Gérard Depardieu, Roberto B...",46545762,"$304,245","$1,644,060","$101,644,060"

In [283]:
print(len(touch))
print(len(untouch))

672
5388

In [284]:
table=pd.concat([untouch,touch],ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004-01-01,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...",20000000,NaN,"$41,867,945,","$168,725,384,"
1,Tideland,2006-10-01,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...",19300000,"$7,276","$66,453,","$197,659,"
2,Passion Play,2011-01-01,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...",8000000,"$2,100","$3,669,","$11,500,000,"
3,Badkonake sefid,1995-01-01,Iran,Persian,85.0,"Drama, Family",Unrated,7.8,NaN,5914.0,35.0,27.0,Jafar Panahi,"Abbas Kiarostami, Jafar Panahi","Aida Mohammadkhani, Mohsen Kafili, Fereshteh S...",150000,NaN,"$474,047",NaN
4,The Fantasticks,1995-01-01,USA,English,86.0,"Musical, Romance",PG,5.7,48.0,1065.0,70.0,23.0,Michael Ritchie,"Tom Jones, Harvey Schmidt","Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",10000000,"$24,176","$44,757,",NaN

In [286]:
table['budget']=table['budget'].astype(int)

In [287]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6060 entries, 0 to 6059
Data columns (total 19 columns):
movie                       6060 non-null object
release date                6048 non-null datetime64[ns]
country                     6059 non-null object
language                    6051 non-null object
runtime                     6047 non-null float64
category                    6052 non-null object
rated                       5865 non-null object
IMDB rating                 6041 non-null float64
Metacritic rating           5065 non-null float64
votes number                6041 non-null float64
reviews number              6020 non-null float64
critics number              5961 non-null float64
director                    6059 non-null object
writer                      6051 non-null object
actor                       6057 non-null object
budget                      6060 non-null int32
opeing USA box office       5586 non-null object
US box office               6060 non-null object
international box office    2762 non-null object
dtypes: datetime64[ns](1), float64(6), int32(1), object(11)
memory usage: 875.9+ KB

In [288]:
table['opeing USA box office']=table['opeing USA box office'].str.replace(',','').str.replace("$",'')
table['opeing USA box office']=pd.to_numeric(table['opeing USA box office'],downcast='integer')

table['US box office']=table['US box office'].str.replace(',','').str.replace("$",'')
table['US box office']=pd.to_numeric(table['US box office'],downcast='integer')

In [289]:
table=table.reset_index().drop(columns='index')
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004-01-01,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...",20000000,NaN,41867945,"$168,725,384,"
1,Tideland,2006-10-01,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...",19300000,7276.0,66453,"$197,659,"
2,Passion Play,2011-01-01,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...",8000000,2100.0,3669,"$11,500,000,"
3,Badkonake sefid,1995-01-01,Iran,Persian,85.0,"Drama, Family",Unrated,7.8,NaN,5914.0,35.0,27.0,Jafar Panahi,"Abbas Kiarostami, Jafar Panahi","Aida Mohammadkhani, Mohsen Kafili, Fereshteh S...",150000,NaN,474047,NaN
4,The Fantasticks,1995-01-01,USA,English,86.0,"Musical, Romance",PG,5.7,48.0,1065.0,70.0,23.0,Michael Ritchie,"Tom Jones, Harvey Schmidt","Joel Grey, Barnard Hughes, Jean Louisa Kelly, ...",10000000,24176.0,44757,NaN

In [290]:
print(table['US box office'].isnull().sum())
print(table['international box office'].isnull().sum())

0
3298

In [291]:
table['international box office']=table['international box office'].str.replace(',','')

In [292]:
table_1=table[table['international box office'].notnull()]
table_1

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004-01-01,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...",20000000,NaN,41867945,$168725384
1,Tideland,2006-10-01,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...",19300000,7276.0,66453,$197659
2,Passion Play,2011-01-01,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...",8000000,2100.0,3669,$11500000
44,Jurassic Park,1993-06-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...",63000000,50159460.0,402453882,$1029153882
45,Mrs. Doubtfire,1993-11-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...",25000000,NaN,219200000,$441286195
46,The Fugitive,1993-08-06,USA,"English, Polish, Spanish",130.0,"Action, Crime, Drama",PG-13,7.8,87.0,243089.0,295.0,123.0,Andrew Davis,"Jeb Stuart, David Twohy","Harrison Ford, Tommy Lee Jones, Sela Ward, Jul...",44000000,23758855.0,183875760,$368875760
47,The Firm,1993-06-30,USA,English,154.0,"Drama, Mystery, Thriller",R,6.8,58.0,104963.0,151.0,65.0,Sydney Pollack,"John Grisham, David Rabe","Tom Cruise, Jeanne Tripplehorn, Gene Hackman, ...",42000000,25400000.0,158348367,$270248367
48,Sleepless in Seattle,1993-06-25,USA,English,105.0,"Comedy, Drama, Romance",PG,6.8,72.0,143571.0,233.0,77.0,Nora Ephron,"Jeff Arch, Nora Ephron","Tom Hanks, Ross Malinger, Rita Wilson, Victor ...",21000000,NaN,126533006,$101200000
49,Indecent Proposal,1993-04-07,USA,English,117.0,"Drama, Romance",R,5.9,35.0,56359.0,124.0,56.0,Adrian Lyne,"Jack Engelhard, Amy Holden Jones","Robert Redford, Demi Moore, Woody Harrelson, S...",38000000,NaN,106614100,$266600000
50,In the Line of Fire,1993-07-09,USA,English,128.0,"Action, Crime, Drama",R,7.2,74.0,84376.0,146.0,73.0,Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo, Dy...",40000000,NaN,102314283,$85000000
51,The Pelican Brief,1993-12-17,USA,English,141.0,"Crime, Drama, Mystery",PG-13,6.6,50.0,69321.0,101.0,49.0,Alan J. Pakula,"John Grisham, Alan J. Pakula","Julia Roberts, Denzel Washington, Sam Shepard,...",45000000,16864404.0,100768056,$195268056
52,Schindler's List,1993-12-25,USA,"English, Hebrew, German, Polish",195.0,"Biography, Drama, History",R,8.9,93.0,1071427.0,1553.0,217.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",22000000,656636.0,96067179,$221000000
53,Cliffhanger,1993-05-28,"USA, Italy, France",English,113.0,"Action, Adventure, Thriller",R,6.4,60.0,110389.0,181.0,86.0,Renny Harlin,"John Long, Michael France","Sylvester Stallone, John Lithgow, Michael Rook...",70000000,20458022.0,84049211,$171000000
54,Free Willy,1993-07-16,"USA, France",English,112.0,"Adventure, Drama, Family",PG,5.9,79.0,61816.0,72.0,25.0,Simon Wincer,"Keith Walker, Keith Walker","Jason James Richter, Lori Petty, Jayne Atkinso...",20000000,7868829.0,77698625,$153698625
55,Philadelphia,1994-01-14,USA,English,125.0,Drama,PG-13,7.7,66.0,204771.0,279.0,79.0,Jonathan Demme,Ron Nyswaner,"Tom Hanks, Denzel Washington, Roberta Maxwell,...",26000000,143433.0,77324422,$206678440
56,Cool Runnings,1994-06-24,USA,"English, German, Russian",98.0,"Adventure, Comedy, Family",PG,6.9,60.0,83416.0,106.0,48.0,Jon Turteltaub,"Lynn Siefert, Michael Ritchie","Leon, Doug E. Doug, Rawle D. Lewis, Malik Yoba...",15000000,NaN,68856263,$154856263
57,Rising Sun,1993-07-30,USA,"English, Japanese",125.0,"Action, Crime, Drama",R,6.2,56.0,39267.0,82.0,42.0,Philip Kaufman,"Michael Crichton, Philip Kaufman","Sean Connery, Wesley Snipes, Harvey Keitel, Ca...",35000000,NaN,63095271,$107198790
58,Demolition Man,1993-10-08,USA,English,115.0,"Action, Crime, Sci-Fi",R,6.6,34.0,144129.0,227.0,102.0,Marco Brambilla,"Peter M. Lenkov, Robert Reneau","Sylvester Stallone, Wesley Snipes, Sandra Bull...",57000000,15973850.0,58055768,$159055768
59,Beethoven's 2nd,1993-12-17,USA,English,89.0,"Comedy, Family, Romance",PG,4.9,NaN,23163.0,29.0,12.0,Rod Daniel,"John Hughes, Amy Holden Jones","Charles Grodin, Bonnie Hunt, Nicholle Tom, Chr...",15000000,6017225.0,53354166,$118154166
60,Last Action Hero,1993-06-18,USA,English,130.0,"Action, Adventure, Comedy",PG-13,6.3,44.0,123865.0,276.0,106.0,John McTiernan,"Zak Penn, Adam Leff","Arnold Schwarzenegger, F. Murray Abraham, Art ...",85000000,15338241.0,50016394,$137298489
61,Made in America,1993-05-28,"USA, France","English, Japanese",111.0,Comedy,PG-13,5.0,NaN,14615.0,23.0,15.0,Richard Benjamin,"Marcia Brandwynne, Nadine Schiff","Whoopi Goldberg, Ted Danson, Will Smith, Nia L...",22000000,NaN,44942695,$60000000
62,The Good Son,1993-09-24,USA,English,87.0,"Drama, Thriller",R,6.4,NaN,33438.0,156.0,46.0,Joseph Ruben,Ian McEwan,"Macaulay Culkin, Elijah Wood, Wendy Crewson, D...",17000000,NaN,44594000,$60417219
63,Hot Shots! Part Deux,1993-05-21,USA,English,86.0,"Action, Comedy",PG-13,6.6,NaN,77504.0,107.0,32.0,Jim Abrahams,"Jim Abrahams, Pat Proft","Charlie Sheen, Lloyd Bridges, Valeria Golino, ...",25000000,NaN,38911970,$133752825
64,Carlito's Way,1993-11-12,USA,"English, Spanish",144.0,"Crime, Drama, Thriller",R,7.9,65.0,184175.0,308.0,108.0,Brian De Palma,"Edwin Torres, David Koepp","Al Pacino, Sean Penn, Penelope Ann Miller, Joh...",30000000,9116675.0,36948322,$63848322
65,Sliver,1993-05-21,USA,English,107.0,"Drama, Thriller",R,5.0,38.0,26198.0,75.0,45.0,Phillip Noyce,"Ira Levin, Joe Eszterhas","Sharon Stone, William Baldwin, Tom Berenger, P...",40000000,12138283.0,36300000,$116300000
66,Dragon: The Bruce Lee Story,1993-05-07,USA,"English, Cantonese",120.0,"Action, Biography, Drama",PG-13,7.0,NaN,25080.0,94.0,35.0,Rob Cohen,"Robert Clouse, Linda Lee Cadwell","Jason Scott Lee, Lauren Holly, Robert Wagner, ...",14000000,NaN,35112679,$63512679
67,Hard Target,1993-08-20,USA,"English, French",97.0,"Action, Adventure, Drama",R,6.1,NaN,40428.0,189.0,90.0,John Woo,Chuck Pfarrer,"Chuck Pfarrer, Robert Apisa, Arnold Vosloo, La...",18000000,10106500.0,32589677,$74189677
68,Cop & ½,1993-04-02,USA,English,97.0,"Comedy, Crime, Family",PG,3.9,NaN,7802.0,49.0,18.0,Henry Winkler,Arne Olsen,"Burt Reynolds, Norman D. Golden II, Ruby Dee, ...",14000000,NaN,31888805,$40689691
69,A Perfect World,1993-11-24,USA,English,138.0,"Crime, Drama, Thriller",PG-13,7.5,71.0,67027.0,139.0,66.0,Clint Eastwood,John Lee Hancock,"Kevin Costner, Clint Eastwood, Laura Dern, T.J...",30000000,8075582.0,31160784,$135200000
70,In the Name of the Father,1994-01-21,"Ireland, UK, USA",English,133.0,"Biography, Drama",R,8.1,84.0,139836.0,171.0,54.0,Jim Sheridan,"Gerry Conlon, Terry George","Alison Crosbie, Daniel Day-Lewis, Philip King,...",13000000,NaN,25010410,$40700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5556,Veeram,2014-01-10,India,"Tamil, Telugu",161.0,"Action, Family",Not Rated,6.6,NaN,6312.0,39.0,3.0,Siva,"Bhoopathy Raja, Bharathan","Ajith Kumar, Tamannaah Bhatia, Vidharth, Bala,...",0,NaN,243955,INR1300000000
5557,The Dark Horse,2014-11-20,New Zealand,English,124.0,"Biography, Drama",R,7.5,77.0,5167.0,38.0,74.0,James Napier Robertson,James Napier Robertson,"Cliff Curtis, James Rolleston, Kirk Torrance, ...",2749091,8487.0,61505,$2785000
5558,Bing feng: Chong sheng zhi men,2014-04-17,"China, Hong Kong","Cantonese, English, Hindi, Mandarin",104.0,"Action, Comedy, History",R,4.8,32.0,3009.0,22.0,27.0,Wing-Cheong Law,"Fung Lam, Mark Wu","Donnie Yen, Baoqiang Wang, Shengyi Huang, Kang...",25791859,4698.0,7679,$26033917
5559,The Lobster,2015-10-16,"Ireland, UK, Greece, France, Netherlands","English, French, Greek",119.0,"Comedy, Drama, Romance",R,7.1,82.0,178295.0,541.0,408.0,Yorgos Lanthimos,"Yorgos Lanthimos, Efthymis Filippou","Jacqueline Abrahams, Roger Ashton-Griffiths, J...",4544000,190252.0,8699235,$8978887
5560,Bajirao Mastani,2015-12-18,India,Hindi,158.0,"Action, Drama, History",Not Rated,7.2,NaN,28012.0,193.0,45.0,Sanjay Leela Bhansali,"Nagnath S. Inamdar, Sanjay Leela Bhansali","Ranveer Singh, Deepika Padukone, Priyanka Chop...",18824265,1741037.0,6557047,$54000000
5561,The Dressmaker,2015-10-29,Australia,English,119.0,"Comedy, Drama",R,7.1,47.0,46061.0,142.0,139.0,Jocelyn Moorhouse,"Rosalie Ham, Jocelyn Moorhouse","Kate Winslet, Judy Davis, Liam Hemsworth, Hugo...",12029651,185165.0,2021399,$1715078
5562,Saul fia,2015-06-11,Hungary,"Hungarian, Yiddish, German, Russian, Polish, F...",107.0,"Drama, War",R,7.5,90.0,38640.0,131.0,331.0,László Nemes,"László Nemes, Clara Royer","Géza Röhrig, Levente Molnár, Urs Rechn, Todd C...",1007321,37930.0,1777043,$6659121
5563,Mustang,2015-06-17,"Turkey, France, Germany, Qatar",Turkish,97.0,Drama,PG-13,7.6,83.0,30303.0,73.0,250.0,Deniz Gamze Ergüven,"Deniz Gamze Ergüven, Alice Winocour","Günes Sensoy, Doga Zeynep Doguslu, Tugba Sungu...",1466269,22151.0,845464,$4915624
5564,Under sandet,2015-12-03,"Denmark, Germany","German, Danish, English",100.0,"Drama, History, War",R,7.8,75.0,27571.0,65.0,152.0,Martin Zandvliet,Martin Zandvliet,"Roland Møller, Louis Hofmann, Joel Basman, Mik...",5079112,13754.0,435266,$3164333
5565,Miekkailija,2015-03-13,"Finland, Estonia, Germany","Estonian, Russian, Armenian",99.0,"Biography, Drama, History",NaN,7.2,60.0,3967.0,13.0,59.0,Klaus Härö,Anna Heinämaa,"Märt Avandi, Ursula Ratasepp, Hendrik Toompere...",1696805,5572.0,95543,$22458
5566,Le tout nouveau testament,2015-09-01,"Belgium, France, Luxembourg","French, German",114.0,"Comedy, Fantasy",Not Rated,7.1,70.0,25432.0,47.0,153.0,Jaco Van Dormael,"Thomas Gunzig, Jaco Van Dormael","Pili Groyne, Benoît Poelvoorde, Catherine Dene...",9612959,19812.0,89182,$100933
5567,Ennu Ninte Moideen,2015-09-19,India,Malayalam,166.0,"Biography, Drama, Romance",NaN,8.0,NaN,4067.0,26.0,13.0,R.S. Vimal,R.S. Vimal,"Prithviraj Sukumaran, Parvathy, Saikumar, Tovi...",1979067,NaN,67836,INR520000000
5568,La belle saison,2015-08-19,"France, Belgium",French,105.0,"Drama, Romance",Not Rated,6.6,72.0,3005.0,5.0,72.0,Catherine Corsini,"Catherine Corsini, Laurette Polmanss","Cécile de France, Izïa Higelin, Noémie Lvovsky...",5299680,15413.0,35034,$2200000
5569,D'Ardennen,2015-10-14,Belgium,"Flemish, French, Dutch",96.0,Drama,Unrated,6.8,47.0,4117.0,17.0,74.0,Robin Pront,"Jeroen Perceval, Robin Pront","Kevin Janssens, Jeroen Perceval, Veerle Baeten...",2510200,840.0,5638,$2271
5570,Dangal,2016-12-23,India,"Hindi, Tamil, Telugu",161.0,"Action, Biography, Drama",Not Rated,8.5,NaN,117704.0,319.0,53.0,Nitesh Tiwari,"Piyush Gupta, Shreyas Jain","Aamir Khan, Fatima Sana Shaikh, Sanya Malhotra...",10323956,3248481.0,12391761,$310000000
5571,Kimi no na wa.,2016-08-26,Japan,Japanese,106.0,"Animation, Drama, Fantasy",PG,8.4,79.0,127411.0,391.0,212.0,Makoto Shinkai,"Makoto Shinkai, Makoto Shinkai","Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",3685961,1637509.0,5017246,$357986087
5572,Their Finest,2017-04-14,"UK, Sweden","English, Hungarian, Polish, French",117.0,"Comedy, Drama, Romance",R,6.8,76.0,14769.0,89.0,159.0,Lone Scherfig,"Lissa Evans, Gaby Chiappe","Sam Claflin, Gemma Arterton, Nicholas Murchie,...",10640399,76197.0,3595841,$12313591
5573,A Aa,2016-06-02,India,Telugu,152.0,"Action, Comedy, Drama",NaN,6.8,NaN,1478.0,5.0,4.0,Trivikram Srinivas,"Trivikram Srinivas, Trivikram Srinivas","Nithiin, Samantha Ruth Prabhu, Anupama Parames...",5200472,345324.0,2256403,INR750400000
5574,Busanhaeng,2016-07-20,South Korea,"Korean, Hawaiian",118.0,"Action, Horror, Thriller",Not Rated,7.5,72.0,105670.0,367.0,332.0,Sang-ho Yeon,"Joo-Suk Park, Sang-ho Yeon","Yoo Gong, Yu-mi Jung, Dong-seok Ma, Su-an Kim,...",8760918,284776.0,2129768,$81036076
5575,Ah-ga-ssi,2016-10-28,South Korea,"Korean, Japanese",145.0,"Drama, Romance, Thriller",Not Rated,8.1,84.0,75702.0,146.0,325.0,Chan-wook Park,"Sarah Waters, Seo-kyeong Jeong","Min-hee Kim, Tae-ri Kim, Jung-woo Ha, Jin-Woon...",8730545,92129.0,2005473,$1968494
5576,Julieta,2016-12-23,Spain,Spanish,99.0,"Drama, Mystery, Romance",R,7.1,73.0,24014.0,56.0,239.0,Pedro Almodóvar,"Pedro Almodóvar, Alice Munro","Emma Suárez, Adriana Ugarte, Daniel Grao, Inma...",1410210,64044.0,1489848,$21472253
5577,Toni Erdmann,2016-07-14,"Germany, Austria, Monaco, Romania, France, Swi...","German, English, Romanian",162.0,"Comedy, Drama",R,7.4,93.0,37621.0,127.0,318.0,Maren Ade,Maren Ade,"Sandra Hüller, Peter Simonischek, Michael Witt...",3347099,15972.0,1478960,$1390172
5578,Fan,2016-04-15,India,Hindi,138.0,"Action, Drama, Thriller",Not Rated,7.1,NaN,38751.0,304.0,57.0,Maneesh Sharma,"Maneesh Sharma, Habib Faisal","Shah Rukh Khan, Sayani Gupta, Natasha Singh, S...",12764281,1357212.0,1357212,INR1880000000
5579,Ma vie de Courgette,2016-10-19,"Switzerland, France","French, English",66.0,"Animation, Comedy, Drama",PG-13,7.8,85.0,16596.0,45.0,187.0,Claude Barras,"Céline Sciamma, Germano Zullo","Gaspard Schlatter, Sixtine Murat, Paulin Jacco...",7136350,28472.0,292279,$219663
5580,Feng shen bang,2016-07-29,Hong Kong,Mandarin,109.0,"Action, Fantasy",PG-13,4.6,NaN,1750.0,19.0,14.0,Koan Hui,"Cherryyoko, Samson Sun","Jet Li, Bingbing Fan, Zhang Wen, Xiaoming Huan...",38,NaN,143430,$42790670
5581,Call Me by Your Name,2018-01-11,"Italy, France, Brazil, USA, Netherlands, Germa...","English, Italian, French, German, Hebrew",132.0,"Drama, Romance",R,7.9,93.0,148212.0,704.0,449.0,Luca Guadagnino,"James Ivory, André Aciman","Armie Hammer, Timothée Chalamet, Michael Stuhl...",4806800,412932.0,18095701,$40353565
5582,Finding Your Feet,2018-02-23,UK,"English, French, Welsh",111.0,"Comedy, Drama, Music",PG-13,6.7,53.0,3691.0,55.0,66.0,Richard Loncraine,"Meg Leonard, Nick Moorcroft","Imelda Staunton, Celia Imrie, Timothy Spall, J...",7552262,60132.0,1418682,$16881861
5583,Sage femme,2017-03-22,"France, Belgium",French,117.0,Drama,Unrated,6.7,66.0,1790.0,11.0,85.0,Martin Provost,"Martin Provost, Martin Provost","Catherine Deneuve, Catherine Frot, Olivier Gou...",7564900,21341.0,603582,$402918
5584,Ce qui nous lie,2017-06-14,France,"French, English, Spanish",113.0,"Comedy, Drama",NaN,6.9,58.0,2952.0,9.0,62.0,Cédric Klapisch,"Cédric Klapisch, Santiago Amigorena","Pio Marmaï, Ana Girardot, François Civil, Jean...",8816761,15157.0,257610,$10461297
5585,Soorma,2018-07-13,India,Hindi,131.0,"Biography, Drama, Sport",PG-13,7.4,NaN,3424.0,40.0,9.0,Shaad Ali,"Shaad Ali, Siva Ananth","Diljit Dosanjh, Tapsee Pannu, Angad Bedi, Vija...",2920533,168354.0,390077,$6036135

In [295]:
table_2=table[table['international box office'].isnull()]

In [296]:
currencylist=table_1['international box office'].str.extract('(\D+)')[0].tolist()
currencylist = [c.replace('$','USD') for c in currencylist]
currencylist

['USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 ...]

In [297]:
amount=table_1['international box office'].str.replace(',','').str.extract('(\d+)')[0].tolist()
year=list(table_1['release date'].dt.year)
month=list(table_1['release date'].dt.month)
day=list(table_1['release date'].dt.day)

In [298]:
box_lst=[]

for i,j,k,l,m in zip(amount,currencylist,year,month,day):
    try:
        interbox=cur.convert(int(i), j, 'USD', date=date(int(k), int(l), int(m)))
        box_lst.append(str(interbox))
    except:
        budget = i
        box_lst.append(interbox)

In [300]:
box_lst

['168725384.0',
 '197658.99999999997',
 '11500000.0',
 '1029153882.0000001',
 '441286195.0',
 '368875760.0',
 '270248367.0',
 '101200000.0',
 '266600000.0',
 '84999999.99999999',
 '195268055.99999997',
 '221000000.0',
 '171000000.0',
 '153698625.0',
 '206678440.0',
 '154856263.0',
 '107198790.0',
 '159055768.00000003',
 '118154166.0',
 '137298489.0',
 '60000000.0',
 '60417219.0',
 '133752825.0',
 '63848322.0',
 '116300000.0',
 '63512679.0',
 '74189677.0',
 '40689691.0',
 '135200000.0',
 '40700000.0',
 '30000000.0',
 '677945399.0',
 '987483777.0',
 '378882411.0',
 '189800000.0',
 '228000000.0',
 '247275374.00000003',
 '215887717.0',
 '350448145.0',
 '351583407.0',
 '213928762.00000003',
 '223664608.0',
 '183031272.0',
 '117600000.0',
 '214015089.0',
 '120000000.0',
 '107217396.0',
 '196600000.0',
 '160638883.0',
 '131002597.0',
 '170399999.99999997',
 '245700832.0',
 '94000000.0',
 '47399999.99999999',
 '101646581.0',
 '119204077.0',
 '48424341.0',
 '108431355.0',
 '106683817.0',
 '105414729.0',
 '48055248.0',
 '61947267.0',
 '58500000.0',
 '55952000.0',
 '68792531.0',
 '112006295.99999999',
 '54900000.00000001',
 '33351557.0',
 '24738164.000000004',
 '27371504.999999996',
 '26978900.0',
 '42300000.0',
 '36800000.0',
 '311546543.0',
 '15826984.0',
 '20500000.0',
 '14990999.999999998',
 '1190000.0',
 '373554033.00000006',
 '152500000.0',
 '355237932.99999994',
 '346079773.0',
 '212385533.0',
 '352194034.0',
 '262797249.0',
 '287928194.0',
 '327311859.0',
 '366101665.99999994',
 '66000000.0',
 '264218220.0',
 '179519401.0',
 '106269971.0',
 '101000000.0',
 '152022101.0',
 '210409945.0',
 '115101622.0',
 '182016617.0',
 '122195920.0',
 '189859560.00000003',
 '107000000.0',
 '81452156.0',
 '254134910.0',
 '141407024.0',
 '113374103.0',
 '168839459.0',
 '20700000.0',
 '87313761.0',
 '110627965.0',
 '104324083.0',
 '135000000.0',
 '83088295.0',
 '66433194.0',
 '127600435.0',
 '77224232.0',
 '113493481.0',
 '39748899.0',
 '83306267.99999999',
 '28215918.0',
 '41174130.0',
 '34449356.0',
 '37702961.0',
 '28051736.0',
 '33300000.0',
 '34642684.0',
 '12400000.0',
 '26134477.0',
 '2800000.0',
 '900000.0',
 '19999999.999999996',
 '14700000.0',
 '17200000.0',
 '6600000.0',
 '817400891.0',
 '252750000.0',
 '457696359.0',
 '273552592.0',
 '309492681.0',
 '320689294.00000006',
 '335062620.99999994',
 '273961019.0',
 '185260553.0',
 '152266007.0',
 '181489203.0',
 '152036382.0',
 '173046662.99999997',
 '242295562.00000003',
 '325338851.0',
 '150000000.0',
 '250200000.0',
 '134700000.0',
 '150270147.0',
 '129832389.0',
 '102825796.0',
 '100860817.99999999',
 '121969216.0',
 '102616183.0',
 '75900000.0',
 '115267375.0',
 '100688705.0',
 '91000000.0',
 '165615285.0',
 '147554998.0',
 '73052428.0',
 '36400000.0',
 '101371017.0',
 '89456761.0',
 '113309743.0',
 '126188999.99999999',
 '5700000.0',
 '42000000.0',
 '53192700.0',
 '34585416.0',
 '11768149.0',
 '33500000.000000004',
 '42277365.0',
 '7200000.0',
 '30900000.0',
 '36000000.0',
 '63054725.0',
 '15600000.0',
 '57400547.0',
 '38200000.0',
 '13100000.000000002',
 '34100000.0',
 '16000000.0',
 '7500000.0',
 '33200000.0',
 '2800000.0',
 '12600000.0',
 '71558971.0',
 '36394530.0',
 '7989000.0',
 '51702483.0',
 '16900000.0',
 '16104765.0',
 '12272308.0',
 '2499999.9999999995',
 '2186772302.0',
 '589390539.0',
 '618638999.0',
 '302710615.0',
 '315156409.0',
 '314178011.0',
 '225933435.0',
 '172168576.0',
 '221300000.0',
 '128000000.0',
 '238207122.0',
 '174463257.0',
 '172363301.0',
 '224012234.0',
 '171120329.0',
 '252712101.0',
 '177977226.0',
 '136982834.0',
 '125586134.0',
 '178127760.0',
 '71000000.0',
 '126216940.0',
 '83256929.0',
 '263920180.00000003',
 '122417389.0',
 '108060970.0',
 '152944660.0',
 '24500000.0',
 '139804348.0',
 '229163264.0',
 '87949858.99999999',
 '159330280.0',
 '121214376.99999999',
 '67683989.0',
 '122823468.0',
 '115900000.0',
 '109423648.0',
 '97169156.0',
 '161376068.0',
 '257938649.0',
 '251212670.0',
 '18800000.0',
 '21000000.0',
 '16200000.0',
 '64217092.0',
 '81500000.0',
 '124909762.0',
 '110463140.0',
 '74727492.0',
 '131457682.0',
 '15449455.0',
 '37639029.0',
 '2900000.0',
 '48200000.0',
 '56042592.0',
 '12100000.0',
 '7000000.0',
 '20400000.0',
 '16700954.000000002',
 '612335.0',
 '24000000.0',
 '7500000.0',
 '4000000.0',
 '3600000.0',
 '36700000.0',
 '23367934.999999996',
 '40381260.0',
 '9615840.0',
 '4700000.0',
 '5600000.0',
 '960000.0',
 '481840909.0',
 '553709788.0',
 '369884651.0',
 '363398565.0',
 '185991646.0',
 '294456605.0',
 '244386864.0',
 '349464664.0',
 '242700000.0',
 '202292902.00000003',
 '285444603.0',
 '264118201.0',
 '304320254.0',
 '250821495.0',
 '250649836.0',
 '218613188.0',
 '140894675.0',
 '289317794.0',
 '139600000.0',
 '68573131.0',
 '171757863.0',
 '163644662.0',
 '105300000.0',
 '123306987.0',
 '198685114.0',
 '186883563.0',
 '164829966.0',
 '118999999.99999999',
 '131183530.0',
 '136159423.0',
 '128038368.0',
 '98005666.0',
 '81471882.0',
 '102367405.0',
 '182968901.99999997',
 '103891409.0',
 '71485043.0',
 '71282547.0',
 '68169816.0',
 '142940100.0',
 '4400000.0',
 '70697479.0',
 '116672911.99999999',
 '49789066.0',
 '44000000.0',
 '52055057.0',
 '34455157.0',
 '77745568.0',
 '13100000.000000002',
 '98126565.0',
 '68760009.0',
 '93107289.0',
 '18288000.0',
 '82150642.0',
 '55494066.00000001',
 '43515982.0',
 '48500000.0',
 '15400000.0',
 '15685000.0',
 '30182538.0',
 '2600000.0',
 '35100000.0',
 '50812000.0',
 '46189568.0',
 '12821984.999999998',
 '26000000.0',
 '67000000.00000001',
 '44000000.0',
 '23875127.0',
 '1027044677.0',
 '672806292.0',
 '485015179.0',
 '312016858.0',
 '463517383.0',
 '448191819.0',
 '234801895.0',
 '415933406.0',
 '309457509.0',
 '248639099.0',
 '300135367.0',
 '286801374.0',
 '226200000.0',
 '361832400.0',
 '177841558.0',
 '363889678.0',
 '222105681.0',
 '176885658.0',
 '149705852.0',
 '132922000.0',
 '206071502.0',
 '134403112.0',
 '177311151.0',
 '212404396.0',
 '161626121.0',
 '128798265.0',
 '100230832.0',
 '164648142.0',
 '90683916.0',
 '55000000.0',
 '117758500.0',
 '211989043.0',
 '151493655.0',
 '98625775.0',
 '92938755.0',
 '73521587.0',
 '103166988.99999999',
 '90874570.0',
 '107752036.0',
 '93700000.0',
 '88545092.0',
 '162091208.0',
 '29090474.0',
 '93888180.0',
 '118880016.0',
 '6000000.0',
 '73956241.0',
 '89446268.0',
 '133949270.0',
 '74733517.0',
 '75902208.0',
 '71000000.0',
 '96618699.0',
 '34573780.0',
 '54264342.0',
 '29000000.0',
 '56870414.0',
 '74160911.0',
 '60289912.0',
 '48350205.0',
 '36341959.0',
 '40246517.0',
 '41067311.0',
 '80000000.0',
 '25995827.0',
 '8300000.0',
 '36822378.0',
 '58401898.0',
 '22593408.999999996',
 '20162705.0',
 '22323612.0',
 '66976317.0',
 '30626690.0',
 '27655433.0',
 '12800000.0',
 '19912120.0',
 '24522891.0',
 '5503148.0',
 '2595216.0',
 '1788168.0',
 '345141403.0',
 '429632142.0',
 '565400000.0',
 '457640427.0',
 '191300000.0',
 '328718434.0',
 '330444045.0',
 '296339527.0',
 '278019771.0',
 '291420351.0',
 '354248063.0',
 '213525736.0',
 '256271286.0',
 '138800000.0',
 '207515725.0',
 '166339890.0',
 '173959438.0',
 '136706683.0',
 '215294342.0',
 '224834564.0',
 '212742720.0',
 '237202299.0',
 '154500000.0',
 '149270999.0',
 '128884132.0',
 '169327687.0',
 '161830000.0',
 '127666414.99999999',
 '103291131.0',
 '124745083.0',
 '118000000.0',
 '81190583.0',
 '107196498.0',
 '110317580.0',
 '215663859.0',
 '119754278.0',
 '90449929.0',
 '183611771.0',
 '80049764.0',
 '71732303.0',
 '104155843.0',
 '110983407.0',
 '113916474.0',
 '62464731.0',
 '59827328.0',
 '106371651.0',
 '99274467.0',
 '91036760.0',
 '112880294.0',
 '76529181.0',
 '82343495.0',
 '73180723.0',
 '96159800.0',
 '75769783.0',
 '68106245.0',
 '5317452.0',
 '144056873.0',
 '58292295.0',
 '53187659.0',
 '90383208.0',
 '90726668.0',
 '62198945.0',
 '59945183.0',
 '15829814.0',
 '59468275.0',
 '61481197.00000001',
 '66579890.0',
 '55707411.0',
 '47053625.0',
 '62761005.00000001',
 '14848839.0',
 '21300000.0',
 '39723096.0',
 '2133268.0',
 '36755000.0',
 '109280263.0',
 '8253978.0',
 '17105555.0',
 '4050963.0',
 '8312406.0',
 '22361811.0',
 '15983079.0',
 '68411275.0',
 '31355910.0',
 '18404706.0',
 '18133495.0',
 '747934.0',
 '33807409.0',
 '34266564.0',
 '24362772.0',
 '4445811.0',
 '22844291.0',
 '44567606.0',
 '16643190.999999998',
 '10558970.0',
 '11155214.0',
 '17989227.0',
 '13069740.0',
 '12591270.0',
 '40031879.0',
 '7390108.000000001',
 '3542843.0',
 '4800000.0',
 '3003296.0',
 '974755371.0',
 '871530324.0',
 '562816256.0',
 '484409217.99999994',
 '347325802.0',
 '433013274.0',
 '449220945.0',
 '450717150.0',
 '368780809.0',
 '362211740.0',
 '313542341.0',
 '351692268.0',
 '287553595.0',
 '207283925.0',
 '274703340.0',
 '176104344.0',
 '147934180.0',
 '172989651.0',
 '57086197.0',
 '203388341.0',
 '209947037.0',
 '141774679.0',
 '138191428.0',
 '200687492.0',
 '131706809.00000001',
 '186053000.0',
 '102992536.0',
 '235927000.00000003',
 '104876233.0',
 '105178561.0',
 '281929795.0',
 '141220678.0',
 '113579918.0',
 '141069860.0',
 '147080413.0',
 '81000000.0',
 '71186502.0',
 '94728529.0',
 '91753222.0',
 '87713825.0',
 '84772742.0',
 '179213434.0',
 '85498534.0',
 '117487473.0',
 '100020092.0',
 '83282296.0',
 '19077240.0',
 '79958599.0',
 '96976270.0',
 '65001485.0',
 '77516304.0',
 '76019048.0',
 '59249294.0',
 '60780981.0',
 '28783380.0',
 '26600000.0',
 '67631903.0',
 '87754044.0',
 '57756408.0',
 '97818139.0',
 '98376292.0',
 '66468332.00000001',
 '59217789.0',
 '64437846.99999999',
 '43368779.0',
 '85131830.0',
 '74558115.0',
 '35743308.0',
 '37317558.0',
 '34585771.0',
 '39438674.0',
 '62112895.0',
 '65754228.0',
 '56359980.0',
 '37000000.0',
 '16300000.000000002',
 '29419291.0',
 '27642707.0',
 '19334145.0',
 '18868099.0',
 '5920746.0',
 '14278720.0',
 '13601109.0',
 '3830243.0000000005',
 '13256225.0',
 '6867516.0',
 '274925095.0',
 '8704851.0',
 '20112339.0',
 '3652318.0',
 '2543544.0',
 '2210366.0',
 '4760014.0',
 '5271666.0',
 '418488.0',
 '3646994.0',
 '2006391.0',
 '42776760.0',
 '143049560.0',
 '821708551.0',
 '926047111.0',
 '649398328.0',
 '878979634.0',
 '368744044.0',
 '408247917.0',
 '296655431.0',
 '441818803.0',
 '383257136.0',
 '306776732.0',
 '352114312.0',
 '431971116.0',
 '122356539.0',
 '273144151.0',
 '277448382.0',
 '172855065.0',
 '358372926.0',
 '249348933.0',
 '53399006.0',
 '171269535.0',
 '214034224.0',
 '193921372.0',
 '242875078.0',
 '181001478.0',
 '196397415.0',
 '154906693.0',
 '199043242.0',
 '209196298.0',
 '165333180.0',
 '119723358.0',
 '155010032.0',
 '115035090.0',
 '114660784.0',
 '193772504.0',
 '77063924.0',
 '80693537.0',
 '122563539.0',
 '102244770.0',
 '73839240.0',
 '113714830.0',
 '94935764.0',
 '105834556.0',
 '169956806.0',
 '123729176.0',
 '75395048.0',
 '177394432.0',
 '122000000.0',
 '62432423.0',
 '104391623.0',
 '109862682.0',
 '97837138.0',
 '37654970.0',
 '67312826.0',
 '82150183.0',
 '108846072.0',
 '63781100.0',
 '130549455.0',
 '77628265.0',
 '11209000.0',
 '62321149.00000001',
 '20586040.0',
 '78382433.0',
 '11793445.0',
 '109578115.0',
 '77741732.0',
 '95146283.0',
 '61141030.0',
 '55157539.0',
 '30547160.0',
 '60279822.0',
 '120072577.0',
 '54994757.0',
 '19500000.0',
 '37664855.0',
 '38068353.0',
 '65977295.0',
 '38236393.0',
 '52353400.0',
 '56298474.0',
 '43928932.0',
 '43978606.0',
 '12241855.0',
 '30553394.0',
 '13209403.0',
 '25852764.0',
 '24665649.0',
 '45867333.0',
 '20146150.0',
 '21229200.0',
 '16873000.0',
 '27674124.0',
 '3289543.0',
 '12302219.0',
 '5872571.0',
 '4550000.0',
 '32059295.0',
 '11805917.0',
 '7093284.0',
 '2087663.9999999998',
 '2683893.0',
 '9304609.0',
 '3809226.0',
 '20737147.0',
 '3821651.0',
 '5359644.999999999',
 '2622015.0',
 '8708932.0',
 '6416302.0',
 '1954937.0',
 '936743261.0',
 '1119929521.0',
 '654264015.0',
 '742128461.0',
 '484572835.00000006',
 '407711549.0',
 '47044933.0',
 '283000000.0',
 '427343298.0',
 '190212113.0',
 '273339556.0',
 '195745823.00000003',
 '164729678.99999997',
 '113107712.0',
 '107376377.0',
 '266728738.0',
 '148336445.0',
 '207725639.0',
 '197011982.0',
 '456758981.0',
 '160846332.0',
 '220673217.0',
 '176070171.0',
 '177371441.0',
 '231449203.0',
 '164433867.0',
 '179179718.0',
 '133960541.0',
 '158345677.0',
 '173013509.0',
 '212011111.0',
 '124914842.0',
 '156822020.00000003',
 '250397798.0',
 '114908830.0',
 '131282949.0',
 '26500000.0',
 '182290266.0',
 '87055349.0',
 '180949045.0',
 '71406573.0',
 '88929111.0',
 '179265204.0',
 '122919055.0',
 '156505388.0',
 '141337989.0',
 '88323487.0',
 '77147031.0',
 '246942017.0',
 '81896744.0',
 '68613992.0',
 '98185582.0',
 '101564935.0',
 '96269811.99999999',
 '101191884.0',
 '90259536.0',
 '95708457.0',
 '80154140.0',
 '121975011.0',
 '87793604.0',
 '10695398.0',
 '80916492.0',
 '90426405.0',
 '119723856.0',
 '42733286.0',
 '58878723.0',
 '11273034.0',
 '13203787.0',
 '28659212.0',
 '14622111.0',
 '63102666.0',
 '120217408.99999999',
 '56489558.0',
 '64240813.0',
 '10782486.0',
 '65784503.0',
 '75715436.0',
 '47488536.0',
 '74208267.0',
 '96542059.0',
 '54667954.0',
 '160583018.0',
 '15999250.0',
 '80767884.0',
 '39267515.0',
 '44350925.99999999',
 '13960630.0',
 '34268701.0',
 '68514844.0',
 '3905032.0',
 '14000000.0',
 '16971092.0',
 '24453820.0',
 '60427838.99999999',
 '18191005.0',
 '8922208.0',
 '4194583.0',
 '23014206.0',
 '9630000.0',
 '8546666.0',
 '24863804.000000004',
 '23726793.0',
 '13575809.0',
 '743364.0',
 '724744.0',
 '9439660.0',
 '10020543.0',
 '5403151.0',
 '2466444.0',
 '4856298.0',
 '14980005.0',
 '6106178.0',
 '919838758.0',
 '783766341.0',
 '516642939.0',
 '631442092.0',
 '796688548.9999999',
 '544272402.0',
 '307514317.0',
 '288500217.0',
 '174443000.0',
 '367275019.0',
 '202433893.0',
 '497409852.0',
 '362744280.00000006',
 '196485100.0',
 '300257475.0',
 '209073644.99999997',
 '167722310.0',
 '256697520.00000003',
 '187281115.0',
 '213741459.0',
 '217764291.00000003',
 '216763646.0',
 '134734481.0',
 '170268750.0',
 '171963386.0',
 '129042871.0',
 '140161792.0',
 '90574187.99999999',
 '181466833.0',
 '116072707.0',
 '172544654.0',
 '130293714.0',
 '140813273.0',
 '200804534.0',
 '124731534.0',
 '102332848.0',
 '96572480.0',
 '109706931.0',
 '113086475.0',
 '40800000.0',
 '117592831.0',
 '152159461.0',
 '96105964.0',
 '65971313.0',
 '64445708.0',
 '99414250.0',
 '102001626.0',
 '43335423.99999999',
 '71274967.0',
 '38122165.0',
 '115772733.0',
 '39223950.0',
 '103911669.0',
 '98410060.99999999',
 '128905365.99999999',
 '203567857.0',
 '116766556.0',
 '70164105.0',
 '103380072.0',
 '78193382.0',
 '103951461.0',
 '48551322.0',
 '92913171.0',
 '36178600.0',
 '262520724.0',
 '82102379.0',
 '76747441.0',
 '68895435.0',
 '73169222.0',
 '115505027.0',
 '17447224.0',
 '65470529.0',
 '38753975.0',
 '56422687.00000001',
 '33051296.000000004',
 '61347797.0',
 '37666766.0',
 '9043000.0',
 '48170758.0',
 '10788000.0',
 '36532987.0',
 '27388767.0',
 '25819961.0',
 '46546197.0',
 '34586268.0',
 '12144910.0',
 '101434304.0',
 '24741977.0',
 '20866170.0',
 '41512007.0',
 '3111019.9999999995',
 '27685016.000000004',
 '35150546.0',
 '14793624.0',
 '10148953.0',
 '10156933.0',
 '2650407.0',
 '8010813.999999999',
 '70115868.0',
 '6614280.0',
 '40273930.0',
 '23925492.0',
 '235184110.0',
 '23658061.0',
 '32000000.000000004',
 '3159921.0',
 '31933365.0',
 '76287982.0',
 '8203235.0',
 '1548955.0',
 '848754768.0',
 '745013115.0',
 '896911078.0',
 '591745540.0',
 '285176741.0',
 '374218673.0',
 '474968763.0',
 '532680671.0',
 '478207520.0',
 '368100420.0',
 '190320568.0',
 '175424795.0',
 '314432837.0',
 '260718330.00000003',
 '186438883.0',
 '198636868.00000003',
 '202026112.0',
 '177378644.99999997',
 '133680000.0',
 '147748505.0',
 '178062759.0',
 '154749918.0',
 '97918663.0',
 '129181830.0',
 '111069515.0',
 '161451538.0',
 '230884728.00000003',
 '144216468.0',
 '92374674.0',
 '162944923.0',
 '132511035.0',
 '103075949.0',
 '119269485.99999999',
 '76669806.0',
 '144146816.0',
 '42813762.0',
 '86369815.0',
 '96889998.0',
 '131426169.0',
 '108539911.0',
 '92283851.0',
 '37685971.0',
 '162242962.0',
 '91196419.0',
 '192610372.00000003',
 '95226116.0',
 '72028752.0',
 '117195061.0',
 '110013167.0',
 ...]

In [301]:
table_1['international box office']=box_lst

C:\Users\LZJ1995\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [302]:
table=pd.concat([table_1,table_2],ignore_index=True,sort=False).drop_duplicates().reset_index().drop(columns='index')
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Remake,2004-01-01,"Bosnia and Herzegovina, France, Turkey","Bosnian, French, English",102.0,"Biography, Drama, History",NaN,7.7,NaN,683.0,8.0,2.0,Dino Mustafic,Zlatko Topcic,"Ermin Bravo, Aleksandar Seksan, Ermin Sijamija...",20000000,NaN,41867945,168725384.0
1,Tideland,2006-10-01,"UK, Canada",English,120.0,"Drama, Fantasy, Horror",R,6.5,26.0,29913.0,198.0,143.0,Terry Gilliam,"Tony Grisoni, Terry Gilliam","Jodelle Ferland, Janet McTeer, Brendan Fletche...",19300000,7276.0,66453,197658.99999999997
2,Passion Play,2011-01-01,USA,English,94.0,"Drama, Fantasy, Romance",R,4.8,22.0,7055.0,92.0,59.0,Mitch Glazer,Mitch Glazer,"Mickey Rourke, Megan Fox, Bill Murray, Kelly L...",8000000,2100.0,3669,11500000.0
3,Jurassic Park,1993-06-11,USA,"English, Spanish",127.0,"Adventure, Sci-Fi, Thriller",PG-13,8.1,68.0,773402.0,1010.0,343.0,Steven Spielberg,"Michael Crichton, Michael Crichton","Sam Neill, Laura Dern, Jeff Goldblum, Richard ...",63000000,50159460.0,402453882,1029153882.0000001
4,Mrs. Doubtfire,1993-11-24,USA,English,125.0,"Comedy, Drama, Family",PG-13,7.0,53.0,217547.0,252.0,55.0,Chris Columbus,"Anne Fine, Randi Mayem Singer","Robin Williams, Sally Field, Pierce Brosnan, H...",25000000,NaN,219200000,441286195.0

In [304]:
table['international box office']=pd.to_numeric(table['international box office'],downcast='integer')

In [305]:
table=table.sort_values(by='release date',ascending=True).reset_index()
table.head()

,index,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,2877,Ba wang bie ji,1993-01-01,"China, Hong Kong",Mandarin,171.0,"Drama, Music, Romance",R,8.1,NaN,21885.0,92.0,43.0,Kaige Chen,"Pik Wah Lee, Pik Wah Lee","Leslie Cheung, Fengyi Zhang, Li Gong, Qi Lü, D...",4000000,NaN,5216888,NaN
1,2916,Arizona Dream,1993-01-06,"USA, France","English, Spanish, Inuktitut",142.0,"Comedy, Drama, Fantasy",R,7.4,NaN,38366.0,82.0,41.0,Emir Kusturica,"David Atkins, Emir Kusturica","Johnny Depp, Jerry Lewis, Faye Dunaway, Lili T...",19000000,NaN,106658,NaN
2,2864,Leprechaun,1993-01-08,USA,English,92.0,"Comedy, Fantasy, Horror",R,4.7,NaN,20634.0,184.0,80.0,Mark Jones,Mark Jones,"Warwick Davis, Jennifer Aniston, Ken Olandt, M...",900000,2493020.0,8556940,NaN
3,2847,Body of Evidence,1993-01-15,"Germany, USA",English,99.0,"Drama, Thriller",R,4.4,NaN,12873.0,83.0,47.0,Uli Edel,Brad Mirman,"Madonna, Michael Forest, Joe Mantegna, Charles...",30000000,NaN,13275426,NaN
4,2818,Alive,1993-01-15,"USA, Canada",English,120.0,"Adventure, Biography, Drama",R,7.1,NaN,45812.0,125.0,45.0,Frank Marshall,"Piers Paul Read, John Patrick Shanley","Ethan Hawke, Vincent Spano, Josh Hamilton, Bru...",32000000,8624292.0,36733909,NaN

In [306]:
table=table.drop(columns='index')
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget,opeing USA box office,US box office,international box office
0,Ba wang bie ji,1993-01-01,"China, Hong Kong",Mandarin,171.0,"Drama, Music, Romance",R,8.1,NaN,21885.0,92.0,43.0,Kaige Chen,"Pik Wah Lee, Pik Wah Lee","Leslie Cheung, Fengyi Zhang, Li Gong, Qi Lü, D...",4000000,NaN,5216888,NaN
1,Arizona Dream,1993-01-06,"USA, France","English, Spanish, Inuktitut",142.0,"Comedy, Drama, Fantasy",R,7.4,NaN,38366.0,82.0,41.0,Emir Kusturica,"David Atkins, Emir Kusturica","Johnny Depp, Jerry Lewis, Faye Dunaway, Lili T...",19000000,NaN,106658,NaN
2,Leprechaun,1993-01-08,USA,English,92.0,"Comedy, Fantasy, Horror",R,4.7,NaN,20634.0,184.0,80.0,Mark Jones,Mark Jones,"Warwick Davis, Jennifer Aniston, Ken Olandt, M...",900000,2493020.0,8556940,NaN
3,Body of Evidence,1993-01-15,"Germany, USA",English,99.0,"Drama, Thriller",R,4.4,NaN,12873.0,83.0,47.0,Uli Edel,Brad Mirman,"Madonna, Michael Forest, Joe Mantegna, Charles...",30000000,NaN,13275426,NaN
4,Alive,1993-01-15,"USA, Canada",English,120.0,"Adventure, Biography, Drama",R,7.1,NaN,45812.0,125.0,45.0,Frank Marshall,"Piers Paul Read, John Patrick Shanley","Ethan Hawke, Vincent Spano, Josh Hamilton, Bru...",32000000,8624292.0,36733909,NaN

In [308]:
table['budget']=table['budget']/1000000
table['opeing USA box office']=table['opeing USA box office']/1000000
table['US box office']=table['US box office']/1000000
table['international box office']=table['international box office']/1000000

In [311]:
table=table.rename(columns={'budget':'budget (million)','opeing USA box office':'Opening US (million)',\
                           'US box office':'US (million)','international box office':'international (million)'})

In [312]:
table.to_csv('data table.csv',index=False)

## Column  strings split

In [8]:
table=pd.read_csv('data table.csv')
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget (million),Opening US (million),US (million),international (million)
0,Ba wang bie ji,1993-01-01,"China, Hong Kong",Mandarin,171.0,"Drama, Music, Romance",R,8.1,NaN,21885.0,92.0,43.0,Kaige Chen,"Pik Wah Lee, Pik Wah Lee","Leslie Cheung, Fengyi Zhang, Li Gong, Qi Lü, D...",4.0,NaN,5.216888,NaN
1,Arizona Dream,1993-01-06,"USA, France","English, Spanish, Inuktitut",142.0,"Comedy, Drama, Fantasy",R,7.4,NaN,38366.0,82.0,41.0,Emir Kusturica,"David Atkins, Emir Kusturica","Johnny Depp, Jerry Lewis, Faye Dunaway, Lili T...",19.0,NaN,0.106658,NaN
2,Leprechaun,1993-01-08,USA,English,92.0,"Comedy, Fantasy, Horror",R,4.7,NaN,20634.0,184.0,80.0,Mark Jones,Mark Jones,"Warwick Davis, Jennifer Aniston, Ken Olandt, M...",0.9,2.493020,8.556940,NaN
3,Body of Evidence,1993-01-15,"Germany, USA",English,99.0,"Drama, Thriller",R,4.4,NaN,12873.0,83.0,47.0,Uli Edel,Brad Mirman,"Madonna, Michael Forest, Joe Mantegna, Charles...",30.0,NaN,13.275426,NaN
4,Alive,1993-01-15,"USA, Canada",English,120.0,"Adventure, Biography, Drama",R,7.1,NaN,45812.0,125.0,45.0,Frank Marshall,"Piers Paul Read, John Patrick Shanley","Ethan Hawke, Vincent Spano, Josh Hamilton, Bru...",32.0,8.624292,36.733909,NaN

In [12]:
sns.heatmap(table, annot=True);

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [7]:
table[table['movie'].str.contains('Avengers')]

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,reviews number,critics number,director,writer,actor,budget (million),Opening US (million),US (million),international (million)
895,The Avengers,1998-08-14,USA,English,89.0,"Action, Adventure, Sci-Fi",PG-13,3.7,12.0,38584.0,459.0,116.0,Jeremiah S. Chechik,"Sydney Newman, Don MacPherson","Ralph Fiennes, Uma Thurman, Sean Connery, Patr...",60.0,10.305957,23.322832,48.500000
4416,The Avengers,2012-05-04,USA,"English, Russian, Hindi",143.0,"Action, Adventure, Sci-Fi",PG-13,8.1,69.0,1158834.0,1783.0,726.0,Joss Whedon,"Joss Whedon, Zak Penn","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",220.0,207.438708,623.357910,1519.557910
5212,Avengers: Age of Ultron,2015-05-01,USA,"English, Korean",141.0,"Action, Adventure, Sci-Fi",PG-13,7.4,66.0,639408.0,1178.0,670.0,Joss Whedon,"Joss Whedon, Stan Lee","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",250.0,191.271109,459.005868,1405.413868
5921,Avengers: Infinity War,2018-04-27,USA,English,149.0,"Action, Adventure, Sci-Fi",PG-13,8.5,68.0,610405.0,3842.0,560.0,"Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",321.0,257.698183,678.815482,2048.709917

In [13]:
corr = table.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [63]:
table['votes number']=table['votes number'].fillna(0)
table['votes number']=table['votes number'].astype(int)

table['reviews number']=table['reviews number'].fillna(0)
table['reviews number']=table['reviews number'].astype(int)

table['critics number']=table['critics number'].fillna(0)
table['critics number']=table['critics number'].astype(int)

table.loc[:,'director':'actor']=table.loc[:,'director':'actor'].fillna('N/A')

In [64]:
actorlist=pd.read_csv('actor income.csv')
directorlist=pd.read_csv('director income.csv')
writerlist=pd.read_csv('writer income.csv')

In [65]:
test=pd.DataFrame({'actor':['Samuel L. Jackson, Morgan Freeman, John Frank','wild dog, Zecheng Wu',
                            'Harrison Ford, Eddie Murphy, Donald Trump, Lucy Liu, Julia Stiles, Demi Moore',\
                           'Tom Hanks, Oliver Queen','Emily Carter, Parker Wan','Laurel Lance, Jake Johnson, Tom Cruise']})


# Actor info insertion
act_ave = []
act_movies=[]
act_count = []
act_min=[]
act_max=[]
for actors in test['actor']:
    ave_total=0
    movie_total=0
    count=0
    ave_list=[]
    for i, row in actorlist.iterrows():
        
        if row['actor'] in actors:
            ave = row['average earned']
            ave_list.append(ave)
            ave_total += row['average earned']
            movie_total += row['# of movies'] 
            count+=1
        else:
            if ave_list!=[]:
                ave = min(ave_list)
                ave_list.append(ave)
        try:        
            mini=min(ave_list)
            maxi=max(ave_list)
        except:
            mini=0
            maxi=0
           
               
    act_ave.append(ave_total)
    act_movies.append(movie_total)
    act_min.append(mini)
    act_max.append(maxi)
    act_count.append(count)

In [66]:
test['actor match #']=act_count
test['actor average']=act_ave
test['actor movie #']=act_movies
test['actor min']=act_min
test['actor max']=act_max
test.head(6)

,actor,actor match #,actor average,actor movie #,actor min,actor max
0,"Samuel L. Jackson, Morgan Freeman, John Frank",2,153.5,140,71.5,82.0
1,"wild dog, Zecheng Wu",0,0.0,0,0.0,0.0
2,"Harrison Ford, Eddie Murphy, Donald Trump, Luc...",5,357.7,151,32.0,118.2
3,"Tom Hanks, Oliver Queen",1,96.0,48,96.0,96.0
4,"Emily Carter, Parker Wan",0,0.0,0,0.0,0.0
5,"Laurel Lance, Jake Johnson, Tom Cruise",2,200.0,50,99.9,100.1

In [67]:
table1=table.head(15)

In [68]:
# Actor info insertion
act_ave = []
act_movies=[]
act_count = []
act_min=[]
act_max=[]
for actors in table['actor']:
    ave_total=0
    movie_total=0
    count=0
    ave_list=[]
    for i, row in actorlist.iterrows():
        
        if row['actor'] in actors:
            ave = row['average earned']
            ave_list.append(ave)
            ave_total += row['average earned']
            movie_total += row['# of movies'] 
            count+=1
        else:
            if ave_list!=[]:
                ave = min(ave_list)
                ave_list.append(ave)
        try:        
            mini=min(ave_list)
            maxi=max(ave_list)
        except:
            mini=0
            maxi=0
           
               
    act_ave.append(ave_total)
    act_movies.append(movie_total)
    act_min.append(mini)
    act_max.append(maxi)
    act_count.append(count)

In [69]:
table['actor match #']=act_count
table['actor average']=act_ave
table['actor movie #']=act_movies
table['actor min']=act_min
table['actor max']=act_max
table.head()

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,...,actor,budget (million),Opening US (million),US (million),international (million),actor match #,actor average,actor movie #,actor min,actor max
0,Ba wang bie ji,1993-01-01,"China, Hong Kong",Mandarin,171.0,"Drama, Music, Romance",R,8.1,NaN,21885,...,"Leslie Cheung, Fengyi Zhang, Li Gong, Qi Lü, D...",4.0,NaN,5.216888,NaN,0,0.0,0,0.0,0.0
1,Arizona Dream,1993-01-06,"USA, France","English, Spanish, Inuktitut",142.0,"Comedy, Drama, Fantasy",R,7.4,NaN,38366,...,"Johnny Depp, Jerry Lewis, Faye Dunaway, Lili T...",19.0,NaN,0.106658,NaN,1,78.5,49,78.5,78.5
2,Leprechaun,1993-01-08,USA,English,92.0,"Comedy, Fantasy, Horror",R,4.7,NaN,20634,...,"Warwick Davis, Jennifer Aniston, Ken Olandt, M...",0.9,2.493020,8.556940,NaN,1,50.8,32,50.8,50.8
3,Body of Evidence,1993-01-15,"Germany, USA",English,99.0,"Drama, Thriller",R,4.4,NaN,12873,...,"Madonna, Michael Forest, Joe Mantegna, Charles...",30.0,NaN,13.275426,NaN,2,70.2,119,34.8,35.4
4,Alive,1993-01-15,"USA, Canada",English,120.0,"Adventure, Biography, Drama",R,7.1,NaN,45812,...,"Ethan Hawke, Vincent Spano, Josh Hamilton, Bru...",32.0,8.624292,36.733909,NaN,0,0.0,0,0.0,0.0

In [70]:
# Director info insertion
dir_average = []
dir_movies = []
dir_count = []
for directors in table['director']:
    ave_total=0
    movie_total=0
    count=0
    for i, row in directorlist.iterrows():
        if row['director'] in directors:
            ave_total += row['average earned']
            movie_total += row['# of movies']
            count+=1
               
    dir_average.append(ave_total)
    dir_movies.append(movie_total)
    dir_count.append(count)


table['director match #']=dir_count
table['directora verage']=dir_average
table['director movie #']=dir_movies

In [71]:
table=table.rename(columns={'directora verage':'director average'})

In [72]:
# Writer Process
wri_average = []
wri_movies = []
wri_count=[]
for writers in table['writer']:
    ave_total=0
    movie_total=0
    count=0
    for i, row in writerlist.iterrows():
        if row['writer'] in writers:
            ave_total += row['average earned']
            movie_total += row['# of movies']
            count +=1
               
    wri_average.append(ave_total)
    wri_movies.append(movie_total)
    wri_count.append(count)
    
table['writer match #']=wri_count
table['writers average']=wri_average
table['writer movie #']=wri_movies

In [ ]:
table.columns

In [44]:
table.iloc[500:510]

,movie,release date,country,language,runtime,category,rated,IMDB rating,Metacritic rating,votes number,...,actor average,actor movie #,actor min,actor max,director match #,director average,director movie #,writer match #,writers average,writer movie #
500,The Rock,1996-06-07,USA,English,136.0,"Action, Adventure, Thriller",R,7.4,58.0,291069,...,118.6,146,35.2,41.9,1,179.0,13,0,0.0,0
501,The Phantom,1996-06-07,"Australia, USA",English,100.0,"Action, Adventure, Comedy",PG,4.9,NaN,30363,...,51.2,24,51.2,51.2,0,0.0,0,0,0.0,0
502,The Cable Guy,1996-06-14,USA,"English, French",96.0,"Comedy, Drama, Thriller",PG-13,6.1,56.0,140365,...,406.7,199,38.6,90.9,0,0.0,0,0,0.0,0
503,Le huitième jour,1996-06-21,"Belgium, France, UK",French,118.0,"Comedy, Drama",NaN,7.6,NaN,8341,...,0.0,0,0.0,0.0,0,0.0,0,0,0.0,0
504,Lone Star,1996-06-21,USA,"English, Spanish",135.0,"Drama, Mystery",R,7.5,78.0,25981,...,95.5,76,47.7,47.8,0,0.0,0,0,0.0,0
505,The Hunchback of Notre Dame,1996-06-21,USA,"English, Latin",91.0,"Animation, Drama, Family",G,6.9,74.0,125708,...,69.4,72,32.0,37.4,0,0.0,0,0,0.0,0
506,Eraser,1996-06-21,USA,English,115.0,"Action, Drama, Mystery",R,6.1,56.0,96117,...,62.8,30,62.8,62.8,0,0.0,0,0,0.0,0
507,The Nutty Professor,1996-06-28,USA,English,95.0,"Comedy, Romance, Sci-Fi",PG-13,5.6,62.0,100697,...,97.7,39,97.7,97.7,1,111.6,8,0,0.0,0
508,Striptease,1996-06-28,USA,English,115.0,"Comedy, Crime, Drama",R,4.4,NaN,39615,...,32.0,32,32.0,32.0,0,0.0,0,0,0.0,0
509,Independence Day,1996-07-02,USA,English,145.0,"Action, Adventure, Sci-Fi",PG-13,7.0,59.0,491271,...,267.4,73,61.0,128.2,1,107.7,12,1,112.2,5

# Just count the match technique
pat = '|'.join(actor_l)
table['actor match #'] = table['actor'].str.count(pat)

pat = '|'.join(writer_l)
table['writer match #'] = table['writer'].str.count(pat)

pat = '|'.join(director_l)
table['director match #'] = table['director'].str.count(pat)

table.loc[:,'actor match #':'director match #'] = table.loc[:,'actor match #':'director match #'].fillna(0)
table.loc[:,'actor match #':'director match #'] = table.loc[:,'actor match #':'director match #'].astype(int)
table.head()

In [73]:
countrylist=['USA','UK','France','Germany']
languagelist=['English','French','Spanish','German']
categorylist=['Drama','Comedy','Action','Crime','Adventure']

In [74]:
# Find country match
strcountry='|'.join(countrylist)

table['USA']=table['country'].str.count('USA')
table['UK']=table['country'].str.count('UK')
table['Germany']=table['country'].str.count('Germany')
table['France']=table['country'].str.count('France')


# Find language match
strlanguage='|'.join(languagelist)

table['English']=table['language'].str.count('English')
table['French']=table['language'].str.count('French')
table['Spanish']=table['language'].str.count('Spanish')
table['German']=table['language'].str.count('German')


# Find category match
strcategory='|'.join(categorylist)

table['Drama']=table['category'].str.count('Drama')
table['Comedy']=table['category'].str.count('Comedy')
table['Action']=table['category'].str.count('Action')
table['Crime']=table['category'].str.count('Crime')
table['Adventure']=table['category'].str.count('Adventure')

In [75]:
table.loc[:, 'USA':'Adventure'] = table.loc[:, 'USA':'Adventure'].fillna(0)
table.loc[:, 'USA':'Adventure'] = table.loc[:, 'USA':'Adventure'].astype(int)

In [76]:
x_list=[]
y_list=[]
z_list=[]
x=list(table['language'].str.count(strlanguage))
y=list(table['country'].str.count(strcountry))
z=list(table['category'].str.count(strcategory))
for i in x:
    if i==0:
        x1=1
        x_list.append(x1)
    else:
        x1=0
        x_list.append(x1)
        
for j in y:
    if j==0:
        y1=1
        y_list.append(y1)
    else:
        y1=0    
        y_list.append(y1)

for m in z:
    if m==0:
        z1=1
        z_list.append(z1)
    else:
        z1=0
        z_list.append(z1)
        
        
table['other languages']=x_list
table['other countries']=y_list
table['other categories']=z_list

In [78]:
print(table['other languages'].value_counts())
print(table['other countries'].value_counts())
print(table['other categories'].value_counts())

0    5790
1     270
Name: other languages, dtype: int64
0    5542
1     518
Name: other countries, dtype: int64
0    5713
1     347
Name: other categories, dtype: int64

In [79]:
table['release date']=pd.to_datetime(table['release date'],errors='coerce')
table['release year']=table['release date'].dt.year
table['release month']=table['release date'].dt.month

In [80]:
table.columns

Index(['movie', 'release date', 'country', 'language', 'runtime', 'category',
       'rated', 'IMDB rating', 'Metacritic rating', 'votes number',
       'reviews number', 'critics number', 'director', 'writer', 'actor',
       'budget (million)', 'Opening US (million)', 'US (million)',
       'international (million)', 'actor match #', 'actor average',
       'actor movie #', 'actor min', 'actor max', 'director match #',
       'director average', 'director movie #', 'writer match #',
       'writers average', 'writer movie #', 'USA', 'UK', 'Germany', 'France',
       'English', 'French', 'Spanish', 'German', 'Drama', 'Comedy', 'Action',
       'Crime', 'Adventure', 'other languages', 'other countries',
       'other categories', 'release year', 'release month'],
      dtype='object')

In [81]:
table = table[['movie', 'release year', 'release month','USA', 'UK', 'Germany', 'France', 'other countries', 'English', 'French',\
               'Spanish', 'German', 'other languages','Action', 'Drama','Crime', 'Comedy', 'Adventure','other categories',\
               'runtime','rated','IMDB rating','Metacritic rating', 'votes number','reviews number','critics number',\
               'actor match #', 'actor average','actor movie #', 'actor min', 'actor max','director match #', \
               'director average', 'director movie #', 'writer match #', 'writers average','writer movie #', \
               'budget (million)', 'Opening US (million)','US (million)','international (million)']]

In [82]:
table.head()

,movie,release year,release month,USA,UK,Germany,France,other countries,English,French,...,director match #,director average,director movie #,writer match #,writers average,writer movie #,budget (million),Opening US (million),US (million),international (million)
0,Ba wang bie ji,1993.0,1.0,0,0,0,0,1,0,0,...,0,0.0,0,0,0.0,0,4.0,NaN,5.216888,NaN
1,Arizona Dream,1993.0,1.0,1,0,0,1,0,1,0,...,0,0.0,0,0,0.0,0,19.0,NaN,0.106658,NaN
2,Leprechaun,1993.0,1.0,1,0,0,0,0,1,0,...,0,0.0,0,0,0.0,0,0.9,2.493020,8.556940,NaN
3,Body of Evidence,1993.0,1.0,1,0,1,0,0,1,0,...,0,0.0,0,0,0.0,0,30.0,NaN,13.275426,NaN
4,Alive,1993.0,1.0,1,0,0,0,0,1,0,...,0,0.0,0,0,0.0,0,32.0,8.624292,36.733909,NaN

In [83]:
catlst=['TV-MA','TV-14','TV-G','TV-PG']
strcat='|'.join(catlst)

table=table[table['rated'].str.contains(strcat)==False]

In [84]:
table['rated'].value_counts()

R            2649
PG-13        1817
PG            730
Not Rated     445
G             113
Unrated        76
NC-17           9
Name: rated, dtype: int64

In [85]:
table['rated']=table['rated'].str.replace('Unrated','Not Rated')

In [86]:
table['rated'].value_counts()

R            2649
PG-13        1817
PG            730
Not Rated     521
G             113
NC-17           9
Name: rated, dtype: int64

In [88]:
table.to_csv('data table final.csv',index=False)

In [ ]:
table.loc[:,'budget':'international box office']=table.loc[:,'budget':'international box office'].astype(int)
table['budget']=table['budget']/1000000
table['opeing USA box office']=table['opeing USA box office']/1000000
table['US box office']=table['US box office']/1000000
table['international box office']=table['international box office']/1000000

In [47]:
cat0=[]
cat1=[]
cat2=[]
for m in range(len(table)):
    try:
        c0=list(table.iloc[m]['category'].split(', '))[0]
    except:
        pass
    
    try:
        c1=list(table.iloc[m]['category'].split(', '))[1]
    except:
        c1 = None
    try:
        c2=list(table.iloc[m]['category'].split(', '))[2]
    except:
        c2 = None
        
    cat0.append(c0)
    cat1.append(c1)
    cat2.append(c2)

t=pd.DataFrame({'category 1':cat0,'category 2':cat1,'category 3':cat2})
t.head()

cat0=[]
cat1=[]
cat2=[]
for m in range(len(table)):
    try:
        c0=list(table.iloc[m]['country'].split(', '))[0]
    except:
        pass
    
    try:
        c1=list(table.iloc[m]['country'].split(', '))[1]
    except:
        c1 = None
    try:
        c2=list(table.iloc[m]['country'].split(', '))[2]
    except:
        c2 = None
        
    cat0.append(c0)
    cat1.append(c1)
    cat2.append(c2)

t['country 1']=cat0
t['country 2']=cat1
t['country 3']=cat2

cat0=[]
cat1=[]
cat2=[]
for m in range(len(table)):
    try:
        c0=list(table.iloc[m]['language'].split(', '))[0]
    except:
        pass
    
    try:
        c1=list(table.iloc[m]['language'].split(', '))[1]
    except:
        c1 = None
    try:
        c2=list(table.iloc[m]['language'].split(', '))[2]
    except:
        c2 = None
        
    cat0.append(c0)
    cat1.append(c1)
    cat2.append(c2)

t['language 1']=cat0
t['language 2']=cat1
t['language 3']=cat2
t.head()

,category 1,category 2,category 3,country 1,country 2,country 3,language 1,language 2,language 3
0,Drama,Music,Romance,China,Hong Kong,None,Mandarin,None,None
1,Comedy,Drama,Fantasy,USA,France,None,English,Spanish,Inuktitut
2,Comedy,Fantasy,Horror,USA,None,None,English,None,None
3,Drama,Thriller,None,Germany,USA,None,English,None,None
4,Adventure,Biography,Drama,USA,Canada,None,English,None,None

In [80]:
t['category 3'].value_counts()

Thriller     648
Romance      612
Drama        465
Comedy       255
Sci-Fi       254
Fantasy      248
Mystery      229
Family       189
Crime        164
Horror       128
History      116
Sport         95
Music         83
War           73
Adventure     53
Musical       31
Western       23
Biography      8
Action         4
Name: category 3, dtype: int64

In [ ]:
countrylist=['USA','UK','Germany','France','Canada']
strcountry='|'.join(countrylist)

t['other country']=t['country 1'].str.contains(strcountry)==False

In [ ]:
t.head()